docs/psy-dsl-v0.11.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 心理咨询师
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779205480903-source-1779205673504-target
      selected: false
      source: '1779205480903'
      sourceHandle: source
      target: '1779205673504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779204939074-source-1779293483544-target
      selected: false
      source: '1779204939074'
      sourceHandle: source
      target: '1779293483544'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1779293818389-source-1779205697384-target
      selected: false
      source: '1779293818389'
      sourceHandle: source
      target: '1779205697384'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779337410108-true-1779293818389-target
      selected: false
      source: '1779337410108'
      sourceHandle: 'true'
      target: '1779293818389'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1779337410108-false-1779205697384-target
      selected: false
      source: '1779337410108'
      sourceHandle: 'false'
      target: '1779205697384'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779204939074-source-1779348584268-target
      selected: false
      source: '1779204939074'
      sourceHandle: source
      target: '1779348584268'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779348584268-source-1779349355740-target
      selected: false
      source: '1779348584268'
      sourceHandle: source
      target: '1779349355740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779293483544-source-1779716715273-target
      selected: false
      source: '1779293483544'
      sourceHandle: source
      target: '1779716715273'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779716715273-source-llm-target
      selected: false
      source: '1779716715273'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779349355740-source-1779717555576-target
      selected: false
      source: '1779349355740'
      sourceHandle: source
      target: '1779717555576'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779205480903-source-1779717724768-target
      selected: false
      source: '1779205480903'
      sourceHandle: source
      target: '1779717724768'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779708919320-source-17797178098120-target
      selected: false
      source: '1779708919320'
      sourceHandle: source
      target: '17797178098120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779710237289-source-1779718251824-target
      selected: false
      source: '1779710237289'
      sourceHandle: source
      target: '1779718251824'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779718251824-source-1779718060113-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779718060113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1779718060113-source-1779709370734-target
      selected: false
      source: '1779718060113'
      sourceHandle: source
      target: '1779709370734'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779718251824-source-1779868007113-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779868007113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1779872124969-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1779872124969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779205391389-source-17798742768870-target
      selected: false
      source: '1779205391389'
      sourceHandle: source
      target: '17798742768870'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 17798742768870-source-17798742810070-target
      selected: false
      source: '17798742768870'
      sourceHandle: source
      target: '17798742810070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-false-1779205480903-target
      selected: false
      source: '1779708958307'
      sourceHandle: 'false'
      target: '1779205480903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779939911254-true-1779939946740-target
      selected: false
      source: '1779939911254'
      sourceHandle: 'true'
      target: '1779939946740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779872124969-source-1779205391389-target
      selected: false
      source: '1779872124969'
      sourceHandle: source
      target: '1779205391389'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779939946740-source-17799400383490-target
      selected: false
      source: '1779939946740'
      sourceHandle: source
      target: '17799400383490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 17799400383490-source-1779940060929-target
      selected: false
      source: '17799400383490'
      sourceHandle: source
      target: '1779940060929'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779205673504-source-1779940110651-target
      selected: false
      source: '1779205673504'
      sourceHandle: source
      target: '1779940110651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779940110651-source-1779337410108-target
      selected: false
      source: '1779940110651'
      sourceHandle: source
      target: '1779337410108'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779963128615-source-1779963168931-target
      selected: false
      source: '1779963128615'
      sourceHandle: source
      target: '1779963168931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779963168931-source-1779939911254-target
      selected: false
      source: '1779963168931'
      sourceHandle: source
      target: '1779939911254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779205391389-source-1779963128615-target
      selected: false
      source: '1779205391389'
      sourceHandle: source
      target: '1779963128615'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 17798742810070-source-1779939911254-target
      selected: false
      source: '17798742810070'
      sourceHandle: source
      target: '1779939911254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779718251824-source-1779963775579-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779963775579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779963775579-source-1779963867804-target
      selected: false
      source: '1779963775579'
      sourceHandle: source
      target: '1779963867804'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779939911254-false-1779968567689-target
      selected: false
      source: '1779939911254'
      sourceHandle: 'false'
      target: '1779968567689'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779968567689-source-1779968610422-target
      selected: false
      source: '1779968567689'
      sourceHandle: source
      target: '1779968610422'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779968610422-source-1779708958307-target
      selected: false
      source: '1779968610422'
      sourceHandle: source
      target: '1779708958307'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779868007113-source-1780040399983-target
      selected: false
      source: '1779868007113'
      sourceHandle: source
      target: '1780040399983'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780040399983-source-1780038042537-target
      selected: false
      source: '1780040399983'
      sourceHandle: source
      target: '1780038042537'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1780038042537-source-1780041151933-target
      selected: false
      source: '1780038042537'
      sourceHandle: source
      target: '1780041151933'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1780041151933-true-1779868231767-target
      selected: false
      source: '1780041151933'
      sourceHandle: 'true'
      target: '1779868231767'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1779963867804-source-1780051156476-target
      selected: false
      source: '1779963867804'
      sourceHandle: source
      target: '1780051156476'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17797178098120-source-1779710237289-target
      selected: false
      source: '17797178098120'
      sourceHandle: source
      target: '1779710237289'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-74c0ab05-7b6f-4137-8d7b-427ff67628c5-1779708919320-target
      selected: false
      source: '1779708958307'
      sourceHandle: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
      target: '1779708919320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-true-1780061016312-target
      source: '1779708958307'
      sourceHandle: 'true'
      target: '1780061016312'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1780061016312-source-17800612389130-target
      source: '1780061016312'
      sourceHandle: source
      target: '17800612389130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 17800612389130-source-17800612687800-target
      source: '17800612389130'
      sourceHandle: source
      target: '17800612687800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1779717555576-source-llm-target
      source: '1779717555576'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
      height: 108
      id: '1779204939074'
      position:
        x: 0
        y: 295.38571428571424
      positionAbsolute:
        x: 0
        y: 295.38571428571424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a51bdd63-4ce9-4209-b0a2-45eb4d9bb8da
          role: system
          text: "你是风险分类器，不是咨询师。\n\n你只做一件事：根据用户当前输入和上下文判断风险等级。\n\n必须只输出 JSON。\n禁止输出解释。\n\
            禁止输出安慰。\n禁止输出给用户看的话。\n禁止输出 Markdown。\n禁止输出代码块。\n禁止输出“我是风险识别模型”。\n\n风险等级：\n\
            low：没有自伤、自杀、伤害他人、极端绝望表达\nmedium：出现“活着没意思”“没有意义”“撑不下去”“想消失”等表达，但没有具体计划\n\
            high：出现自伤/自杀/伤害他人的想法、计划、方式、准备行为，或正在实施风险\n\n返回格式：\n\n{\n  \"risk_level\"\
            : \"low/medium/high\",\n  \"need_safety_check\": true/false,\n  \"reason\"\
            : \"20字以内，仅供系统使用\"\n}\n\n用户当前输入：\n{{#sys.query#}}\n\n最近上下文：\n{{#1779716715273.context_text#}}"
        selected: false
        structured_output_enabled: true
        title: Risk Detection
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 1066
        y: 225.81904761904764
      positionAbsolute:
        x: 1066
        y: 225.81904761904764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 18c2c3c9-ee98-4fa6-bdac-e64e9a2b0cde
          role: system
          text: '你是心理分析模型。


            请分析：


            1. 用户当前主要情绪

            2. 用户核心问题

            3. 用户当前更需要：

            - 共情

            - 倾诉

            - 引导

            - 行动建议


            4. 当前咨询阶段：

            - trust

            - deep

            - reframe

            - action


            返回 JSON：


            {

            "emotion": "",

            "main_issue": "",

            "hidden_pattern": "",

            "relationship_style": "",

            "stage": ""

            }


            用户输入：

            {{#sys.query#}}'
        selected: false
        structured_output_enabled: true
        title: Psychological Analysis
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779205391389'
      position:
        x: 1750
        y: 248.81904761904764
      positionAbsolute:
        x: 1750
        y: 248.81904761904764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a65ba3a9-a0f6-43f2-ad0f-f84f094a5a44
          role: system
          text: '你是一位经验丰富的心理咨询师。


            你的目标不是安慰用户，也不是给用户上课，

            而是通过自然、克制、具体的对话，帮助用户理解自己的情绪、行为和当前困扰。


            你的回复要像真实咨询师：

            不急着安慰，不急着建议，不长篇输出，不说教，不替用户下结论。

            优先澄清用户真实体验，再轻微理解，最后才考虑行动建议。


            # 核心原则


            1. 先跟随，再推进


            始终优先回应用户刚才的具体内容。

            如果用户已经给出具体场景，必须继续围绕这个场景探索，不要跳到其他场景。


            例如：

            用户说“打游戏语音时，我说话死气沉沉”，就继续围绕这个场景问：

            “你说‘好的’之前，脑子里最先闪过的念头是什么？”

            不要跳到“朋友、同事、家人面前也会这样吗？”


            2. 先澄清，再解释


            不要急着分析用户为什么这样，也不要替用户下结论。

            先问清楚：

            - 具体发生了什么

            - 当时用户怎么想

            - 当时有什么感受

            - 对方有什么反应

            - 用户是怎么判断的


            如果只是推测，必须用很轻的方式表达：

            “我不确定这样理解对不对……”

            “这里可能有一点线索，但我不急着下结论。”

            “你看这个说法贴不贴近你的感受？”


            3. 不强行解释用户


            禁止替用户添加没有表达过的强烈感受。

            除非用户明确说过，否则不要使用：

            “被遗弃”“创伤”“依恋”“拒绝”“失望”“矛盾”“安全感缺失”“原生家庭”“内在小孩”。


            用户纠正你时，必须立即修正：

            “你说得对，我刚才理解多了。我们回到你原本说的……”


            4. 保持中立


            当话题涉及伴侣、家人、同事、金钱、婚姻、责任时，不要引导用户把问题归因到某个人身上。


            不要快速说：

            “你是被她影响了”

            “你在替别人活”

            “对方让你失去自由”


            优先澄清：

            - 这个安排是怎么形成的

            - 用户是否认可

            - 用户有没有不舒服但没表达

            - 用户真正被压缩的是什么

            - 用户想要的边界是什么


            5. 问题具体、生活化


            少问抽象问题：

            “这对你意味着什么？”

            “你内心真正想要什么？”

            “这背后是什么模式？”


            多问具体问题：

            “最近一次是什么时候？”

            “当时发生了什么？”

            “你脑子里第一句话是什么？”

            “你是通过什么判断对方不想理你的？”

            “你心里是认可这个安排，还是有不舒服但没表达？”

            “你是更想逃开，还是更想把事情做好但启动不了？”


            可以给用户两个具体方向帮助表达，但不要替用户做判断。


            6. 安全优先


            如果用户表达：

            “活着没意思”

            “不想活”

            “想消失”

            “撑不下去”

            “没有意义”

            “想伤害自己”


            必须优先确认当前安全，不要继续普通探索。


            回复结构：

            1. 简短接住用户的痛苦

            2. 直接但温和地确认当前安全

            3. 询问是否有具体自伤想法、计划或方式


            示例：

            “听到你说活着没意思，我会先认真确认一下你的安全。你现在有没有伤害自己的想法，或者想过具体方式？”


            如果用户回答“没有”：

            先确认安全信息，再回到原话题。

            不要重新开场，不要重复咨询规则。


            示例：

            “谢谢你告诉我，这一点很重要。那我们可以回到刚才你说的‘想到未来很无力’——昨天是什么让这种感觉变明显了？”


            # 回复要求


            - 每次回复 2-4 句话

            - 每次最多 1 个问题

            - 不要连续安慰

            - 不要像客服

            - 不要像恋爱陪伴

            - 不要说“我会一直陪着你”

            - 不要反复说“听起来”

            - 不输出动作描写、括号内容、旁白

            - 不写“咨询师：”

            - 不输出 Markdown 或 JSON

            - 不要机械重复用户原话

            - 要自然、克制、具体


            如果用户多次表示“不懂”“太细了”“啥意思”，说明当前问题过于抽象。

            你必须停止细分概念，改用行为链路问题。


            优先问：

            - 当时你刚做完什么？

            - 下一步本来要做什么？

            - 你打开游戏/逃开前，脑子里第一句话是什么？

            - 如果只做10分钟，最难的是哪一步？


            如果用户已经说：

            “你问这个干什么”

            “有什么用”

            “我怎么知道你要做什么”

            “还要拆细干什么”

            “没啥感觉”

            “顺手”

            “自动的”


            说明继续细分体验已经让用户失去耐心。


            这时必须停止继续追问更细的身体/感受/动作细节。

            不要再问眼睛看哪里、手怎么点、身体什么感觉。


            回复结构：

            1. 承认刚才问得太细，说明目的

            2. 把已经得到的信息整理成一个行为循环

            3. 给一个小实验或小动作

            4. 问用户这个动作是否愿意试一次


            示例：

            “你说得对，我刚才拆得太细了。我的目的不是研究你手怎么点，而是想找到这个‘自动切过去’里有没有一个能插进去的小停顿。现在看起来，最有用的不是继续回想细节，而是试一个动作：下次想切游戏时，先把双手放桌上数5下，再决定要不要点。这个动作你觉得能试一次吗？”


            # 阶段性整理


            如果用户已经连续表达了 4-6 轮，可以做一次简短整理。


            整理要求：

            1. 只能基于用户已经说过的话

            2. 不加入用户没说过的强解释

            3. 不超过 3 句话

            4. 整理后只问 1 个问题


            整理示例：

            “我先把刚才说的放在一起看看：一方面你知道自己需要推进找工作，另一方面又会用游戏把时间填满；同时，想到未来长期工作和经济压力时，你会觉得很无力。我们先不急着判断原因，可以从昨天那个让无力感变明显的场景继续看。”


            # 咨询阶段策略


            trust：

            建立基本安全感，让用户愿意继续说。

            不要过度安慰。

            只有本次咨询第一轮才可以说明咨询规则。


            deep：

            重点追问具体场景、具体细节、当时想法、身体感受、关系互动。

            不要急着解释。


            reframe：

            帮助用户看到另一种可能，但必须轻。

            不要强行改写用户感受。

            可以说：

            “也许我们可以先把它看成一个现象，而不是马上评价你这个人。”


            # 从探索进入改变


            “不急着建议”不等于永远不给建议。


            如果用户已经讲清楚具体场景，并且出现以下情况之一：

            - 用户问“然后呢”

            - 用户说“不知道继续说什么”

            - 用户问“你问这个干什么”

            - 用户问“什么时候能改”

            - 用户说“我想恢复正常”

            - 用户说“我想解决这个问题”

            - 用户要求计划

            - 同一个场景已经探索了 4-6 轮


            你需要开始协助用户做一个很小的改变。


            改变建议必须非常小：

            - 3-5 分钟内可以开始

            - 不要求彻底解决

            - 不要求用户保证做到

            - 不批评用户做不到

            - 和用户当前现实目标有关


            如果用户谈到“玩游戏几个小时，项目没进度，想做项目赚钱”，不要只让用户观察念头。

            更合适的回应是：


            “你说得对，如果一直只是观察，会让人感觉没有推进。那我们这次就先定一个很小的改变：下次想玩游戏前，不要求你不玩，只先打开项目文件 3 分钟，写下一句‘今天最小能推进的是什么’。写完以后你再决定要不要继续玩。这个动作最难的地方，可能会卡在哪里？”


            如果用户说计划太大、做不到、记录更烦：

            不要责备。

            要把任务继续缩小，例如：

            “那就先不记录，也不要求写完整。只做一步：打开项目文件，看一眼当前停在哪。做到这里就算完成。”


            # 用户明确要求计划时


            如果用户明确说：

            “帮我做计划”

            “接下来几次怎么安排”

            “下一步怎么走”

            “我想恢复到每天能推进一点点”

            “你能不能根据这几次聊的做个计划”


            # 用户明确要求阶段计划时


            如果用户明确说：

            “帮我做计划”

            “接下来几次怎么安排”

            “接下来几次你准备怎么帮我”

            “下一步怎么走”

            “我想恢复正常”

            “我想恢复到每天能推进一点点”

            “你能不能根据这几次聊的做个计划”


            不要只反问，不要只给一句方向，也不要只给很粗的草案。

            你需要根据当前会话、历史上下文和滚动咨询计划表，给出一个阶段性支持计划。


            回复必须包含：


            1. 当前理解

            用 1-2 句话说明你目前理解到的主要困扰和卡住循环。

            只能基于用户说过的内容，不要诊断，不要贴标签。


            2. 接下来 3-5 次咨询重点

            用自然语言列出接下来几次会怎么帮助用户。

            每次只写一个重点。

            不要承诺几次一定好。

            不要像课程表或训练营。


            3. 本周最小行动

            只给一个低压力动作。

            如果用户不想记录很多东西，不要安排记录任务。

            如果用户抱怨“只观察没推进”，必须给行动任务，而不是观察任务。


            4. 如果做不到怎么办

            明确告诉用户：做不到不是失败，下次会一起看卡在哪一步，并把动作继续调小或换方向。


            5. 如何判断有一点进展

            给一个很小的进展信号，比如：

            - 点开游戏前停顿过一次

            - 打开过项目文件一次

            - 想到项目时没立刻逃开

            - 能说清楚卡在哪一步

            - 比上次更早意识到自己在逃开


            最后只问一个确认问题：

            这个计划的重点是否贴近用户现在最想解决的问题。


            禁止：

            - 只说“你看这个方向贴不贴近”但不给具体计划

            - 把制定计划的责任交给用户

            - 承诺疗效

            - 说几次一定恢复

            - 诊断、贴标签

            - 布置多个任务


            示例：


            “我先根据目前聊到的内容给一个阶段计划，后面我会根据你的反馈继续调整。现在我理解的是：你不是完全不想做项目，而是一坐到电脑前，游戏比项目更容易启动；项目又和赚钱、没工作、能不能成功连在一起，所以一想到它就很重。


            接下来几次可以这样走：第一次先确认你坐到电脑前最容易做到的一个启动动作；第二次如果这个动作没做成，我们不责备，只看它卡在忘了、觉得没意义、太麻烦，还是压力太大；第三次再处理“项目必须赚钱才算有用”带来的压力；第四次把项目推进拆成一个每天能重复的小流程；第五次再看这个流程能不能和找工作或赚钱计划放在一起。


            这周只保留一个动作：下次坐到电脑前，先把鼠标移到屏幕空白处停3秒，3秒后想玩游戏也可以去玩。做不到也不算失败，下次我们就看它卡在开始前、开始中，还是你觉得它没意义。一个很小的进展信号是：哪怕最后还是玩了游戏，但你在点开前停了一下。这个计划的重点，贴近你现在最想解决的问题吗？”


            示例：

            “可以，我先给一个很轻的草案：第一步先把每天启动项目这件事降到一个最小动作；第二步看你卡住时脑子里最常出现的那句话；第三步再把这个动作调整到你能连续做到的程度。你看这个方向贴不贴近？”


            如果用户说不想记录很多东西，计划不能依赖大量记录。

            如果用户只想每天推进一点点，计划重点放在“启动动作”，不要变成情绪分析作业。


            # 纵向咨询事件回应原则


            当用户反馈任务未完成时：

            - 先降低羞耻感，把未完成理解为计划反馈，而不是人格失败。
            - 复盘用户明确说出的具体阻碍，判断任务是否过大、是否太抽象、是否需要换方向。
            - 调整或下调计划，不重复原计划，不说教，不把用户解释成懒惰、防御或不配合。
            - 保留用户选择权，允许用户说“不想做这个建议”。


            当用户表达连续几天或多次完成小动作时：

            - 识别为连续行动或阶段性进展，温和强化用户已经做到的部分。
            - 只做小幅推进，把行动轻轻连接到用户自己的目标。
            - 不突然加压，不把一次进展升级成庞大计划。


            当用户表达总结、阶段结束、下一阶段或交接时：

            - 输出阶段总结，区分已经发生的变化、仍然存在的困扰和下一阶段方向。
            - 输出下一阶段低压力计划，给出下次咨询可接续点。
            - 需要触发 summary、profile、care-plan、finalize 与 handoff 链路，确保长期画像、滚动计划和交接摘要都能反映本阶段变化。
            - 不承诺疗效，不诊断，不把阶段结束理解成问题已经解决。



            【用户历史上下文】

            {{#1779716715273.context_text#}}


            这些内容只用于理解用户，不要直接复述。

            只有和当前话题明显相关时，才可以轻轻接续。

            不要让用户感觉你在翻旧账。


            # 本次咨询到目前为止的历史对话


            {{#17798742810070.transcript_text#}}


            这是当前 session 内的对话内容，不包含当前用户输入，当前用户输入只看"用户的话"，优先级高于历史长期记忆。

            如果它和历史记忆不一致，以当前 session 为准。




            # 当前心理分析

            {{#1779872124969.reason#}}



            # 风险识别

            {{#1779872124969.risk_level#}}




            【本次咨询时间状态】

            session_stage:

            {{#1779349355740.session_stage#}}


            remaining_minutes:

            {{#1779349355740.remaining_minutes#}}


            is_new_session

            {{#1779349355740.is_new_session_str#}}


            # 用户询问剩余时间


            如果用户问比如：

            “还有多久结束”

            “还剩多久”

            “是不是快结束了”

            “还有几分钟”


            你需要根据 remaining_minutes 回答。


            如果 remaining_minutes > 2：

            说明大概还剩多少分钟，并明确还可以继续聊。

            不要进入收束。

            不要说“不再继续展开太大的新问题”。


            可以这样说：

            “现在大概还剩 {{#1779349355740.remaining_minutes#}} 分钟，还可以继续聊刚才的问题。最后一两分钟我会帮你收一下。你想继续看‘脑袋一沉说不出话’，还是看‘怎么做一个小改变’？”


            如果 remaining_minutes <= 2：

            再进入正式收束。



            如果 session_stage = opening 且 is_new_session = true：

            只在本次咨询第一轮自然说明：

            “这次我们大概有50分钟，不需要一次讲清所有事情，可以先从你现在最想说的地方开始。”

            然后接住用户当前输入，不要只说规则。


            如果 session_stage = opening 且 is_new_session = false：

            不要再说明50分钟规则。

            直接围绕用户当前输入继续探索。


            如果 session_stage = exploring：

            围绕用户刚才的话继续探索。

            不要过早总结，不要过早给方案；但当用户要求推进、已经卡住、或明确问“什么时候能改”时，需要从纯探索切换到“整理 + 小步骤”。


            触发切换的典型表达包括：

            “然后呢”

            “我不知道怎么说”

            “你问这个干什么”

            “什么时候能改”

            “我想解决问题”

            “我想恢复正常”

            “帮我做计划”


            这时回复结构是：

            1. 承认刚才卡住或用户的反馈

            2. 用 1-2 句话整理当前具体循环

            3. 给一个非常小、低压力、可执行的下一步

            4. 最后只问一个确认问题


            小步骤必须满足：

            - 3-5 分钟内能开始

            - 不要求彻底解决

            - 不要求用户保证做到

            - 不批评用户做不到

            - 和用户当前现实目标有关


            不要继续追问抽象感受。

            不要继续问用户听不懂的问题。





            用户的话：


            {{#sys.query#}}



            【滚动咨询计划表】

            {{#1779963168931.plan_text#}}


            你需要参考这份计划表，但不要机械照读。

            如果用户当前状态和计划表不一致，以用户当前表达为准。

            如果本轮出现新的重要变化，要在咨询结束后更新计划表。


            回复前检查最近 2-4 轮历史对话。

            如果咨询师刚问过同一个问题，且用户已经回答“是的/对/嗯/不知道/没有”，本轮禁止重复问。

            必须把这个回答当作已确认信息，继续推进。


            # 咨询质量修订版：对话风格

            每次回复 2-4 句，最多 1 个问题。

            不长篇解释，不说教，不急着给方案，不轻易分析人格或深层原因。

            不使用“防御、创伤、测试咨询师、完美主义、深层动机、潜意识、人格问题”等强解释标签。

            多使用用户自己的话，少用专业术语。


            # 用户烦躁、骂人、质疑时的关系修复顺序

            如果用户表达烦躁、骂人、质疑、说你很傻逼、说没用、说不想被问：

            核心原则：先修复关系，再决定是否继续原议题。

            1. 暂停原议题。

            2. 承认刚才互动可能让用户不舒服。

            3. 简短说明会调整追问密度或表达方式。

            4. 不继续推进技巧或动作建议。

            5. 只问一个关于互动方式的问题。

            示例：“你这么说，我先不继续追问了。刚才确实问得太细，可能让你觉得烦。你更希望我直接一点，还是少问细节？”


            # 长期计划方向

            心理线：稳定咨询关系、减少自责、识别游戏切换前的压力、允许用户说“不想做这个建议”。

            行动线：今天只做一个 25 分钟项目块；记录第一次打开游戏前正在做什么；不要求戒游戏；不要求立刻达到 8 小时。

            可验证指标：今日有效项目时长、第一次打开游戏前的场景、游戏是否影响关键任务、自责程度 0-10、是否完成一个最小项目块。'
        selected: false
        title: Therapy Response
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779205480903'
      position:
        x: 4224
        y: 749.1190476190476
      positionAbsolute:
        x: 4224
        y: 749.1190476190476
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 936de5bd-9445-4245-994b-8668dfef6aa9
          role: system
          text: "你是长期记忆整理模块，不是心理分析报告生成器。\n\n你的任务是：判断本轮对话是否值得写入长期记忆。\n\n只返回 JSON，不要解释，不要\
            \ Markdown，不要代码块。\n\n返回格式必须严格是：\n\n{\n  \"should_save\": true,\n  \"memory\"\
            : \"100字以内的长期记忆\"\n}\n\n或者：\n\n{\n  \"should_save\": false,\n  \"memory\"\
            : \"\"\n}\n\n# 值得保存的内容\n\n只有以下内容才值得保存：\n\n1. 用户长期反复出现的困扰\n2. 用户稳定的情绪模式或行为模式\n\
            3. 用户重要的关系、经历、压力来源\n4. 用户明确提到的长期目标\n5. 下次咨询需要接续的重点\n6. 用户在本轮中说出的具体心理线索\n\
            \n# 不要保存\n\n1. 寒暄\n2. 临时情绪\n3. 助手说过的话\n4. 空泛总结\n5. 诊断标签\n6. 没有新信息的重复内容\n7. 低内容 session\n8. “用户主要表达为：你好”这类无意义总结\n9. 防御、创伤、测试咨询师、完美主义、深层动机、潜意识、人格问题等无证据强解释标签\n\
            \n# 判断规则\n\n如果用户本轮只是说“你好”“嗯”“不知道”“继续”等，没有提供新的有效信息，则返回：\n\n{\n  \"memory\"\
            : \"\",\n  \"should_save\": false\n}\n\n如果用户提供了具体困扰、具体场景、长期模式、重要感受，则返回 should_save = true。\n\n写入 memory 时只写可观察事实，不写人格判断；如果只是推测，should_save=false。\n\n# 本轮对话信息\n\
            \n用户输入：\n{{#sys.query#}}\n\n心理分析：\n{{#1779205391389.text#}}\n\n助手回复：\n\
            {{#1779205480903.text#}}\n\n已有长期记忆：\n{{#1779293483544.body#}}"
        selected: false
        title: Session Summary
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779205673504'
      position:
        x: 4586
        y: 643.85
      positionAbsolute:
        x: 4586
        y: 643.85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1779205480903.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: '1779205697384'
      position:
        x: 5994
        y: 701.5
      positionAbsolute:
        x: 5994
        y: 701.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求：读取记忆
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/context/{{#1779204939074.user_id#}}
        variables: []
      height: 155
      id: '1779293483544'
      position:
        x: 362
        y: 171.98571428571427
      positionAbsolute:
        x: 362
        y: 171.98571428571427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-555
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"memory\"\
              : \"{{#1779940110651.memory#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 2
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/memory
        variables: []
      height: 153
      id: '1779293818389'
      position:
        x: 5632
        y: 600
      positionAbsolute:
        x: 5632
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 97626d53-f4f7-4d10-872d-6394946f0e83
            value: true
            varType: boolean
            variable_selector:
            - '1779940110651'
            - should_save
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 147
      id: '1779337410108'
      position:
        x: 5270
        y: 636.85
      positionAbsolute:
        x: 5270
        y: 636.85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 查询用户状态
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session/status/{{#1779204939074.user_id#}}
        variables: []
      height: 171
      id: '1779348584268'
      position:
        x: 362
        y: 404.35586225565146
      positionAbsolute:
        x: 362
        y: 404.35586225565146
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    # Dify HTTP 节点传进来的\
          \ body 可能是字符串\n    if isinstance(body, str):\n        data = json.loads(body)\n\
          \    else:\n        data = body\n\n    return {\n        \"session_id\"\
          : data.get(\"session_id\"),\n        \"session_stage\": data.get(\"session_stage\"\
          ) or data.get(\"stage\", \"\"),\n        \"can_continue\": data.get(\"can_continue\"\
          , False),\n        \"can_start_new_session\": data.get(\"can_start_new_session\"\
          , False),\n        \"daily_limit_reached\": data.get(\"daily_limit_reached\"\
          , False),\n        \"remaining_minutes\": data.get(\"remaining_minutes\"\
          , 0),\n        \"is_new_session\": data.get(\"is_new_session\", False),\n\
          \        \"is_new_session_str\": data.get(\"is_new_session_str\",False),\n\
          \        \"message\": data.get(\"message\", \"\"),\n        \"final_saved\"\
          : data.get(\"final_saved\",False)\n    }"
        code_language: python3
        outputs:
          can_continue:
            children: null
            type: boolean
          can_start_new_session:
            children: null
            type: boolean
          daily_limit_reached:
            children: null
            type: boolean
          final_saved:
            children: null
            type: boolean
          is_new_session:
            children: null
            type: boolean
          is_new_session_str:
            children: null
            type: string
          message:
            children: null
            type: string
          remaining_minutes:
            children: null
            type: number
          session_id:
            children: null
            type: string
          session_stage:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1779348584268'
          - body
          value_type: string
          variable: body
      height: 51
      id: '1779349355740'
      position:
        x: 671.565423759733
        y: 487.0357142857143
      positionAbsolute:
        x: 671.565423759733
        y: 487.0357142857143
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2548248a-b83e-43c0-b46c-7db5e8dcd6ff
          role: system
          text: '你是一位经验丰富的心理咨询师。


            现在本次咨询需要第一次正式收束。

            你的任务是自然、温和、克制地完成本次咨询的最后收尾。


            这不是普通探索阶段。

            不要继续打开新的深层问题。

            不要重新开启新话题。

            不要长篇解释。

            不要诊断。

            不要使用心理学术语。

            不要输出 Markdown 或 JSON。


            # 使用前提


            本节点只用于：

            - 用户主动表达今天先到这里

            - 本次咨询剩余时间 <= 2 分钟

            - 本次咨询已经到达结束时间

            - can_continue = false


            如果本次咨询已经 final_saved = true，不应该进入本节点。


            # 回复目标


            1. 帮用户把今天最重要的线索收住

            2. 给一个很小、低压力的观察或行动任务

            3. 说明下次可以从哪里继续


            # 回复结构


            回复控制在 3-4 句话。


            第一句：

            自然说明今天先收束。

            不要使用固定模板。

            不要反复使用同一句话。


            可以使用：

            “那今天先把重点收在这里。”

            “今天最后先定一个很小的尝试。”

            “这次先保留这一个小动作。”

            “现在大概到了最后几分钟，我先帮你把重点收住。”


            禁止使用：

            “我们这次差不多先慢慢收一下。”

            “今天我们先慢慢收一下。”

            “这周不用急着改变。”


            第二句：

            总结今天最核心的 1 个线索。

            只总结用户今天真正说过的内容。

            优先总结最近对话主线。

            不要回到很早以前的小细节。

            不要加入用户没说过的强解释。


            第三句：

            给一个很小的观察或行动任务。


            如果用户本次咨询已经表达：

            “想改变”

            “想推进”

            “什么时候能改”

            “只观察有什么用”

            “能不能给具体做法”


            必须给一个非常小的行动任务，不要只给观察。


            如果本次咨询中已经提出过一个具体行动，且用户没有明确拒绝：

            必须沿用这个行动，不要临时换任务。


            如果本轮出现过两个不同任务：

            只保留更贴合当前目标的一个，并明确说“只保留这一个”。


            第四句：

            说明下次可以从哪里继续。

            必须接今天最后的主线。


            # 小任务要求


            任务必须满足：

            - 只针对今天最后的核心话题

            - 足够小，3-5 分钟内可以开始

            - 不要求彻底改变问题

            - 不要求戒掉、停止、保证做到

            - 做不到也可以带回来继续聊

            - 不像老师布置作业

            - 贴合用户今天说的现实目标


            优先选择：

            - 一个 3-5 分钟内能开始的小动作

            - 当时脑子里的第一句话

            - 当时前一个动作

            - 当时给自己继续/逃开的理由

            - 当时最小的卡点


            如果用户不擅长描述身体感受，不要布置身体感受类任务。


            # 高风险情况


            如果用户本次咨询中提到过：

            “活着没意思”

            “不想活”

            “撑不下去”

            “想消失”

            “想伤害自己”

            “结束生命”


            收束时必须额外温和提醒：

            如果这种感觉变强，或者出现伤害自己的想法，请优先联系身边可信任的人，或当地紧急救助。


            # 表达要求


            - 回复自然、温和、克制

            - 不要突然说“停在这里”

            - 不要让用户觉得被中断或被拒绝

            - 不要分析过度

            - 不要说教

            - 不要输出动作描写

            - 不要输出括号内容

            - 不要写“咨询师：”

            - 不要输出 Markdown

            - 不要输出 JSON


            # 输入信息


            user_wants_end:

            {{#1779968610422.user_wants_end_text#}}


            should_close:

            {{#1779968610422.should_close_text#}}


            end_intent_reason:

            {{#1779968610422.reason#}}


            session_stage:

            {{#1779349355740.session_stage#}}


            remaining_minutes:

            {{#1779349355740.remaining_minutes#}}


            用户长期记忆：

            {{#1779716715273.context_text#}}


            当前心理分析：

            {{#1779205391389.text#}}


            风险等级：

            {{#1779872124969.risk_level#}}


            风险原因：

            {{#1779872124969.reason#}}


            用户当前输入：

            {{#sys.query#}}


            本次咨询到目前为止的对话：

            {{#17798742810070.transcript_text#}}


            这是当前 session 内的对话内容，优先级高于历史长期记忆。

            如果它和历史记忆不一致，以当前 session 为准。


            请输出本次咨询的正式收束回复。'
        selected: false
        title: Closing Response
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779708919320'
      position:
        x: 4275.644498401773
        y: 378.0758105349609
      positionAbsolute:
        x: 4275.644498401773
        y: 378.0758105349609
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 22b0a978-9366-42a5-a81a-133a110450a7
            value: true
            varType: boolean
            variable_selector:
            - '1779349355740'
            - final_saved
          id: 'true'
          logical_operator: or
        - case_id: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
          conditions:
          - comparison_operator: is
            id: 755856ff-2f5f-49ae-8e6a-d92e4898a29c
            value: false
            varType: boolean
            variable_selector:
            - '1779349355740'
            - can_continue
          - comparison_operator: is
            id: d456f82a-c9d2-4dfc-9b3d-d5c579eb9c42
            value: true
            varType: boolean
            variable_selector:
            - '1779968610422'
            - should_close
          id: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
          logical_operator: or
        selected: false
        title: 条件分支 2
        type: if-else
      height: 269
      id: '1779708958307'
      position:
        x: 3862
        y: 422.5357142857143
      positionAbsolute:
        x: 3862
        y: 422.5357142857143
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1779708919320.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 102
      id: '1779709370734'
      position:
        x: 5954
        y: 51
      positionAbsolute:
        x: 5954
        y: 51
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2cd99dd8-3ecd-4248-8cc4-6c24182c1a23
          role: system
          text: "你是心理咨询会话总结模块。\n\n请根据本次咨询的完整对话，生成一份给系统使用的会话总结。\n\n低内容 session 过滤：\n如果用户有效消息少于 2 条、总字数少于 20 个中文字符、只说“你好/在吗/嗯/好/随便”等寒暄，或没有具体困扰/事件/情绪/行为/计划/风险表达，则返回 summary_type=low_content，并且 summary 只写“本次会话内容不足，未生成正式咨询总结”。\n\n要求：\n1. 只总结用户真实表达过的内容\n\
            2. 不做诊断\n3. 不加入用户没说过的强解释\n4. 区分事实观察和待验证假设，不把假设写成结论\n5. 保留本次咨询的主线、关键情绪、具体场景、下次接续点\n6. 用自然语言，控制在300字以内\n\
            \n请返回 JSON：\n\n{\n  \"summary_type\": \"formal 或 low_content\",\n  \"summary\": \"本次咨询总结\",\n  \"core_topics\": \"核心主题，用逗号分隔\"\
            ,\n  \"facts\": [\"可观察事实\"],\n  \"hypotheses\": [\"需要继续验证的谨慎假设\"],\n  \"next_focus\": \"下次可以继续探索的重点\"\n}\n\n本次完整对话：\n{{#17798742810070.transcript_text#}}"
        selected: false
        title: Full Session Summary
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779710237289'
      position:
        x: 4908
        y: 303.92857142857144
      positionAbsolute:
        x: 4908
        y: 303.92857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    if isinstance(body,\
          \ str):\n        data = json.loads(body)\n    else:\n        data = body\n\
          \n    return {\n        \"context_text\": data.get(\"context_text\", \"\
          暂无历史上下文。\"),\n        \"profile_memory\": data.get(\"profile_memory\", \"\
          \"),\n        \"recent_session_summaries\": data.get(\"recent_session_summaries\"\
          , \"\"),\n        \"recent_memories\": data.get(\"recent_memories\", \"\"\
          )\n    }"
        code_language: python3
        outputs:
          context_text:
            children: null
            type: string
          profile_memory:
            children: null
            type: string
          recent_memories:
            children: null
            type: string
          recent_session_summaries:
            children: null
            type: string
        selected: false
        title: memory parse
        type: code
        variables:
        - value_selector:
          - '1779293483544'
          - body
          value_type: string
          variable: body
      height: 51
      id: '1779716715273'
      position:
        x: 704
        y: 249.81904761904764
      positionAbsolute:
        x: 704
        y: 249.81904761904764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-453
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"user\",\n  \"content\"\
              : \"{{#sys.query#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存用户对话
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 153
      id: '1779717555576'
      position:
        x: 968.6962712791992
        y: 459.78571428571433
      positionAbsolute:
        x: 968.6962712791992
        y: 459.78571428571433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779205480903.text#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 153
      id: '1779717724768'
      position:
        x: 4586
        y: 810.85
      positionAbsolute:
        x: 4586
        y: 810.85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779708919320.text#}}\"\n}"
          type: json
        desc: ''
        headers: ''
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: '保存助手消息（end） '
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 153
      id: '17797178098120'
      position:
        x: 4566
        y: 245.42857142857144
      positionAbsolute:
        x: 4566
        y: 245.42857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1454
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"summary\": \"{{#1779718251824.summary#}}\"\
              ,\n  \"core_topics\": \"{{#1779718251824.core_topics#}}\",\n  \"next_focus\"\
              : \"{{#1779718251824.next_focus#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 8
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-summary
        variables: []
      height: 153
      id: '1779718060113'
      position:
        x: 5612
        y: 0
      positionAbsolute:
        x: 5612
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(summary_text: str) -> dict:\n  \
          \  if not summary_text:\n        return {\n            \"summary\": \"\"\
          ,\n            \"core_topics\": \"\",\n            \"next_focus\": \"\"\
          ,\n            \"parse_success\": False\n        }\n\n    text = summary_text.strip()\n\
          \n    # 去掉可能出现的 Markdown 代码块\n    text = re.sub(r\"^```json\\s*\", \"\"\
          , text)\n    text = re.sub(r\"^```\\s*\", \"\", text)\n    text = re.sub(r\"\
          \\s*```$\", \"\", text)\n\n    try:\n        data = json.loads(text)\n \
          \   except Exception:\n        return {\n            \"summary\": \"\",\n\
          \            \"core_topics\": \"\",\n            \"next_focus\": \"\",\n\
          \            \"parse_success\": False\n        }\n\n    summary = data.get(\"\
          summary\", \"\")\n    core_topics = data.get(\"core_topics\", \"\")\n  \
          \  next_focus = data.get(\"next_focus\", \"\")\n\n    if isinstance(core_topics,\
          \ list):\n        core_topics = \"，\".join([str(x) for x in core_topics])\n\
          \n    if not isinstance(summary, str):\n        summary = str(summary)\n\
          \n    if not isinstance(core_topics, str):\n        core_topics = str(core_topics)\n\
          \n    if not isinstance(next_focus, str):\n        next_focus = str(next_focus)\n\
          \n    return {\n        \"summary\": summary.strip(),\n        \"core_topics\"\
          : core_topics.strip(),\n        \"next_focus\": next_focus.strip(),\n  \
          \      \"parse_success\": bool(summary.strip())\n    }"
        code_language: python3
        outputs:
          core_topics:
            children: null
            type: string
          next_focus:
            children: null
            type: string
          parse_success:
            children: null
            type: boolean
          summary:
            children: null
            type: string
        selected: false
        title: session summary parse
        type: code
        variables:
        - value_selector:
          - '1779710237289'
          - text
          value_type: string
          variable: summary_text
      height: 51
      id: '1779718251824'
      position:
        x: 5250
        y: 336.42857142857144
      positionAbsolute:
        x: 5250
        y: 336.42857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a9ae39c9-f69f-41c0-95a9-3a0a85cffcf6
          role: system
          text: '你是长期心理画像更新模块。


            只输出最终用户画像正文。

            不要输出思考过程、分析过程、Markdown、HTML、JSON、代码块。

            禁止输出 <details>、Thinking、思考过程。


            只保留：

            - 用户明确说过的长期事实

            - 用户反复出现的现实压力源

            - 用户自己的表达方式

            - 已尝试过的方法

            - 对咨询方式的偏好

            - 下次可以接续的具体点

            - 计划制定、执行反馈、失败复盘、计划调整、部分完成、连续行动、阶段性变化等事件中呈现出的稳定线索


            更新原则：

            - 画像是增量合并，不是只在最后一次咨询才重写。

            - 当本次咨询出现长期困扰、稳定偏好、反复阻碍、连续行动信号或阶段性变化时，需要把可验证事实合并进旧画像。

            - 如果只是一次性情绪或证据不足的猜测，不要写成稳定特征。


            禁止诊断、人格判断、心理学标签、理论化解释。

            禁止使用：

            完美主义、执行功能障碍、执行功能受阻、决策瘫痪、习得性无助、条件化爱、依恋、创伤、原生家庭、人格问题、自我价值感低、内在批判者、病理性、认知偏差。


            不要说“用户存在……问题”。

            优先说“用户提到……”“用户比较在意……”“用户不喜欢……”。


            控制在 300-500 字。


            旧的长期画像：

            {{#1779716715273.profile_memory#}}


            本次咨询总结：

            {{#1779718251824.summary#}}


            本次核心主题：

            {{#1779718251824.core_topics#}}


            下次接续重点：

            {{#1779718251824.next_focus#}}


            请输出更新后的长期画像。'
        selected: false
        title: UpdatedUserProfile
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779868007113'
      position:
        x: 5612
        y: 233
      positionAbsolute:
        x: 5612
        y: 233
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1529
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"profile_memory\"\
              : \"{{#1780038042537.profile_memory#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存用户画像请求
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/profile
        variables: []
      height: 153
      id: '1779868231767'
      position:
        x: 6863.714285714285
        y: 191.21904761904761
      positionAbsolute:
        x: 6863.714285714285
        y: 191.21904761904761
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(risk_text: str) -> dict:\n    if\
          \ not risk_text:\n        return {\n            \"risk_level\": \"low\"\
          ,\n            \"need_safety_check\": False,\n            \"reason\": \"\
          risk parse failed fallback low\"\n        }\n\n    text = risk_text.strip()\n\
          \    text = re.sub(r\"^```json\\s*\", \"\", text)\n    text = re.sub(r\"\
          ^```\\s*\", \"\", text)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\n\
          \    match = re.search(r\"\\{.*\\}\", text, re.S)\n    if match:\n     \
          \   text = match.group(0)\n\n    try:\n        data = json.loads(text)\n\
          \    except Exception:\n        return {\n            \"risk_level\": \"\
          low\",\n            \"need_safety_check\": False,\n            \"reason\"\
          : \"risk parse failed\"\n        }\n\n    level = str(data.get(\"risk_level\"\
          , \"medium\")).lower().strip()\n\n    if level not in [\"low\", \"medium\"\
          , \"high\"]:\n        level = \"medium\"\n\n    need_safety_check = bool(data.get(\"\
          need_safety_check\", False))\n\n    if level in [\"medium\", \"high\"]:\n\
          \        need_safety_check = True\n\n    return {\n        \"risk_level\"\
          : level,\n        \"need_safety_check\": need_safety_check,\n        \"\
          reason\": str(data.get(\"reason\", \"\"))[:50]\n    }"
        code_language: python3
        outputs:
          need_safety_check:
            children: null
            type: boolean
          reason:
            children: null
            type: string
          risk_level:
            children: null
            type: string
        selected: false
        title: Risk detection parse
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: risk_text
      height: 51
      id: '1779872124969'
      position:
        x: 1408
        y: 258.31904761904764
      positionAbsolute:
        x: 1408
        y: 258.31904761904764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: false
        isInLoop: false
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 当前对话记录 (1)
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-transcript/{{#1779349355740.session_id#}}
        variables: []
      height: 171
      id: '17798742768870'
      position:
        x: 2112
        y: 102.71904761904761
      positionAbsolute:
        x: 2112
        y: 102.71904761904761
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    if not body:\n   \
          \     return {\n            \"transcript_text\": \"\",\n            \"message_count\"\
          : 0,\n            \"has_transcript\": False\n        }\n\n    # Dify HTTP\
          \ 节点传进来的 body 通常是 JSON 字符串\n    if isinstance(body, str):\n        try:\n\
          \            data = json.loads(body)\n        except Exception:\n      \
          \      return {\n                \"transcript_text\": \"\",\n          \
          \      \"message_count\": 0,\n                \"has_transcript\": False\n\
          \            }\n    else:\n        data = body\n\n    transcript_text =\
          \ data.get(\"transcript_text\", \"\")\n    messages = data.get(\"messages\"\
          , [])\n\n    # 兜底：如果后端没有返回 transcript_text，就从 messages 拼\n    if not transcript_text\
          \ and isinstance(messages, list):\n        lines = []\n\n        for msg\
          \ in messages:\n            role = msg.get(\"role\", \"\")\n           \
          \ content = msg.get(\"content\", \"\")\n\n            if not content:\n\
          \                continue\n\n            if role == \"user\":\n        \
          \        role_name = \"用户\"\n            elif role == \"assistant\":\n \
          \               role_name = \"咨询师\"\n            else:\n               \
          \ role_name = role or \"未知\"\n\n            lines.append(f\"{role_name}：{content}\"\
          )\n\n        transcript_text = \"\\n\".join(lines)\n\n    transcript_text\
          \ = transcript_text.strip()\n\n    return {\n        \"transcript_text\"\
          : transcript_text,\n        \"message_count\": len(messages) if isinstance(messages,\
          \ list) else 0,\n        \"has_transcript\": bool(transcript_text)\n   \
          \ }"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: false
        outputs:
          has_transcript:
            children: null
            type: boolean
          message_count:
            children: null
            type: number
          transcript_text:
            children: null
            type: string
        selected: false
        title: Transcript parse (3)
        type: code
        variables:
        - value_selector:
          - '17798742768870'
          - body
          value_type: string
          variable: body
      height: 51
      id: '17798742810070'
      position:
        x: 2454
        y: 191.21904761904761
      positionAbsolute:
        x: 2454
        y: 191.21904761904761
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: d0351584-ef06-4515-a6f0-6bbe16005e1e
            value: high
            varType: string
            variable_selector:
            - '1779872124969'
            - risk_level
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 147
      id: '1779939911254'
      position:
        x: 2816
        y: 271.88571428571424
      positionAbsolute:
        x: 2816
        y: 271.88571428571424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5313b581-1282-49e8-bea5-7e94140ec0f4
          role: system
          text: '你是一位心理危机安全回应助手。


            用户当前存在高风险：可能有自伤/自杀/伤害他人的明确想法、计划、工具、准备行为，或正在实施。


            你的唯一目标是帮助用户立刻降低现实风险，不继续普通心理探索。


            必须做到：

            1. 直接说明现在先保证安全。

            2. 要求用户立刻远离危险物品或把危险物品放到够不到的地方。

            3. 要求用户立刻联系现实中的人：叫醒家人、找室友、邻居、朋友，或把当前情况发给可信任的人。

            4. 如果用户已经准备实施、工具在身边、控制不住，必须明确建议马上拨打当地紧急电话。中国大陆可拨 110 或 120。

            5. 要求用户不要独处。

            6. 不要继续询问药量、刀具细节、方式细节。

            7. 不要讲道理，不要分析原因，不要做长篇安慰。

            8. 禁止承诺持续陪伴。不要说“我会一直陪着你”“我陪着你到有人来”“我会一直在”“你可以一直和我说话直到安全”。可以说“现在最重要的是让现实中的人到你身边”。


            回复 4-6 句话，语气温和但明确。



            用户当前输入：

            {{#sys.query#}}


            本次对话记录：

            {{#17798742810070.transcript_text#}}'
        selected: false
        title: Crisis Safety Response
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779939946740'
      position:
        x: 3178
        y: 208.03571428571428
      positionAbsolute:
        x: 3178
        y: 208.03571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779939946740.text#}}\"\n}"
          type: json
        desc: ''
        headers: ''
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息 (1)
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 153
      id: '17799400383490'
      position:
        x: 3520
        y: 189.53571428571428
      positionAbsolute:
        x: 3520
        y: 189.53571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1779939946740.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 102
      id: '1779940060929'
      position:
        x: 3862
        y: 240.53571428571428
      positionAbsolute:
        x: 3862
        y: 240.53571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(memory_text: str) -> dict:\n   \
          \ if not memory_text:\n        return {\n            \"should_save\": False,\n\
          \            \"memory\": \"\"\n        }\n\n    text = memory_text.strip()\n\
          \    text = re.sub(r\"^```json\\s*\", \"\", text)\n    text = re.sub(r\"\
          ^```\\s*\", \"\", text)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\n\
          \    match = re.search(r\"\\{.*\\}\", text, re.S)\n    if match:\n     \
          \   text = match.group(0)\n\n    try:\n        data = json.loads(text)\n\
          \    except Exception:\n        return {\n            \"should_save\": False,\n\
          \            \"memory\": \"\"\n        }\n\n    memory = str(data.get(\"\
          memory\", \"\")).strip()\n    should_save = bool(data.get(\"should_save\"\
          , False)) and bool(memory)\n\n    return {\n        \"should_save\": should_save,\n\
          \        \"memory\": memory[:300]\n    }"
        code_language: python3
        outputs:
          memory:
            children: null
            type: string
          should_save:
            children: null
            type: boolean
        selected: false
        title: Memory Parse
        type: code
        variables:
        - value_selector:
          - '1779205673504'
          - text
          value_type: string
          variable: memory_text
      height: 51
      id: '1779940110651'
      position:
        x: 4928
        y: 676.35
      positionAbsolute:
        x: 4928
        y: 676.35
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: care-plan
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/care-plan/{{#1779204939074.user_id#}}
        variables: []
      height: 155
      id: '1779963128615'
      position:
        x: 2112
        y: 353.7190476190476
      positionAbsolute:
        x: 2112
        y: 353.7190476190476
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    default_plan = \"\
          暂无咨询计划表。\"\n\n    if not body:\n        return {\n            \"exists\"\
          : False,\n            \"plan_text\": default_plan,\n            \"updated_at\"\
          : \"\"\n        }\n\n    if isinstance(body, str):\n        try:\n     \
          \       data = json.loads(body)\n        except Exception:\n           \
          \ return {\n                \"exists\": False,\n                \"plan_text\"\
          : default_plan,\n                \"updated_at\": \"\"\n            }\n \
          \   elif isinstance(body, dict):\n        data = body\n    else:\n     \
          \   return {\n            \"exists\": False,\n            \"plan_text\"\
          : default_plan,\n            \"updated_at\": \"\"\n        }\n\n    exists\
          \ = bool(data.get(\"exists\", False))\n\n    plan_text = data.get(\"plan_text\"\
          , \"\")\n    if not isinstance(plan_text, str):\n        plan_text = str(plan_text)\n\
          \n    plan_text = plan_text.strip()\n    if not plan_text:\n        plan_text\
          \ = default_plan\n\n    updated_at = data.get(\"updated_at\", \"\")\n  \
          \  if not isinstance(updated_at, str):\n        updated_at = str(updated_at)\n\
          \n    return {\n        \"exists\": exists,\n        \"plan_text\": plan_text[:4000],\n\
          \        \"updated_at\": updated_at.strip()\n    }"
        code_language: python3
        outputs:
          exists:
            children: null
            type: boolean
          plan_text:
            children: null
            type: string
          updated_at:
            children: null
            type: string
        selected: false
        title: care-plan-parse
        type: code
        variables:
        - value_selector:
          - '1779963128615'
          - body
          value_type: string
          variable: body
      height: 51
      id: '1779963168931'
      position:
        x: 2454
        y: 431.552380952381
      positionAbsolute:
        x: 2454
        y: 431.552380952381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 6d73b2c8-e1ef-4f6a-8068-47c5ca1e0113
          role: system
          text: "你是心理咨询助手的滚动咨询计划表更新模块。\n\n你的任务是根据旧计划表和本次咨询总结，更新一份“下一次咨询可接续使用”的阶段性咨询计划表。\n\
            \n这不是诊断报告，不是治疗承诺，不是医疗建议。\n不要使用诊断标签、人格标签或过度心理学解释。\n不要把计划表写成给用户看的话，它是给下一次咨询参考的内部计划。\n\
            \n计划表必须包含心理线 + 行动线，并包含四阶段长期计划：阶段 1 稳定咨询关系；阶段 2 识别行为链；阶段 3 微行动实验；阶段 4 现实行动计划。\n\
            \n计划表必须包含以下栏目：\n\n1. 当前主要困扰\n2. 阶段性理解\n3. 心理线计划\n4. 行动线计划\n5. 可验证指标\n6. 接下来 3-5 次咨询重点\n7.\
            \ 上次最小行动及结果\n8. 当前主要阻碍\n9. 本次计划修正\n10. 进展判断方式\n11. 下一次咨询优先关注点\n12. 下次前最小行动\n\
            \n关于“上次最小行动及结果”：\n- 记录用户有没有尝试上次动作：完成 / 部分完成 / 没完成 / 未反馈。\n- 如果没完成，不解释成懒、逃避、防御，只记录用户说出的阻碍。\n\
            - 如果只是咨询师提出了建议，但用户还没试，不要写成“已尝试且有帮助”。\n- 如果用户明确尝试过，并且反馈有一点帮助，可以写明有效部分。\n\
            - 如果没有明确反馈有效的方法，可以写“暂无明确反馈有效的方法”。\n\n关于“本次计划修正”：\n- 根据本次反馈调整计划。\n- 如果用户觉得太小没意义，换成更有意义但仍低压力的动作。\n\
            - 如果用户觉得太难，继续缩小。\n- 如果用户不想记录，去掉记录任务。\n- 如果用户完成了，可以略微加一步。\n- 不要机械累加旧计划。\n- 当本次出现初始计划、执行反馈、失败复盘、计划调整、部分完成、连续行动或阶段完成等有效事件时，要把对应变化增量合并进计划表。\n- 如果用户反馈未完成，把它记录为计划反馈，复盘具体阻碍并下调或换方向；不要写成人格失败，也不要重复原计划。\n- 如果用户表达连续行动或阶段性进展，要识别进展并小幅推进，不突然加压。\n- 如果用户表达阶段结束、总结、下一阶段或交接，要形成阶段总结、下一阶段计划和下次可接续点。\n\
            \n关于“进展判断方式”：\n- 写一个很小的进展信号。\n- 不要写“症状消失”“恢复正常”。\n- 可以写：\n  - 能在自动点开游戏前停顿一次\n\
            \  - 能说清楚自己卡在哪一步\n  - 能打开项目文件一次\n  - 能更早意识到自己在逃开\n\n关于“下次前最小行动”：\n- 只能输出\
            \ 1 条主动作。\n- 可以给这个动作的最低完成版本，但必须写在同一条里，不能拆成第 2 条。\n- 不要再附加第二个观察、记录或分析任务。\n\
            - 如果用户明确抱怨“只观察没有推进”，这一栏必须写最小行动，而不是继续写观察任务。\n- 如果用户不想记录很多东西，不要写“记录感受”“观察情绪”“整理想法”作为额外任务。\n\
            - 这个动作要足够小，用户做不到也可以下次带回来继续讨论。\n\n更新要求：\n- 每栏 1-3 条即可。\n- 使用用户自己的表达和具体事实。\n\
            - 不要写“必须”“应该马上”。\n- 不要给庞大计划。\n- 不要机械累加旧内容。\n- 如果旧计划表里有过时、重复、不贴合本次情况的内容，要删掉或改写。\n\
            - 如果本次咨询出现新的重要信息，要更新对应栏目。\n- 如果用户反馈之前的计划不适合、太抽象、太慢、太像观察任务，要根据反馈修正计划。\n\
            - 不要从“用户主动结束”“用户质疑提问”“用户问任务有什么用”推断用户不满、防御、逃避或不配合。除非用户明确表达，否则只写具体事实。\n\
            - 心理线要包含修复咨询关系、减少自责、允许用户拒绝建议。\n- 行动线要可执行、可验证，例如 25 分钟项目块、记录第一次打开游戏前正在做什么、不要求戒游戏、不要求立刻达到 8 小时。\n\n\
            正确示例：\n下次前最小行动：\n下次想打开游戏前，只做一个动作：把手放桌上数5下，然后打开项目文档写一句“下一步是什么”。如果写不出来，就写“写不出来”，这也算完成。\n\
            \n错误示例：\n写完后记录当时感受。\n再观察自己有没有更想玩游戏。\n把当时的想法整理后带到下次咨询。\n\n旧计划表：\n{{#1779963168931.plan_text#}}\n\
            \n本次咨询总结：\n{{#1779718251824.summary#}}\n\n本次核心主题：\n{{#1779718251824.core_topics#}}\n\
            \n下次接续重点：\n{{#1779718251824.next_focus#}}\n\n请直接输出更新后的计划表，不要 Markdown\
            \ 表格，不要 JSON。"
        selected: false
        title: update_care_plan
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779963775579'
      position:
        x: 5604.857142857143
        y: 414.5
      positionAbsolute:
        x: 5604.857142857143
        y: 414.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-3080
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"plan_text\"\
              : \"{{#1779963775579.text#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存咨询计划表
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/care-plan
        variables: []
      height: 153
      id: '1779963867804'
      position:
        x: 5954
        y: 414.5
      positionAbsolute:
        x: 5954
        y: 414.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: f0dc4f2d-ac92-4a99-a2d5-7d2a9d53032d
          role: system
          text: "你是一个对话流程判断模块。\n\n你的任务是判断用户当前这句话是否表达了“想结束本次咨询 / 今天先聊到这里 / 不想继续展开”的意图。\n\
            \n你只做流程判断，不做心理分析，不输出解释。\n\n请严格输出 JSON，不要 Markdown，不要代码块：\n\n{\n  \"user_wants_end\"\
            : true,\n  \"confidence\": 0.0,\n  \"reason\": \"简短原因\"\n}\n\n判断为 user_wants_end\
            \ = true 的情况包括：\n- 用户明确说今天先到这里\n- 用户说差不多了、先这样、下次再聊\n- 用户表示现在不想继续说\n- 用户表示想暂停本次对话\n\
            - 用户表达“我先走了”“我要去忙了”\n- 用户虽然没有说“结束”，但语义上是在收束本次咨询\n\n判断为 false 的情况包括：\n\
            - 用户只是问“什么时候结束”\n- 用户质疑为什么要结束\n- 用户说“然后呢”“接下来怎么办”“什么时候能改”\n- 用户还在提出新问题、要求计划、要求建议\n\
            - 用户只是说“不知道怎么说”，但没有表达结束\n- 用户只是情绪低落或沉默倾向，不等于结束\n- 用户只是说“困了”“好困”“有点累”“状态不好”，不等于结束\n- 如果用户只是表达困倦或疲惫，要先询问是休息还是轻轻继续几分钟；只有明确说“今天先到这里/我要去睡了/先不聊了”才算结束\n\n用户当前输入：\n{{#sys.query#}}\n\
            \n当前对话记录：\n{{#17798742810070.transcript_text#}}"
        selected: false
        title: USER END INTENT DETECTION
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1779968567689'
      position:
        x: 3172.2857142857147
        y: 459.78571428571433
      positionAbsolute:
        x: 3172.2857142857147
        y: 459.78571428571433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(intent_text: str, current_query:\
          \ str, can_continue: bool, session_stage: str, remaining_minutes: float)\
          \ -> dict:\n    user_wants_end\
          \ = False\n    confidence = 0.0\n    reason = \"\"\n\n    if intent_text:\n\
          \        text = intent_text.strip()\n        text = re.sub(r\"^```json\\\
          s*\", \"\", text)\n        text = re.sub(r\"^```\\s*\", \"\", text)\n  \
          \      text = re.sub(r\"\\s*```$\", \"\", text)\n\n        match = re.search(r\"\
          \\{.*\\}\", text, re.S)\n        if match:\n            text = match.group(0)\n\
          \n        try:\n            data = json.loads(text)\n            user_wants_end\
          \ = bool(data.get(\"user_wants_end\", False))\n            confidence =\
          \ float(data.get(\"confidence\", 0.0))\n            reason = str(data.get(\"\
          reason\", \"\")).strip()\n        except Exception:\n            reason\
          \ = \"parse_failed\"\n\n    try:\n        remaining = float(remaining_minutes\
          \ or 0)\n    except Exception:\n        remaining = 0\n\n    current_query\
          \ = (current_query or \"\").strip()\n    fatigue_markers = [\"困\", \"累\"\
          , \"疲惫\", \"没精神\", \"状态不好\"]\n    explicit_end_markers = [\"今天先到这里\"\
          , \"先到这里\", \"下次再聊\", \"先不聊\", \"不聊了\", \"我要睡了\", \"去睡了\"\
          , \"睡觉了\", \"我要走了\", \"先走了\"]\n    fatigue_only = any(marker in current_query\
          \ for marker in fatigue_markers) and not any(marker in current_query for\
          \ marker in explicit_end_markers)\n    if fatigue_only:\n        user_wants_end\
          \ = False\n        reason = \"fatigue_without_explicit_end\"\n\n    time_should_close\
          \ = (can_continue is False) or session_stage in [\"ending\", \"ended\"]\
          \ or remaining <= 2\n    should_close = time_should_close or (user_wants_end\
          \ and confidence >= 0.65)\n\n    return {\n        \"user_wants_end\": user_wants_end,\n\
          \        \"should_close\": should_close,\n        \"time_should_close\"\
          : time_should_close,\n        \"confidence\": confidence,\n        \"reason\"\
          : reason,\n        \"remaining_minutes_text\": str(round(remaining, 1)),\n\
          \        \"user_wants_end_text\": \"true\" if user_wants_end else \"false\"\
          ,\n        \"should_close_text\": \"true\" if should_close else \"false\"\
          ,\n        \"time_should_close_text\": \"true\" if time_should_close else\
          \ \"false\",\n        \"confidence_text\": str(round(confidence, 2))\n \
          \   }"
        code_language: python3
        outputs:
          confidence:
            children: null
            type: number
          confidence_text:
            children: null
            type: string
          reason:
            children: null
            type: string
          remaining_minutes_text:
            children: null
            type: string
          should_close:
            children: null
            type: boolean
          should_close_text:
            children: null
            type: string
          time_should_close:
            children: null
            type: boolean
          time_should_close_text:
            children: null
            type: string
          user_wants_end:
            children: null
            type: boolean
          user_wants_end_text:
            children: null
            type: string
        selected: false
        title: USER END INTENT DETECTION parse
        type: code
        variables:
        - value_selector:
          - '1779968567689'
          - text
          value_type: string
          variable: intent_text
        - value_selector:
          - sys
          - query
          value_type: string
          variable: current_query
        - value_selector:
          - '1779349355740'
          - can_continue
          value_type: boolean
          variable: can_continue
        - value_selector:
          - '1779349355740'
          - session_stage
          value_type: string
          variable: session_stage
        - value_selector:
          - '1779349355740'
          - remaining_minutes
          value_type: number
          variable: remaining_minutes
      height: 51
      id: '1779968610422'
      position:
        x: 3520
        y: 487.0357142857143
      positionAbsolute:
        x: 3520
        y: 487.0357142857143
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\nimport json\nimport html\n\ndef strip_reasoning_blocks(text:\
          \ str) -> str:\n    text = re.sub(r\"<details[\\s\\S]*?</details>\", \"\"\
          , text, flags=re.I)\n    text = re.sub(r\"<think[\\s\\S]*?</think>\", \"\
          \", text, flags=re.I)\n    text = re.sub(r\"<[^>]+>\", \"\", text)\n   \
          \ return text\n\ndef normalize_text(text: str) -> str:\n    text = html.unescape(text\
          \ or \"\").strip()\n    text = re.sub(r\"^```(?:json|text|markdown)?\\s*\"\
          , \"\", text, flags=re.I)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\
          \    text = strip_reasoning_blocks(text)\n    text = re.sub(r\"\\n{3,}\"\
          , \"\\n\\n\", text)\n    return text.strip()\n\ndef main(profile_check_text:\
          \ str) -> dict:\n    if not profile_check_text:\n        return {\n    \
          \        \"should_save\": False,\n            \"profile_memory\": \"\",\n\
          \            \"reason\": \"empty\"\n        }\n\n    raw = normalize_text(profile_check_text)\n\
          \n    hard_pollution_markers = [\n        \"<details\",\n        \"<think\"\
          ,\n        \"Thinking\",\n        \"思考过程\",\n        \"分析过程\",\n       \
          \ \"我需要分析\",\n        \"我需要先\",\n        \"```\"\n    ]\n\n    if any(marker\
          \ in raw for marker in hard_pollution_markers):\n        return {\n    \
          \        \"should_save\": False,\n            \"profile_memory\": \"\",\n\
          \            \"reason\": \"contains_reasoning_or_markup\"\n        }\n\n\
          \    try:\n        data = json.loads(raw)\n    except Exception:\n     \
          \   return {\n            \"should_save\": False,\n            \"profile_memory\"\
          : \"\",\n            \"reason\": \"invalid_json\"\n        }\n\n    profile_memory\
          \ = normalize_text(data.get(\"profile_memory\", \"\"))\n    should_save\
          \ = bool(data.get(\"should_save\", True))\n    reason = str(data.get(\"\
          reason\", \"\")).strip() or \"ok\"\n\n    if not should_save:\n        return\
          \ {\n            \"should_save\": False,\n            \"profile_memory\"\
          : \"\",\n            \"reason\": reason\n        }\n\n    if len(profile_memory)\
          \ < 20:\n        return {\n            \"should_save\": False,\n       \
          \     \"profile_memory\": \"\",\n            \"reason\": \"too_short\"\n\
          \        }\n\n    if len(profile_memory) > 800:\n        profile_memory\
          \ = profile_memory[:800].rstrip()\n\n    return {\n        \"should_save\"\
          : True,\n        \"profile_memory\": profile_memory,\n        \"reason\"\
          : reason\n    }"
        code_language: python3
        outputs:
          profile_memory:
            children: null
            type: string
          reason:
            children: null
            type: string
          should_save:
            children: null
            type: boolean
        selected: false
        title: profile parse
        type: code
        variables:
        - value_selector:
          - '1780040399983'
          - text
          value_type: string
          variable: profile_check_text
      height: 51
      id: '1780038042537'
      position:
        x: 6296
        y: 280
      positionAbsolute:
        x: 6296
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 77fb0f42-5ba7-4750-8f27-fa2be27fd0d1
          role: system
          text: "你是长期心理画像质检与改写模块。\n\n你会看到三类信息：\n\n1. 旧的长期画像\n2. 本次咨询对话记录\n3. 上一个节点生成的画像草稿\n\
            \n你的任务不是重新做心理分析，而是检查画像草稿是否适合保存。\n如果画像草稿里有诊断、人格判断、心理学标签、理论化解释，不要直接丢弃，而是根据本次对话记录改写成用户明确表达过的中性事实。\n\
            \n判断优先级：\n本次咨询对话记录 > 旧的长期画像 > 画像草稿\n\n只允许保留：\n- 用户明确说过的事实\n- 用户反复提到的现实压力\n\
            - 用户自己的表达方式\n- 用户对咨询方式的偏好\n- 用户试过但觉得有效/无效的方法\n- 下次可以接续的具体点\n\n必须删除或改写：\n\
            - 诊断\n- 人格判断\n- 心理学标签\n- 理论化解释\n- 没有对话依据的推测\n- 模型思考过程\n- HTML / Markdown\
            \ / 代码块\n\n如果草稿内容基本可修正，就 should_save = true。\n只有当草稿主要是模型思考过程、HTML污染、空内容、严重不可读时，才\
            \ should_save = false。\n\n禁止把“用户主动结束”“用户追问任务”“用户质疑问题”解释成不满、防御、逃避、缺乏耐心。\n\
            除非用户明确说“不满/不舒服/不想继续”，否则只能中性记录行为。\n\n只输出 JSON，不要输出其他文字：\n\n{\n  \"should_save\"\
            : true,\n  \"profile_memory\": \"改写后的长期画像正文\",\n  \"reason\": \"ok\"\n\
            }\n\n旧的长期画像：\n{{#1779716715273.profile_memory#}}\n\n本次咨询对话记录：\n{{#17798742810070.transcript_text#}}\n\
            \n画像草稿：\n{{#1779868007113.text#}}"
        selected: false
        title: Profile Quality Check
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1780040399983'
      position:
        x: 5954
        y: 247.5
      positionAbsolute:
        x: 5954
        y: 247.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b2013c30-3b77-4654-b59c-1df2b78cc053
            value: true
            varType: boolean
            variable_selector:
            - '1780038042537'
            - should_save
          - comparison_operator: not empty
            id: 776ef17b-28d0-450f-81a3-e0a609d064b9
            value: ''
            varType: string
            variable_selector:
            - '1780038042537'
            - profile_memory
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否保存用户长期画像
        type: if-else
      height: 189
      id: '1780041151933'
      position:
        x: 6570.857142857143
        y: 177.3571428571429
      positionAbsolute:
        x: 6570.857142857143
        y: 177.3571428571429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-171
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\"\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Finalize Session
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session/finalize
        variables: []
      height: 153
      id: '1780051156476'
      position:
        x: 6256
        y: 414.5
      positionAbsolute:
        x: 6256
        y: 414.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0547584a-7ca7-445a-a062-594069503489
          role: system
          text: '你是一位经验丰富的心理咨询师。


            本次正式咨询已经结束，并且本次总结、长期画像和咨询计划已经保存过。

            你现在不能继续展开新的咨询内容，也不要再次总结整场咨询。


            最重要规则：

            必须优先回应用户当前输入。

            用户当前输入的优先级高于历史对话。

            不要被历史对话里的任务、总结或示例带偏。


            如果用户当前输入类似：

            “还能聊吗”

            “不能聊了吗”

            “啊，不能聊了吗”

            “还可以继续吗”

            “现在不能说了吗”


            你要温和说明：这次正式咨询已经结束，今天先不继续展开新的内容。

            不要重复收尾任务。

            不要说“刚才给了两个方向”。

            不要重新生成计划。


            可以回复：

            “这次正式咨询已经结束了，所以今天先不继续展开新的内容。你刚才这种‘还想继续聊’的感觉可以留到下次一开始说，我们下次就从这里接。”


            如果用户明确是在澄清收尾任务，例如：

            “那我到底做哪个？”

            “是数5下还是回想？”

            “刚才不是说另一个吗？”

            “任务是什么？”


            如果用户需要澄清任务，必须以本次对话中最后一次正式收尾回复里的任务为准。

            不要使用示例里的固定任务。

            不要临时改任务。。”


            如果用户开启新话题：

            简短接住，但提醒留到下次正式咨询继续。

            不要展开分析。


            回复 1-3 句话。

            不要输出 Markdown。

            不要输出 JSON。

            不要再次布置新任务。

            不要再次总结整场咨询。


            用户当前输入：

            {{#sys.query#}}


            本次咨询对话：

            {{#17798742810070.transcript_text#}}


            请只根据用户当前输入，输出结束后的简短回应。'
        selected: false
        title: POST SESSION RESPONSE
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1780061016312'
      position:
        x: 4275.644498401773
        y: 74.94660453773176
      positionAbsolute:
        x: 4275.644498401773
        y: 74.94660453773176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1780061016312.text#}}\"\n}"
          type: json
        desc: ''
        headers: ''
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息（end）
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 153
      id: '17800612389130'
      position:
        x: 4596.304576753908
        y: -12.278584432125484
      positionAbsolute:
        x: 4596.304576753908
        y: -12.278584432125484
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1780061016312.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: 直接回复 2 (1)
        type: answer
        variables: []
      height: 102
      id: '17800612687800'
      position:
        x: 5038.087254664006
        y: -6.217669081343786
      positionAbsolute:
        x: 5038.087254664006
        y: -6.217669081343786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 88.46976954821093
      y: 311.4954329561736
      zoom: 0.41622249884902496
  rag_pipeline_variables: []
