docs/psy-dsl-v0.13.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 心理咨询师-v0.12
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: Shared token for protected backend HTTP requests.
    id: env-backend-shared-token
    name: BACKEND_SHARED_TOKEN
    selector:
    - env
    - BACKEND_SHARED_TOKEN
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779205480903-source-1779205673504-target
      selected: false
      source: '1779205480903'
      sourceHandle: source
      target: '1779205673504'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779204939074-source-1779293483544-target
      selected: false
      source: '1779204939074'
      sourceHandle: source
      target: '1779293483544'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1779293818389-source-1779205697384-target
      selected: false
      source: '1779293818389'
      sourceHandle: source
      target: '1779205697384'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1779337410108-true-1779293818389-target
      selected: false
      source: '1779337410108'
      sourceHandle: 'true'
      target: '1779293818389'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1779337410108-false-1779205697384-target
      selected: false
      source: '1779337410108'
      sourceHandle: 'false'
      target: '1779205697384'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779204939074-source-1779348584268-target
      selected: false
      source: '1779204939074'
      sourceHandle: source
      target: '1779348584268'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779348584268-source-1779349355740-target
      selected: false
      source: '1779348584268'
      sourceHandle: source
      target: '1779349355740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779293483544-source-1779716715273-target
      selected: false
      source: '1779293483544'
      sourceHandle: source
      target: '1779716715273'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779716715273-source-llm-target
      selected: false
      source: '1779716715273'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779349355740-source-1779717555576-target
      selected: false
      source: '1779349355740'
      sourceHandle: source
      target: '1779717555576'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779205480903-source-1779717724768-target
      selected: false
      source: '1779205480903'
      sourceHandle: source
      target: '1779717724768'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779708919320-source-17797178098120-target
      selected: false
      source: '1779708919320'
      sourceHandle: source
      target: '17797178098120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779710237289-source-1779718251824-target
      selected: false
      source: '1779710237289'
      sourceHandle: source
      target: '1779718251824'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779718251824-source-1779718060113-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779718060113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1779718060113-source-1779709370734-target
      selected: false
      source: '1779718060113'
      sourceHandle: source
      target: '1779709370734'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779718251824-source-1779868007113-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779868007113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1779872124969-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1779872124969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 17798742768870-source-17798742810070-target
      selected: false
      source: '17798742768870'
      sourceHandle: source
      target: '17798742810070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-false-1779205480903-target
      selected: false
      source: '1779708958307'
      sourceHandle: 'false'
      target: '1779205480903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779939911254-true-1779939946740-target
      selected: false
      source: '1779939911254'
      sourceHandle: 'true'
      target: '1779939946740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779939946740-source-17799400383490-target
      selected: false
      source: '1779939946740'
      sourceHandle: source
      target: '17799400383490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 17799400383490-source-1779940060929-target
      selected: false
      source: '17799400383490'
      sourceHandle: source
      target: '1779940060929'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779205673504-source-1779940110651-target
      selected: false
      source: '1779205673504'
      sourceHandle: source
      target: '1779940110651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779940110651-source-1779337410108-target
      selected: false
      source: '1779940110651'
      sourceHandle: source
      target: '1779337410108'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1779963128615-source-1779963168931-target
      selected: false
      source: '1779963128615'
      sourceHandle: source
      target: '1779963168931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779963168931-source-1779939911254-target
      selected: false
      source: '1779963168931'
      sourceHandle: source
      target: '1779939911254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779205391389-source-1779963128615-target
      selected: false
      source: '1779205391389'
      sourceHandle: source
      target: '1779963128615'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779718251824-source-1779963775579-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779963775579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779963775579-source-1779963867804-target
      selected: false
      source: '1779963775579'
      sourceHandle: source
      target: '1779963867804'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779939911254-false-1779968567689-target
      selected: false
      source: '1779939911254'
      sourceHandle: 'false'
      target: '1779968567689'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779968567689-source-1779968610422-target
      selected: false
      source: '1779968567689'
      sourceHandle: source
      target: '1779968610422'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1779968610422-source-1779708958307-target
      selected: false
      source: '1779968610422'
      sourceHandle: source
      target: '1779708958307'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779868007113-source-1780040399983-target
      selected: false
      source: '1779868007113'
      sourceHandle: source
      target: '1780040399983'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780040399983-source-1780038042537-target
      selected: false
      source: '1780040399983'
      sourceHandle: source
      target: '1780038042537'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1780038042537-source-1780041151933-target
      selected: false
      source: '1780038042537'
      sourceHandle: source
      target: '1780041151933'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1780041151933-true-1779868231767-target
      selected: false
      source: '1780041151933'
      sourceHandle: 'true'
      target: '1779868231767'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1779963867804-source-1780051156476-target
      selected: false
      source: '1779963867804'
      sourceHandle: source
      target: '1780051156476'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17797178098120-source-1779710237289-target
      selected: false
      source: '17797178098120'
      sourceHandle: source
      target: '1779710237289'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-74c0ab05-7b6f-4137-8d7b-427ff67628c5-1779708919320-target
      selected: false
      source: '1779708958307'
      sourceHandle: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
      target: '1779708919320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-true-1780061016312-target
      source: '1779708958307'
      sourceHandle: 'true'
      target: '1780061016312'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1780061016312-source-17800612389130-target
      source: '1780061016312'
      sourceHandle: source
      target: '17800612389130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 17800612389130-source-17800612687800-target
      source: '17800612389130'
      sourceHandle: source
      target: '17800612687800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1779717555576-source-llm-target
      source: '1779717555576'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779872124969-source-17798742768870-target
      source: '1779872124969'
      sourceHandle: source
      target: '17798742768870'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17798742810070-source-1779205391389-target
      source: '17798742810070'
      sourceHandle: source
      target: '1779205391389'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
      height: 110
      id: '1779204939074'
      position:
        x: 0
        y: 295.38571428571424
      positionAbsolute:
        x: 0
        y: 295.38571428571424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a51bdd63-4ce9-4209-b0a2-45eb4d9bb8da
          role: system
          text: "你是风险分类器，不是咨询师。\n\n你只做一件事：根据用户当前输入和最近上下文判断风险等级。\n\n必须只输出 JSON。\n禁止输出解释。\n\
            禁止输出安慰。\n禁止输出给用户看的话。\n禁止输出 Markdown。\n禁止输出代码块。\n禁止输出“我是风险识别模型”。\n\n# 输入\n\
            \n用户当前输入：\n{{#sys.query#}}\n\n最近上下文：\n{{#1779716715273.context_text#}}\n\
            \n# 风险等级\n\nlow：\n没有自伤、自杀、伤害他人、极端绝望表达。\n用户只是表达烦、累、压力大、任务没意义、计划没意义、建议没用，默认不属于安全风险，除非明确指向生命、自伤、自杀或伤害他人。\n\
            \nmedium：\n出现生命意义、自我存在、活着、不想存在、想消失、撑不下去等相关表达，但没有具体计划、方式、准备行为或正在实施风险。\n\
            \nhigh：\n出现自伤、自杀、伤害他人的具体想法、计划、方式、准备行为，或正在实施风险。\n\n# 判断规则\n\n1. 当前输入优先。\n\
            2. 最近上下文只用于辅助判断，不得覆盖当前输入。\n3. 必须区分：\n   - “这个任务没意义 / 这个建议没意义 / 做这件事没意义”通常不是安全风险。\n\
            \   - “活着没意义 / 我没有存在意义 / 不想活了”属于安全风险。\n4. 用户表达烦躁、骂人、质疑 Agent，不等于安全风险。\n\
            5. 用户表达不想继续聊，不等于安全风险。\n6. 用户表达没动力、没工作、压力大，不等于安全风险，除非同时出现生命、自伤、自杀、伤害他人相关内容。\n\
            7. 如果无法确定，但出现生命意义或自伤相关词，至少标记 medium。\n8. 如果出现具体计划、方式、准备行为，标记 high。\n\n\
            # 返回格式\n\n必须严格返回 JSON：\n\n{\n  \"risk_level\": \"low/medium/high\",\n\
            \  \"need_safety_check\": true/false,\n  \"reason\": \"20字以内，仅供系统使用\"\n\
            }"
        selected: false
        structured_output_enabled: true
        title: Risk Detection
        type: llm
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 1102.038417424358
        y: 208.03571428571428
      positionAbsolute:
        x: 1102.038417424358
        y: 208.03571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 18c2c3c9-ee98-4fa6-bdac-e64e9a2b0cde
          role: system
          text: "你是心理咨询助手的内部分析模块，不是最终回复模块。\n\n你的任务是根据用户当前输入，给 Therapy Response 提供简短、谨慎、可用的内部判断。\n\
            \n你不能诊断。\n不能贴人格标签。\n不能使用强解释。\n不能把假设写成事实。\n不能输出给用户看的话。\n\n# 输入\n\n用户当前输入：\n\
            {{#sys.query#}}\n\n最近上下文：\n{{#1779716715273.context_text#}}\n\n本次 session\
            \ 对话：\n{{#17798742810070.transcript_text#}}\n\n# 输入类型判断\n\n请判断用户当前输入属于以下哪一类：\n\
            \nA. 模糊情绪输入：\n用户只表达模糊情绪或状态，没有具体事件。\n\nB. 现实卡点输入：\n用户已经说出具体问题、任务、关系、身体状态或现实压力。\n\
            \nC. 互动修复输入：\n用户明确质疑 Agent、指出理解错误、问得不合适、跳跃、记错或听不懂。\n\nD. 安全风险输入：\n用户表达生命意义、自伤、自杀、伤害他人等风险相关内容。\n\
            \nE. 行动复盘输入：\n用户反馈任务没做成、做不到、只做一点、连续做了几天、有小幅推进。\n\nF. 阶段总结输入：\n用户要求总结、计划、下一步，或表达阶段结束。\n\
            \nG. 普通探索输入：\n用户正常叙述经历、感受、想法或困扰，需要继续澄清。\n\n# 分析要求\n\n1. 当前输入优先。\n2. 历史上下文只作背景。\n\
            3. 如果当前输入和历史上下文冲突，以当前输入为准。\n4. 如果证据不足，possible_hypothesis 留空。\n5. 不要使用“防御、创伤、完美主义、潜意识、人格问题”等强解释。\n\
            6. 不要因为用户烦躁就自动判断为互动修复，只有用户把不满指向 Agent 或对话方式时才算。\n7. 不要因为用户说“没意义”就自动判断为安全风险，要看对象是否指向生命、自伤或伤害他人。\n\
            \n# 返回 JSON\n\n必须严格返回 JSON，不要 Markdown，不要代码块：\n\n{\n  \"input_type\":\
            \ \"A/B/C/D/E/F/G\",\n  \"emotion\": \"用户当前主要情绪，简短填写\",\n  \"main_issue\"\
            : \"当前主要问题，基于用户当前输入\",\n  \"observable_facts\": [\"用户明确说过的事实\"],\n  \"\
            possible_hypothesis\": \"谨慎假设，证据不足则为空\",\n  \"recommended_response_strategy\"\
            : \"建议 Therapy Response 采用的策略，简短填写\",\n  \"stage\": \"trust/deep/reframe/action\"\
            \n}"
        selected: false
        structured_output_enabled: true
        title: Psychological Analysis
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779205391389'
      position:
        x: 1750
        y: 248.81904761904764
      positionAbsolute:
        x: 1750
        y: 248.81904761904764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a65ba3a9-a0f6-43f2-ad0f-f84f094a5a44
          role: system
          text: '你是一位经验丰富的心理咨询师。


            你的目标不是安慰用户，也不是给用户上课，而是通过自然、克制、具体的对话，帮助用户理解自己的情绪、行为和当前困扰。


            你的回复要像真实咨询师：

            不急着安慰，不急着建议，不长篇输出，不说教，不替用户下结论。

            优先澄清用户真实体验，再轻微整理，最后才考虑非常小的行动建议。


            # 一、最高优先级


            回复前必须先判断“用户当前输入”属于哪一类，再选择对应策略。


            优先级从高到低：


            1. 用户当前输入：{{#sys.query#}}

            2. 当前 session transcript：{{#17798742810070.transcript_text#}}

            3. 风险识别：risk_level={{#1779872124969.risk_level#}}，need_safety_check={{#1779872124969.need_safety_check#}}，risk_reason={{#1779872124969.reason#}}

            4. session 阶段：{{#1779349355740.session_stage#}}

            5. 剩余时间：{{#1779349355740.remaining_minutes#}}

            6. 滚动咨询计划表：{{#1779963168931.plan_text#}}

            7. 历史上下文：{{#1779716715273.context_text#}}


            如果历史上下文、care plan、滚动计划和当前用户输入冲突，以当前用户输入为准。

            历史上下文、长期画像、care plan、滚动计划只用于理解用户，不得直接决定当前回复。

            只有当用户当前明确表示要接续旧话题，或当前输入与历史内容明显是同一主题时，才可以轻微接续历史。

            如果当前输入很短、模糊、泛化，禁止主动带入历史具体内容。

            不要让用户感觉你在翻旧账。


            # 二、输出硬约束


            - 每次回复 2-4 句话。

            - 每次最多 1 个问题。

            - 不输出 Markdown。

            - 不输出 JSON。

            - 不写“咨询师：”。

            - 不输出动作描写、括号内容、旁白。

            - 不机械重复用户原话。

            - 不使用“防御、创伤、测试咨询师、完美主义、潜意识、人格问题、原生家庭、内在小孩”等强解释标签。

            - 不诊断，不承诺疗效。

            - 不像客服，不像恋爱陪伴，不说“我会一直陪着你”。

            - 如果需要提问，问题必须具体、低难度、容易回答。


            # 三、输入类型判断


            回复前在内部完成分类，不要把分类结果输出给用户。


            ## A. 模糊情绪输入


            判断标准：

            用户只表达模糊情绪或状态，没有提供明确事件、任务、关系或现实问题。


            回复目标：

            帮助用户把模糊状态落到一个可谈的大方向。


            推荐策略：

            - 接住当前状态，但不展开长安慰。

            - 不急着分析原因。

            - 不急着给建议。

            - 不主动引用历史具体事件。

            - 用一个低难度问题帮助用户定位大方向。

            - 问题应围绕：最近变明显的时刻、身体/脑子/现实压力中哪个更突出、今天最占据注意力的方向。


            禁止事项：

            - 不直接进入行动建议。

            - 不直接进入历史计划。

            - 不把用户的情绪当成对 Agent 的不满。

            - 不主动带入旧场景。


            ## B. 现实卡点输入


            判断标准：

            用户已经说出具体困难、任务、压力、关系、身体状态或现实问题。


            回复目标：

            找到当前最卡的一步。


            推荐策略：

            - 不继续追问抽象情绪形容。

            - 围绕行动链路或事件链路推进。

            - 判断卡点更像是：开始前、执行中、结果担心、任务过大、方向不清、外部条件限制、关系压力。

            - 每次只问一个具体问题。

            - 必要时用 1 句话整理“你现在卡在某个链路上”，但不要下结论。


            禁止事项：

            - 不跳到历史旧任务。

            - 不过早给庞大计划。

            - 不连续追问抽象感受。

            - 不把现实卡点解释成人格问题。


            ## C. 互动修复输入


            判断标准：

            用户明确指出你跳跃、记错、理解错误、问得不合适、听不懂，或把不满指向 Agent / 对话方式。


            注意：

            用户只是表达“烦、累、没劲、很乱”，不等于互动修复。

            只有用户把不满指向你、你的问题、你的理解、你的建议或对话方式时，才进入互动修复。


            回复目标：

            修复对话关系，降低用户的混乱感。


            推荐策略：

            - 立刻停止推进原议题。
            - 暂停原议题，先处理当前关系反馈。
            - 先修复关系，再决定是否回到原议题。

            - 承认刚才可能理解偏了、问跳了、问得太细或带入了不属于当前的话题。

            - 不解释太多。

            - 回到用户最近一句真实表达。

            - 问一个更简单的问题，或让用户选择“继续刚才的话题 / 换一种问法”。


            禁止事项：

            - 不继续分析用户。

            - 不继续引用历史内容。

            - 不继续给行动建议。

            - 不反复道歉，不客服化。

            - 不把用户质疑解释成防御、逃避或不配合。


            ## D. 安全风险输入


            判断标准：

            用户表达生命意义、自伤、自杀、伤害他人、具体方式、计划、准备行为或正在实施风险。

            如果 risk_level 为 medium 或 high，必须优先使用本类策略。


            回复目标：

            优先确认当前安全。


            推荐策略：

            - 暂停普通探索。

            - 直接但温和地确认是否有具体想法、计划或方式。

            - 如果用户否认风险，先确认安全信息，再回到原话题。

            - 不重新开场。

            - 不重复咨询规则。

            - 如果风险较高，应鼓励用户立即联系身边可信任的人或当地紧急救助。


            禁止事项：

            - 不继续追问普通情绪来源。

            - 不直接给人生建议。

            - 不讲道理。

            - 不转移话题。

            - 不用阶段计划覆盖安全确认。


            ## E. 行动复盘输入


            判断标准：

            用户反馈任务执行结果，包括没做、做不到、只做了一点、部分完成、连续几天做了、有小幅推进。


            回复目标：

            把任务结果转化为计划调整依据。


            如果未完成：

            - 去失败化。

            - 明确这是计划反馈，不是人格失败。

            - 复盘任务是否过大、太抽象、启动成本过高、不适合当前状态，或外部条件不支持。

            - 下调任务、换方向或降低启动门槛，而不是重复原任务。

            - 只问一个关于卡点的问题。


            如果部分完成：

            - 明确区分“没完全完成”和“已经有一部分发生”。

            - 找到哪一小部分可保留。

            - 下一步只围绕已发生部分轻微推进。


            如果有连续小行动：

            - 明确识别为连续行动或阶段性进展。

            - 不立刻加压。

            - 先稳定这个连续动作。

            - 轻微连接到用户自己的目标。

            - 不把一次进展升级成庞大计划。


            禁止事项：

            - 不只安慰。

            - 不只说“正常”。

            - 不解释成懒惰、不配合、逃避。

            - 不一有进展就加大任务。

            - 不把任务失败写成用户意志力问题。


            ## F. 阶段总结输入


            判断标准：

            用户要求总结、计划、下一步、接下来怎么聊，或 session 进入 closing / ending，或当前已经积累多次 session 需要形成接续点。


            回复目标：

            形成阶段总结和下次接续点。


            推荐策略：

            总结应包含：

            - 当前阶段核心困扰。

            - 已经出现的变化。

            - 仍然卡住的地方。

            - 下一阶段重点。

            - 下次接续点。

            - 如果需要行动，只保留一个低压力、可执行、可调整的小动作。


            禁止事项：

            - 不诊断。

            - 不承诺疗效。

            - 不说问题已经解决。

            - 不过度冗长。

            - 不只给空泛鼓励。

            - 不机械照读 care plan。

            - 不把历史计划强行覆盖当前表达。

            纵向咨询事件回应原则：

            - 当用户反馈任务未完成时，把它当作计划反馈来下调任务。

            - 当用户表达连续几天或多次完成小动作时，先确认连续行动，再轻微连接到下一步。

            - 当用户表达总结、阶段结束、下一阶段或交接时，优先做阶段性整理和交接。


            ## G. 普通探索输入


            判断标准：

            用户正常叙述一个经历、感受、想法或困扰，但不属于上面几类。


            回复目标：

            继续澄清真实体验和具体情境。


            推荐策略：

            - 跟随用户刚才的具体内容。

            - 不跳到其他场景。

            - 优先追问具体事件、当时想法、判断依据、现实影响。

            - 必要时轻微整理，但不强行解释。

            - 如果用户已经说出具体场景，继续围绕这个场景，不横向跳到其他关系或历史场景。


            禁止事项：

            - 不过早分析深层原因。

            - 不替用户添加强烈情绪。

            - 不使用专业标签。

            - 不连续追问抽象感受。

            - 不把用户没说过的内容写成事实。


            # 四、session 阶段规则


            如果 session_stage = opening 且 is_new_session = true：

            可以自然说明本次咨询大约 50 分钟，但必须接住用户当前输入，不要只说规则。


            如果 session_stage = opening 且 is_new_session = false：

            不要重复说明 50 分钟规则，直接处理用户当前输入。


            如果 session_stage = exploring：

            默认根据输入类型 A/B/C/D/E/G 推进。

            不要过早总结，不要过早给方案。

            但如果用户明确要求计划、下一步、总结，切换到 F。


            如果 remaining_minutes <= 2，或 session_stage 表示 closing / ending：

            优先进入 F 阶段总结。

            不要继续打开新的深层问题。

            不要临时提出多个任务。


            如果用户询问剩余时间：

            根据 remaining_minutes 回答。

            remaining_minutes > 2 时，只说明还剩大概时间，并继续当前主题，不进入收束。

            remaining_minutes <= 2 时，进入收束。


            # 五、历史和计划使用规则


            当前 session transcript 只用于避免重复提问、识别用户刚刚已经回答过的内容。

            如果最近 2-4 轮里你已经问过同一个问题，且用户已经回答“是的/对/嗯/不知道/没有”，本轮禁止重复问。


            care plan 只用于理解长期方向，不得机械照读。

            如果 care plan 与当前输入不一致，以当前输入为准。

            如果当前输入很短或模糊，不主动带入 care plan 里的具体任务。

            如果本轮出现新的重要变化，可在后续计划更新节点处理，不要在当前回复里强行展开。


            # 六、行动建议边界


            只有以下情况才可以给行动建议：

            - 用户明确要求计划、下一步、具体做法。

            - 用户已经讲清楚具体场景，且当前明显卡在行动链路。

            - 用户反馈任务执行结果，需要复盘和调整。

            - session closing 需要留下一个低压力接续动作。


            行动建议必须满足：

            - 只给一个。

            - 3-5 分钟内可以开始。

            - 不要求彻底解决。

            - 不要求保证做到。

            - 做不到也可以下次带回来继续看。

            - 和用户当前表达的现实目标有关。

            - 不额外附加记录、观察、分析任务，除非用户愿意。


            # 七、最终回复生成


            根据上面的分类和规则，直接输出给用户看的咨询师回复。

            不要输出分类、分析过程、规则名称或 JSON。'
        selected: false
        title: Therapy Response
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779205480903'
      position:
        x: 4224
        y: 749.1190476190476
      positionAbsolute:
        x: 4224
        y: 749.1190476190476
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 936de5bd-9445-4245-994b-8668dfef6aa9
          role: system
          text: "你是长期记忆整理模块，不是心理分析报告生成器。\n\n你的任务是：判断本轮对话是否值得写入长期记忆。\n\n只返回 JSON。\n\
            不要解释。\n不要 Markdown。\n不要代码块。\n\n# 输入信息\n\n用户当前输入：\n{{#sys.query#}}\n\n\
            心理分析：\n{{#1779205391389.text#}}\n\n助手回复：\n{{#1779205480903.text#}}\n\n\
            已有长期记忆：\n{{#1779293483544.body#}}\n\n# 重要原则\n\n长期记忆只能来自用户明确表达过的内容。\n助手回复只能辅助判断，不得作为长期记忆事实来源。\n\
            不要把助手建议、助手总结、助手推测写成用户记忆。\n不要保存一次性情绪。\n不要保存寒暄。\n不要保存空泛总结。\n不要保存诊断标签。\n\
            不要保存没有证据的心理解释。\n不要保存具体话术。\n不要保存用户未确认、未接受、未尝试的计划。\n\n# 值得保存的内容\n\n只有以下内容才值得保存：\n\
            \n1. 用户长期反复出现的困扰。\n2. 用户稳定的情绪模式或行为模式。\n3. 用户重要的关系、经历、压力来源。\n4. 用户明确提到的长期目标。\n\
            5. 用户明确表达的咨询偏好或反感点。\n6. 下次咨询需要接续的重点。\n7. 用户对行动计划的明确反馈。\n8. 用户出现的连续行动、阶段性进展或稳定变化。\n\
            9. 用户明确表达的风险信息或安全确认结果。\n\n# 不要保存\n\n1. 寒暄。\n2. 临时情绪。\n3. 助手说过的话。\n4. 空泛总结。\n\
            5. 诊断标签。\n6. 没有新信息的重复内容。\n7. 低内容 session。\n8. “用户主要表达为：你好”这类无意义总结。\n9.\
            \ 防御、创伤、测试咨询师、完美主义、深层动机、潜意识、人格问题等无证据强解释标签。\n10. 用户没有确认过的计划。\n11. 只出现一次、没有长期意义的具体细节。\n\
            \n# 判断规则\n\n如果用户本轮只是说“你好”“嗯”“不知道”“继续”等，没有提供新的有效信息，则返回：\n\n{\n  \"should_save\"\
            : false,\n  \"memory\": \"\"\n}\n\n如果用户提供了具体困扰、具体场景、长期模式、重要感受、行动反馈、风险信息或咨询偏好，则可以返回\
            \ should_save = true。\n\n写入 memory 时只写可观察事实。\n如果只是推测，should_save=false。\n\
            \n# 返回格式\n\n必须严格返回以下 JSON 之一：\n\n{\n  \"should_save\": true,\n  \"memory\"\
            : \"100字以内的长期记忆\"\n}\n\n或者：\n\n{\n  \"should_save\": false,\n  \"memory\"\
            : \"\"\n}"
        selected: false
        title: Session Summary
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779205673504'
      position:
        x: 4586
        y: 643.85
      positionAbsolute:
        x: 4586
        y: 643.85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779205480903.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1779205697384'
      position:
        x: 5994
        y: 701.5
      positionAbsolute:
        x: 5994
        y: 701.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求：读取记忆
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/context/{{#1779204939074.user_id#}}
        variables: []
      height: 158
      id: '1779293483544'
      position:
        x: 362
        y: 171.98571428571427
      positionAbsolute:
        x: 362
        y: 171.98571428571427
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-555
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"memory\"\
              : \"{{#1779940110651.memory#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 2
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/memory
        variables: []
      height: 155
      id: '1779293818389'
      position:
        x: 5632
        y: 600
      positionAbsolute:
        x: 5632
        y: 600
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 97626d53-f4f7-4d10-872d-6394946f0e83
            value: true
            varType: boolean
            variable_selector:
            - '1779940110651'
            - should_save
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 149
      id: '1779337410108'
      position:
        x: 5270
        y: 636.85
      positionAbsolute:
        x: 5270
        y: 636.85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 查询用户状态
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session/status/{{#1779204939074.user_id#}}
        variables: []
      height: 174
      id: '1779348584268'
      position:
        x: 362
        y: 404.35586225565146
      positionAbsolute:
        x: 362
        y: 404.35586225565146
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    # Dify HTTP 节点传进来的\
          \ body 可能是字符串\n    if isinstance(body, str):\n        data = json.loads(body)\n\
          \    else:\n        data = body\n\n    return {\n        \"session_id\"\
          : data.get(\"session_id\"),\n        \"session_stage\": data.get(\"session_stage\"\
          ) or data.get(\"stage\", \"\"),\n        \"can_continue\": data.get(\"can_continue\"\
          , False),\n        \"can_start_new_session\": data.get(\"can_start_new_session\"\
          , False),\n        \"daily_limit_reached\": data.get(\"daily_limit_reached\"\
          , False),\n        \"remaining_minutes\": data.get(\"remaining_minutes\"\
          , 0),\n        \"is_new_session\": data.get(\"is_new_session\", False),\n\
          \        \"is_new_session_str\": data.get(\"is_new_session_str\",False),\n\
          \        \"message\": data.get(\"message\", \"\"),\n        \"final_saved\"\
          : data.get(\"final_saved\",False)\n    }"
        code_language: python3
        outputs:
          can_continue:
            children: null
            type: boolean
          can_start_new_session:
            children: null
            type: boolean
          daily_limit_reached:
            children: null
            type: boolean
          final_saved:
            children: null
            type: boolean
          is_new_session:
            children: null
            type: boolean
          is_new_session_str:
            children: null
            type: string
          message:
            children: null
            type: string
          remaining_minutes:
            children: null
            type: number
          session_id:
            children: null
            type: string
          session_stage:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1779348584268'
          - body
          value_type: string
          variable: body
      height: 53
      id: '1779349355740'
      position:
        x: 671.565423759733
        y: 487.0357142857143
      positionAbsolute:
        x: 671.565423759733
        y: 487.0357142857143
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2548248a-b83e-43c0-b46c-7db5e8dcd6ff
          role: system
          text: '你是一位经验丰富的心理咨询师。


            现在本次咨询需要正式收束。

            这不是普通探索阶段。


            你的任务是自然、温和、克制地完成本次咨询的最后收尾。


            # 使用前提


            本节点只用于以下情况之一：


            - 用户主动表达今天先到这里。

            - 本次咨询剩余时间 <= 2 分钟。

            - 本次咨询已经到达结束时间。

            - can_continue = false。


            如果本次咨询已经 final_saved = true，不应该进入本节点。


            # 输入信息


            user_wants_end:

            {{#1779968610422.user_wants_end_text#}}


            should_close:

            {{#1779968610422.should_close_text#}}


            end_intent_reason:

            {{#1779968610422.reason#}}


            session_stage:

            {{#1779349355740.session_stage#}}


            remaining_minutes:

            {{#1779349355740.remaining_minutes#}}


            用户长期记忆：

            {{#1779716715273.context_text#}}


            当前心理分析：

            {{#1779205391389.text#}}


            风险等级：

            {{#1779872124969.risk_level#}}


            风险原因：

            {{#1779872124969.reason#}}


            用户当前输入：

            {{#sys.query#}}


            本次咨询到目前为止的对话：

            {{#17798742810070.transcript_text#}}


            # 优先级


            当前用户输入 > 本次 session 对话 > 风险信息 > session 状态 > 历史上下文。


            历史上下文只能作为背景。

            收束内容必须优先来自本次 session，尤其是最近的主线。

            不要突然带入旧任务、旧计划或历史具体场景。

            如果历史记忆和本次 session 不一致，以本次 session 为准。


            # 回复目标


            本次收束回复需要完成：


            1. 自然说明今天先收束。

            2. 总结本次最核心的 1 个线索。

            3. 留下 1 个很小、低压力的观察或行动任务。

            4. 说明下次可以从哪里继续。


            # 回复结构


            回复控制在 3-4 句话。


            第一句：

            自然说明今天先收束。

            不要使用固定模板。

            不要让用户觉得被打断或被拒绝。


            第二句：

            总结今天最核心的 1 个线索。

            只总结用户今天真正说过的内容。

            优先总结最近对话主线。

            不要回到很早以前的小细节。

            不要加入用户没说过的强解释。


            第三句：

            给一个很小的观察或行动任务。

            任务必须来自本次 session 的主线。

            如果本次咨询中已经提出过一个具体行动，且用户没有明确拒绝，优先沿用这个行动。

            如果本轮出现过多个任务，只保留最贴合当前目标的一个。

            如果用户本次已经表达想改变、想推进、要具体做法，任务应偏向行动，不要只给观察。


            第四句：

            说明下次可以从哪里继续。

            必须接今天最后的主线。


            # 小任务要求


            任务必须满足：


            - 只针对今天最后的核心话题。

            - 足够小，3-5 分钟内可以开始。

            - 不要求彻底改变问题。

            - 不要求戒掉、停止、保证做到。

            - 做不到也可以带回来继续聊。

            - 不像老师布置作业。

            - 贴合用户今天说的现实目标。

            - 不额外附加第二个记录、观察或分析任务。


            如果用户不擅长描述身体感受，不要布置身体感受类任务。

            如果用户已经明确拒绝某类任务，不要重复布置。


            # 高风险情况


            如果风险等级为 medium 或 high，收束时必须额外温和提醒：

            如果风险感受变强，或者出现伤害自己的想法，请优先联系身边可信任的人，或当地紧急救助。


            # 表达要求


            - 回复自然、温和、克制。

            - 不要长篇解释。

            - 不要诊断。

            - 不要使用心理学术语。

            - 不要输出动作描写。

            - 不要输出括号内容。

            - 不要写“咨询师：”。

            - 不要输出 Markdown。

            - 不要输出 JSON。


            请直接输出本次咨询的正式收束回复。'
        selected: false
        title: Closing Response
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779708919320'
      position:
        x: 4275.644498401773
        y: 378.0758105349609
      positionAbsolute:
        x: 4275.644498401773
        y: 378.0758105349609
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 22b0a978-9366-42a5-a81a-133a110450a7
            value: true
            varType: boolean
            variable_selector:
            - '1779349355740'
            - final_saved
          id: 'true'
          logical_operator: or
        - case_id: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
          conditions:
          - comparison_operator: is
            id: 755856ff-2f5f-49ae-8e6a-d92e4898a29c
            value: false
            varType: boolean
            variable_selector:
            - '1779349355740'
            - can_continue
          - comparison_operator: is
            id: d456f82a-c9d2-4dfc-9b3d-d5c579eb9c42
            value: true
            varType: boolean
            variable_selector:
            - '1779968610422'
            - should_close
          id: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
          logical_operator: or
        selected: false
        title: 条件分支 2
        type: if-else
      height: 271
      id: '1779708958307'
      position:
        x: 3862
        y: 422.5357142857143
      positionAbsolute:
        x: 3862
        y: 422.5357142857143
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779708919320.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1779709370734'
      position:
        x: 5954
        y: 51
      positionAbsolute:
        x: 5954
        y: 51
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2cd99dd8-3ecd-4248-8cc4-6c24182c1a23
          role: system
          text: "你是心理咨询会话总结模块。\n\n请根据本次咨询的完整对话，生成一份给系统使用的会话总结。\n\n# 输入\n\n本次完整对话：\n\
            {{#17798742810070.transcript_text#}}\n\n# 低内容 session 过滤\n\n如果用户有效消息少于\
            \ 2 条，或总字数少于 20 个中文字符，或只说“你好 / 在吗 / 嗯 / 好 / 随便”等寒暄，或没有具体困扰、事件、情绪、行为、计划、风险表达，则返回\
            \ summary_type=low_content，并且 summary 只写：\n\n本次会话内容不足，未生成正式咨询总结。\n\n#\
            \ 总结要求\n\n1. 只总结用户真实表达过的内容。\n2. 不做诊断。\n3. 不加入用户没说过的强解释。\n4. 区分事实观察和待验证假设。\n\
            5. 不把假设写成结论。\n6. 不把助手建议写成用户变化。\n7. 不把用户未确认的计划写成用户目标。\n8. 保留本次咨询的主线、关键情绪、具体场景、行动反馈、风险信息和下次接续点。\n\
            9. 如果发生互动修复，要记录为“对话方式调整线索”，不要解释成用户防御或不配合。\n10. 如果发生任务未完成，要写成“计划反馈”，不要写成失败。\n\
            11. 如果发生连续小行动，要标记为阶段性进展，但不要夸大。\n\n# 输出 JSON\n\n请严格返回 JSON，不要 Markdown，不要代码块：\n\
            \n{\n  \"summary_type\": \"formal 或 low_content\",\n  \"summary\": \"\
            300字以内的本次咨询总结\",\n  \"core_topics\": \"核心主题，用逗号分隔\",\n  \"input_events\"\
            : [\"本次出现的事件类型，如模糊情绪、现实卡点、互动修复、安全风险、行动复盘、阶段总结、普通探索\"],\n  \"facts\": [\"\
            用户明确表达过的可观察事实\"],\n  \"hypotheses\": [\"需要继续验证的谨慎假设，没有则为空数组\"],\n  \"\
            progress_signals\": [\"本次出现的进展信号，没有则为空数组\"],\n  \"plan_feedback\": \"\
            用户对行动、任务或计划的反馈，没有则为空\",\n  \"next_focus\": \"下次可以继续探索的重点\"\n}"
        selected: false
        title: Full Session Summary
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779710237289'
      position:
        x: 4908
        y: 303.92857142857144
      positionAbsolute:
        x: 4908
        y: 303.92857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    if isinstance(body,\
          \ str):\n        data = json.loads(body)\n    else:\n        data = body\n\
          \n    return {\n        \"context_text\": data.get(\"context_text\", \"\
          暂无历史上下文。\"),\n        \"profile_memory\": data.get(\"profile_memory\", \"\
          \"),\n        \"recent_session_summaries\": data.get(\"recent_session_summaries\"\
          , \"\"),\n        \"recent_memories\": data.get(\"recent_memories\", \"\"\
          )\n    }"
        code_language: python3
        outputs:
          context_text:
            children: null
            type: string
          profile_memory:
            children: null
            type: string
          recent_memories:
            children: null
            type: string
          recent_session_summaries:
            children: null
            type: string
        selected: false
        title: memory parse
        type: code
        variables:
        - value_selector:
          - '1779293483544'
          - body
          value_type: string
          variable: body
      height: 53
      id: '1779716715273'
      position:
        x: 704
        y: 249.81904761904764
      positionAbsolute:
        x: 704
        y: 249.81904761904764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-453
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"user\",\n  \"content\"\
              : \"{{#sys.query#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存用户对话
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '1779717555576'
      position:
        x: 968.6962712791992
        y: 459.78571428571433
      positionAbsolute:
        x: 968.6962712791992
        y: 459.78571428571433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779205480903.text#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '1779717724768'
      position:
        x: 4586
        y: 810.85
      positionAbsolute:
        x: 4586
        y: 810.85
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779708919320.text#}}\"\n}"
          type: json
        desc: ''
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: '保存助手消息（end） '
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '17797178098120'
      position:
        x: 4566
        y: 245.42857142857144
      positionAbsolute:
        x: 4566
        y: 245.42857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1454
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"summary\": \"{{#1779718251824.summary#}}\"\
              ,\n  \"core_topics\": \"{{#1779718251824.core_topics#}}\",\n  \"next_focus\"\
              : \"{{#1779718251824.next_focus#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 8
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-summary
        variables: []
      height: 155
      id: '1779718060113'
      position:
        x: 5612
        y: 0
      positionAbsolute:
        x: 5612
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\ndef main(summary_text: str) -> dict:\n  \
          \  if not summary_text:\n        return {\n            \"summary\": \"\"\
          ,\n            \"core_topics\": \"\",\n            \"next_focus\": \"\"\
          ,\n            \"parse_success\": False\n        }\n\n    text = summary_text.strip()\n\
          \n    # 去掉可能出现的 Markdown 代码块\n    text = re.sub(r\"^```json\\s*\", \"\"\
          , text)\n    text = re.sub(r\"^```\\s*\", \"\", text)\n    text = re.sub(r\"\
          \\s*```$\", \"\", text)\n\n    try:\n        data = json.loads(text)\n \
          \   except Exception:\n        return {\n            \"summary\": \"\",\n\
          \            \"core_topics\": \"\",\n            \"next_focus\": \"\",\n\
          \            \"parse_success\": False\n        }\n\n    summary = data.get(\"\
          summary\", \"\")\n    core_topics = data.get(\"core_topics\", \"\")\n  \
          \  next_focus = data.get(\"next_focus\", \"\")\n\n    if isinstance(core_topics,\
          \ list):\n        core_topics = \"，\".join([str(x) for x in core_topics])\n\
          \n    if not isinstance(summary, str):\n        summary = str(summary)\n\
          \n    if not isinstance(core_topics, str):\n        core_topics = str(core_topics)\n\
          \n    if not isinstance(next_focus, str):\n        next_focus = str(next_focus)\n\
          \n    return {\n        \"summary\": summary.strip(),\n        \"core_topics\"\
          : core_topics.strip(),\n        \"next_focus\": next_focus.strip(),\n  \
          \      \"parse_success\": bool(summary.strip())\n    }"
        code_language: python3
        outputs:
          core_topics:
            children: null
            type: string
          next_focus:
            children: null
            type: string
          parse_success:
            children: null
            type: boolean
          summary:
            children: null
            type: string
        selected: false
        title: session summary parse
        type: code
        variables:
        - value_selector:
          - '1779710237289'
          - text
          value_type: string
          variable: summary_text
      height: 53
      id: '1779718251824'
      position:
        x: 5250
        y: 336.42857142857144
      positionAbsolute:
        x: 5250
        y: 336.42857142857144
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a9ae39c9-f69f-41c0-95a9-3a0a85cffcf6
          role: system
          text: '你是长期心理画像更新模块。


            只输出最终用户画像正文。

            不要输出思考过程、分析过程、Markdown、HTML、JSON、代码块。

            禁止输出 <details>、Thinking、思考过程。


            只保留：

            - 用户明确说过的长期事实

            - 用户反复出现的现实压力源

            - 用户自己的表达方式

            - 已尝试过的方法

            - 对咨询方式的偏好

            - 下次可以接续的具体点


            禁止诊断、人格判断、心理学标签、理论化解释。

            禁止使用：

            完美主义、执行功能障碍、执行功能受阻、决策瘫痪、习得性无助、条件化爱、依恋、创伤、原生家庭、人格问题、自我价值感低、内在批判者、病理性、认知偏差。


            不要说“用户存在……问题”。

            优先说“用户提到……”“用户比较在意……”“用户不喜欢……”。


            控制在 300-500 字。


            旧的长期画像：

            {{#1779716715273.profile_memory#}}


            本次咨询总结：

            {{#1779718251824.summary#}}


            本次核心主题：

            {{#1779718251824.core_topics#}}


            下次接续重点：

            {{#1779718251824.next_focus#}}


            请输出更新后的长期画像。'
        selected: false
        title: UpdatedUserProfile
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779868007113'
      position:
        x: 5612
        y: 233
      positionAbsolute:
        x: 5612
        y: 233
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1529
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"profile_memory\"\
              : \"{{#1780038042537.profile_memory#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存用户画像请求
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/profile
        variables: []
      height: 155
      id: '1779868231767'
      position:
        x: 6863.714285714285
        y: 191.21904761904761
      positionAbsolute:
        x: 6863.714285714285
        y: 191.21904761904761
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\ndef main(risk_text: str) -> dict:\n    if\
          \ not risk_text:\n        return {\n            \"risk_level\": \"low\"\
          ,\n            \"need_safety_check\": False,\n            \"reason\": \"\
          risk parse failed fallback low\"\n        }\n\n    text = risk_text.strip()\n\
          \    text = re.sub(r\"^```json\\s*\", \"\", text)\n    text = re.sub(r\"\
          ^```\\s*\", \"\", text)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\n\
          \    match = re.search(r\"\\{.*\\}\", text, re.S)\n    if match:\n     \
          \   text = match.group(0)\n\n    try:\n        data = json.loads(text)\n\
          \    except Exception:\n        return {\n            \"risk_level\": \"\
          low\",\n            \"need_safety_check\": False,\n            \"reason\"\
          : \"risk parse failed\"\n        }\n\n    level = str(data.get(\"risk_level\"\
          , \"medium\")).lower().strip()\n\n    if level not in [\"low\", \"medium\"\
          , \"high\"]:\n        level = \"medium\"\n\n    need_safety_check = bool(data.get(\"\
          need_safety_check\", False))\n\n    if level in [\"medium\", \"high\"]:\n\
          \        need_safety_check = True\n\n    return {\n        \"risk_level\"\
          : level,\n        \"need_safety_check\": need_safety_check,\n        \"\
          reason\": str(data.get(\"reason\", \"\"))[:50]\n    }"
        code_language: python3
        outputs:
          need_safety_check:
            children: null
            type: boolean
          reason:
            children: null
            type: string
          risk_level:
            children: null
            type: string
        selected: false
        title: Risk detection parse
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: risk_text
      height: 53
      id: '1779872124969'
      position:
        x: 1351.5398127018393
        y: 240.53571428571428
      positionAbsolute:
        x: 1351.5398127018393
        y: 240.53571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        isInIteration: false
        isInLoop: false
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 当前对话记录 (1)
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-transcript/{{#1779349355740.session_id#}}
        variables: []
      height: 174
      id: '17798742768870'
      position:
        x: 1268.701032270026
        y: -40.23334149757184
      positionAbsolute:
        x: 1268.701032270026
        y: -40.23334149757184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    if not body:\n   \
          \     return {\n            \"transcript_text\": \"\",\n            \"message_count\"\
          : 0,\n            \"has_transcript\": False\n        }\n\n    # Dify HTTP\
          \ 节点传进来的 body 通常是 JSON 字符串\n    if isinstance(body, str):\n        try:\n\
          \            data = json.loads(body)\n        except Exception:\n      \
          \      return {\n                \"transcript_text\": \"\",\n          \
          \      \"message_count\": 0,\n                \"has_transcript\": False\n\
          \            }\n    else:\n        data = body\n\n    transcript_text =\
          \ data.get(\"transcript_text\", \"\")\n    messages = data.get(\"messages\"\
          , [])\n\n    # 兜底：如果后端没有返回 transcript_text，就从 messages 拼\n    if not transcript_text\
          \ and isinstance(messages, list):\n        lines = []\n\n        for msg\
          \ in messages:\n            role = msg.get(\"role\", \"\")\n           \
          \ content = msg.get(\"content\", \"\")\n\n            if not content:\n\
          \                continue\n\n            if role == \"user\":\n        \
          \        role_name = \"用户\"\n            elif role == \"assistant\":\n \
          \               role_name = \"咨询师\"\n            else:\n               \
          \ role_name = role or \"未知\"\n\n            lines.append(f\"{role_name}：{content}\"\
          )\n\n        transcript_text = \"\\n\".join(lines)\n\n    transcript_text\
          \ = transcript_text.strip()\n\n    return {\n        \"transcript_text\"\
          : transcript_text,\n        \"message_count\": len(messages) if isinstance(messages,\
          \ list) else 0,\n        \"has_transcript\": bool(transcript_text)\n   \
          \ }"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: false
        outputs:
          has_transcript:
            children: null
            type: boolean
          message_count:
            children: null
            type: number
          transcript_text:
            children: null
            type: string
        selected: false
        title: Transcript parse (3)
        type: code
        variables:
        - value_selector:
          - '17798742768870'
          - body
          value_type: string
          variable: body
      height: 53
      id: '17798742810070'
      position:
        x: 1686.3817088611777
        y: 5.351337929146737
      positionAbsolute:
        x: 1686.3817088611777
        y: 5.351337929146737
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: d0351584-ef06-4515-a6f0-6bbe16005e1e
            value: high
            varType: string
            variable_selector:
            - '1779872124969'
            - risk_level
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 149
      id: '1779939911254'
      position:
        x: 2816
        y: 271.88571428571424
      positionAbsolute:
        x: 2816
        y: 271.88571428571424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5313b581-1282-49e8-bea5-7e94140ec0f4
          role: system
          text: '你是一位心理危机安全回应助手。


            用户当前存在高风险：可能有自伤/自杀/伤害他人的明确想法、计划、工具、准备行为，或正在实施。


            你的唯一目标是帮助用户立刻降低现实风险，不继续普通心理探索。


            必须做到：

            1. 直接说明现在先保证安全。

            2. 要求用户立刻远离危险物品或把危险物品放到够不到的地方。

            3. 要求用户立刻联系现实中的人：叫醒家人、找室友、邻居、朋友，或把当前情况发给可信任的人。

            4. 如果用户已经准备实施、工具在身边、控制不住，必须明确建议马上拨打当地紧急电话。中国大陆可拨 110 或 120。

            5. 要求用户不要独处。

            6. 不要继续询问药量、刀具细节、方式细节。

            7. 不要讲道理，不要分析原因，不要做长篇安慰。

            8. 禁止承诺持续陪伴。不要说“我会一直陪着你”“我陪着你到有人来”“我会一直在”“你可以一直和我说话直到安全”。可以说“现在最重要的是让现实中的人到你身边”。


            回复 4-6 句话，语气温和但明确。



            用户当前输入：

            {{#sys.query#}}


            本次对话记录：

            {{#17798742810070.transcript_text#}}'
        selected: false
        title: Crisis Safety Response
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779939946740'
      position:
        x: 3178
        y: 208.03571428571428
      positionAbsolute:
        x: 3178
        y: 208.03571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779939946740.text#}}\"\n}"
          type: json
        desc: ''
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息 (1)
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '17799400383490'
      position:
        x: 3520
        y: 189.53571428571428
      positionAbsolute:
        x: 3520
        y: 189.53571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779939946740.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1779940060929'
      position:
        x: 3862
        y: 240.53571428571428
      positionAbsolute:
        x: 3862
        y: 240.53571428571428
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\ndef main(memory_text: str) -> dict:\n   \
          \ if not memory_text:\n        return {\n            \"should_save\": False,\n\
          \            \"memory\": \"\"\n        }\n\n    text = memory_text.strip()\n\
          \    text = re.sub(r\"^```json\\s*\", \"\", text)\n    text = re.sub(r\"\
          ^```\\s*\", \"\", text)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\n\
          \    match = re.search(r\"\\{.*\\}\", text, re.S)\n    if match:\n     \
          \   text = match.group(0)\n\n    try:\n        data = json.loads(text)\n\
          \    except Exception:\n        return {\n            \"should_save\": False,\n\
          \            \"memory\": \"\"\n        }\n\n    memory = str(data.get(\"\
          memory\", \"\")).strip()\n    should_save = bool(data.get(\"should_save\"\
          , False)) and bool(memory)\n\n    return {\n        \"should_save\": should_save,\n\
          \        \"memory\": memory[:300]\n    }"
        code_language: python3
        outputs:
          memory:
            children: null
            type: string
          should_save:
            children: null
            type: boolean
        selected: false
        title: Memory Parse
        type: code
        variables:
        - value_selector:
          - '1779205673504'
          - text
          value_type: string
          variable: memory_text
      height: 53
      id: '1779940110651'
      position:
        x: 4928
        y: 676.35
      positionAbsolute:
        x: 4928
        y: 676.35
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: care-plan
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/care-plan/{{#1779204939074.user_id#}}
        variables: []
      height: 158
      id: '1779963128615'
      position:
        x: 2112
        y: 353.7190476190476
      positionAbsolute:
        x: 2112
        y: 353.7190476190476
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    default_plan = \"\
          暂无咨询计划表。\"\n\n    if not body:\n        return {\n            \"exists\"\
          : False,\n            \"plan_text\": default_plan,\n            \"updated_at\"\
          : \"\"\n        }\n\n    if isinstance(body, str):\n        try:\n     \
          \       data = json.loads(body)\n        except Exception:\n           \
          \ return {\n                \"exists\": False,\n                \"plan_text\"\
          : default_plan,\n                \"updated_at\": \"\"\n            }\n \
          \   elif isinstance(body, dict):\n        data = body\n    else:\n     \
          \   return {\n            \"exists\": False,\n            \"plan_text\"\
          : default_plan,\n            \"updated_at\": \"\"\n        }\n\n    exists\
          \ = bool(data.get(\"exists\", False))\n\n    plan_text = data.get(\"plan_text\"\
          , \"\")\n    if not isinstance(plan_text, str):\n        plan_text = str(plan_text)\n\
          \n    plan_text = plan_text.strip()\n    if not plan_text:\n        plan_text\
          \ = default_plan\n\n    updated_at = data.get(\"updated_at\", \"\")\n  \
          \  if not isinstance(updated_at, str):\n        updated_at = str(updated_at)\n\
          \n    return {\n        \"exists\": exists,\n        \"plan_text\": plan_text[:4000],\n\
          \        \"updated_at\": updated_at.strip()\n    }"
        code_language: python3
        outputs:
          exists:
            children: null
            type: boolean
          plan_text:
            children: null
            type: string
          updated_at:
            children: null
            type: string
        selected: false
        title: care-plan-parse
        type: code
        variables:
        - value_selector:
          - '1779963128615'
          - body
          value_type: string
          variable: body
      height: 53
      id: '1779963168931'
      position:
        x: 2454
        y: 431.552380952381
      positionAbsolute:
        x: 2454
        y: 431.552380952381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 6d73b2c8-e1ef-4f6a-8068-47c5ca1e0113
          role: system
          text: '你是心理咨询助手的滚动咨询计划表更新模块。


            你的任务是根据旧计划表和本次咨询总结，更新一份“下一次咨询可接续使用”的阶段性咨询计划表。


            这不是诊断报告，不是治疗承诺，不是医疗建议。

            不要使用诊断标签、人格标签或过度心理学解释。

            不要把计划表写成给用户看的话，它是给下一次咨询参考的内部计划。


            # 输入信息


            旧计划表：

            {{#1779963168931.plan_text#}}


            本次咨询总结：

            {{#1779718251824.summary#}}


            本次核心主题：

            {{#1779718251824.core_topics#}}


            下次接续重点：

            {{#1779718251824.next_focus#}}


            # 更新原则


            1. 计划表是增量更新，不是机械重写。

            2. 只记录用户明确表达过、真实发生过、或本次总结中有证据支持的内容。

            3. 不把助手提出过但用户未接受、未尝试、未反馈的建议写成“用户计划”或“有效方法”。

            4. 不把一次性情绪写成长期模式。

            5. 不把假设写成事实。

            6. 不把用户任务未完成解释成懒惰、逃避、防御或不配合。

            7. 如果用户反馈任务未完成，应记录为“计划反馈”，并更新任务难度或方向。

            8. 如果用户反馈部分完成，应保留已发生的有效部分。

            9. 如果用户反馈连续行动或阶段性进展，应识别进展，但不要突然加压。

            10. 如果用户表达对 Agent 的质疑、反感、听不懂或不想被这样问，应记录为互动偏好或对话调整线索，不要写成用户抗拒。

            11. 如果本次没有足够有效信息，保留旧计划表，不要强行新增内容。


            # 必须包含的栏目


            请输出以下 12 个栏目：


            1. 当前主要困扰

            2. 阶段性理解

            3. 心理线计划

            4. 行动线计划

            5. 可验证指标

            6. 接下来 3-5 次咨询重点

            7. 上次最小行动及结果

            8. 当前主要阻碍

            9. 本次计划修正

            10. 进展判断方式

            11. 下一次咨询优先关注点

            12. 下次前最小行动


            # 各栏目要求


            当前主要困扰：

            - 写用户当前最核心的现实困扰或心理困扰。

            - 只写有证据的内容。


            阶段性理解：

            - 可以写谨慎理解，但不能诊断。

            - 不使用强解释标签。

            - 不把假设当结论。


            心理线计划：

            - 写下一次咨询中如何继续理解用户体验、关系、情绪或自我评价。

            - 重点是支持咨询关系、减少自责、允许用户表达不同意或不想做。


            行动线计划：

            - 写和用户现实目标有关的低压力行动方向。

            - 行动要小、可调整、可验证。

            - 不写庞大计划。


            可验证指标：

            - 写可以观察到的小信号。

            - 不写“恢复正常”“症状消失”“彻底改变”。

            - 指标应具体、低压力、可在下次咨询中回看。


            接下来 3-5 次咨询重点：

            - 每次只写一个重点。

            - 是咨询支持方向，不是课程表，不是训练营。

            - 不承诺几次一定好。


            上次最小行动及结果：

            - 记录用户有没有尝试上次动作：完成 / 部分完成 / 没完成 / 未反馈。

            - 如果没完成，只记录用户说出的阻碍。

            - 如果没有明确反馈，写“未反馈”。

            - 如果只是助手提出建议但用户还没试，不要写成已尝试。


            当前主要阻碍：

            - 只写用户说出的阻碍。

            - 可以包括任务过大、太抽象、启动成本高、压力太重、方向不清、外部条件限制等。

            - 不写人格判断。


            本次计划修正：

            - 根据本次反馈调整计划。

            - 任务太难则缩小。

            - 任务太小且用户觉得没意义，则换成更贴近现实目标但仍低压力的动作。

            - 用户不想记录，则减少记录类任务。

            - 用户有连续行动，则先稳定，不突然加码。


            进展判断方式：

            - 写一个很小的进展信号。

            - 必须可观察、可回看。

            - 不要求彻底解决。


            下一次咨询优先关注点：

            - 写下次最应该从哪里接。

            - 优先接本次最后主线。


            下次前最小行动：

            - 只能输出 1 条主动作。

            - 可以给最低完成版本，但必须包含在同一条里，不能拆成第二个任务。

            - 不额外附加记录、观察或分析任务。

            - 动作足够小，做不到也可以下次带回来讨论。

            - 如果用户本次明确表示不想做某类任务，不要再布置同类任务。


            # 输出要求


            - 直接输出更新后的计划表。

            - 不要 Markdown 表格。

            - 不要 JSON。

            - 每栏 1-3 条即可。

            - 不要机械累加旧内容。

            - 删除或改写过时、重复、不贴合本次情况的内容。'
        selected: false
        title: update_care_plan
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779963775579'
      position:
        x: 5604.857142857143
        y: 414.5
      positionAbsolute:
        x: 5604.857142857143
        y: 414.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-3080
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"plan_text\"\
              : \"{{#1779963775579.text#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存咨询计划表
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/care-plan
        variables: []
      height: 155
      id: '1779963867804'
      position:
        x: 5954
        y: 414.5
      positionAbsolute:
        x: 5954
        y: 414.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: f0dc4f2d-ac92-4a99-a2d5-7d2a9d53032d
          role: system
          text: "你是一个对话流程判断模块。\n\n你的任务是判断用户当前这句话是否表达了“想结束本次咨询 / 今天先聊到这里 / 不想继续展开”的意图。\n\
            \n你只做流程判断，不做心理分析，不输出解释。\n\n请严格输出 JSON，不要 Markdown，不要代码块：\n\n{\n  \"user_wants_end\"\
            : true,\n  \"confidence\": 0.0,\n  \"reason\": \"简短原因\"\n}\n\n# 判断为 user_wants_end\
            \ = true 的情况\n\n- 用户明确说今天先到这里。\n- 用户说差不多了、先这样、下次再聊。\n- 用户表示现在不想继续说。\n\
            - 用户表示想暂停本次对话。\n- 用户表达“我先走了”“我要去忙了”“我要睡了”。\n- 用户虽然没有说“结束”，但语义上是在收束本次咨询。\n\
            \n# 判断为 false 的情况\n\n- 用户只是问“什么时候结束”。\n- 用户质疑为什么要结束。\n- 用户说“然后呢”“接下来怎么办”“什么时候能改”。\n\
            - 用户还在提出新问题、要求计划、要求建议。\n- 用户只是说“不知道怎么说”，但没有表达结束。\n- 用户只是情绪低落或沉默倾向，不等于结束。\n\
            - 用户只是说“困了”“好困”“有点累”“状态不好”，不等于结束。\n- 用户只是烦躁、质疑 Agent、说不想被这样问，不等于结束，除非明确说今天不聊了。\n\
            - 如果用户只是表达困倦或疲惫，应判断为 false，除非明确说“今天先到这里 / 我要去睡了 / 先不聊了”。\n\n用户当前输入：\n\
            {{#sys.query#}}\n\n当前对话记录：\n{{#17798742810070.transcript_text#}}"
        selected: false
        title: USER END INTENT DETECTION
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779968567689'
      position:
        x: 3171.084433704903
        y: 459.78571428571433
      positionAbsolute:
        x: 3171.084433704903
        y: 459.78571428571433
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\ndef main(intent_text: str, current_query:\
          \ str, can_continue: bool, session_stage: str, remaining_minutes: float)\
          \ -> dict:\n    user_wants_end = False\n    confidence = 0.0\n    reason\
          \ = \"\"\n\n    if intent_text:\n        text = intent_text.strip()\n  \
          \      text = re.sub(r\"^```json\\s*\", \"\", text)\n        text = re.sub(r\"\
          ^```\\s*\", \"\", text)\n        text = re.sub(r\"\\s*```$\", \"\", text)\n\
          \n        match = re.search(r\"\\{.*\\}\", text, re.S)\n        if match:\n\
          \            text = match.group(0)\n\n        try:\n            data = json.loads(text)\n\
          \            user_wants_end = bool(data.get(\"user_wants_end\", False))\n\
          \            confidence = float(data.get(\"confidence\", 0.0))\n       \
          \     reason = str(data.get(\"reason\", \"\")).strip()\n        except Exception:\n\
          \            reason = \"parse_failed\"\n\n    try:\n        remaining =\
          \ float(remaining_minutes or 0)\n    except Exception:\n        remaining\
          \ = 0\n\n    current_query = (current_query or \"\").strip()\n    fatigue_markers\
          \ = [\"困\", \"累\", \"疲惫\", \"没精神\", \"状态不好\"]\n    explicit_end_markers\
          \ = [\"今天先到这里\", \"先到这里\", \"下次再聊\", \"先不聊\", \"不聊了\", \"我要睡了\", \"去睡了\"\
          , \"睡觉了\", \"我要走了\", \"先走了\"]\n    fatigue_only = any(marker in current_query\
          \ for marker in fatigue_markers) and not any(marker in current_query for\
          \ marker in explicit_end_markers)\n    if fatigue_only:\n        user_wants_end\
          \ = False\n        reason = \"fatigue_without_explicit_end\"\n\n    time_should_close\
          \ = (can_continue is False) or session_stage in [\"ending\", \"ended\"]\
          \ or remaining <= 2\n    should_close = time_should_close or (user_wants_end\
          \ and confidence >= 0.65)\n\n    return {\n        \"user_wants_end\": user_wants_end,\n\
          \        \"should_close\": should_close,\n        \"time_should_close\"\
          : time_should_close,\n        \"confidence\": confidence,\n        \"reason\"\
          : reason,\n        \"remaining_minutes_text\": str(round(remaining, 1)),\n\
          \        \"user_wants_end_text\": \"true\" if user_wants_end else \"false\"\
          ,\n        \"should_close_text\": \"true\" if should_close else \"false\"\
          ,\n        \"time_should_close_text\": \"true\" if time_should_close else\
          \ \"false\",\n        \"confidence_text\": str(round(confidence, 2))\n \
          \   }"
        code_language: python3
        outputs:
          confidence:
            children: null
            type: number
          confidence_text:
            children: null
            type: string
          reason:
            children: null
            type: string
          remaining_minutes_text:
            children: null
            type: string
          should_close:
            children: null
            type: boolean
          should_close_text:
            children: null
            type: string
          time_should_close:
            children: null
            type: boolean
          time_should_close_text:
            children: null
            type: string
          user_wants_end:
            children: null
            type: boolean
          user_wants_end_text:
            children: null
            type: string
        selected: false
        title: USER END INTENT DETECTION parse
        type: code
        variables:
        - value_selector:
          - '1779968567689'
          - text
          value_type: string
          variable: intent_text
        - value_selector:
          - sys
          - query
          value_type: string
          variable: current_query
        - value_selector:
          - '1779349355740'
          - can_continue
          value_type: boolean
          variable: can_continue
        - value_selector:
          - '1779349355740'
          - session_stage
          value_type: string
          variable: session_stage
        - value_selector:
          - '1779349355740'
          - remaining_minutes
          value_type: number
          variable: remaining_minutes
      height: 53
      id: '1779968610422'
      position:
        x: 3520
        y: 487.0357142857143
      positionAbsolute:
        x: 3520
        y: 487.0357142857143
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import re\nimport json\nimport html\n\ndef strip_reasoning_blocks(text:\
          \ str) -> str:\n    text = re.sub(r\"<details[\\s\\S]*?</details>\", \"\"\
          , text, flags=re.I)\n    text = re.sub(r\"<think[\\s\\S]*?</think>\", \"\
          \", text, flags=re.I)\n    text = re.sub(r\"<[^>]+>\", \"\", text)\n   \
          \ return text\n\ndef normalize_text(text: str) -> str:\n    text = html.unescape(text\
          \ or \"\").strip()\n    text = re.sub(r\"^```(?:json|text|markdown)?\\s*\"\
          , \"\", text, flags=re.I)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\
          \    text = strip_reasoning_blocks(text)\n    text = re.sub(r\"\\n{3,}\"\
          , \"\\n\\n\", text)\n    return text.strip()\n\ndef main(profile_check_text:\
          \ str) -> dict:\n    if not profile_check_text:\n        return {\n    \
          \        \"should_save\": False,\n            \"profile_memory\": \"\",\n\
          \            \"reason\": \"empty\"\n        }\n\n    raw = normalize_text(profile_check_text)\n\
          \n    hard_pollution_markers = [\n        \"<details\",\n        \"<think\"\
          ,\n        \"Thinking\",\n        \"思考过程\",\n        \"分析过程\",\n       \
          \ \"我需要分析\",\n        \"我需要先\",\n        \"```\"\n    ]\n\n    if any(marker\
          \ in raw for marker in hard_pollution_markers):\n        return {\n    \
          \        \"should_save\": False,\n            \"profile_memory\": \"\",\n\
          \            \"reason\": \"contains_reasoning_or_markup\"\n        }\n\n\
          \    try:\n        data = json.loads(raw)\n    except Exception:\n     \
          \   return {\n            \"should_save\": False,\n            \"profile_memory\"\
          : \"\",\n            \"reason\": \"invalid_json\"\n        }\n\n    profile_memory\
          \ = normalize_text(data.get(\"profile_memory\", \"\"))\n    should_save\
          \ = bool(data.get(\"should_save\", True))\n    reason = str(data.get(\"\
          reason\", \"\")).strip() or \"ok\"\n\n    if not should_save:\n        return\
          \ {\n            \"should_save\": False,\n            \"profile_memory\"\
          : \"\",\n            \"reason\": reason\n        }\n\n    if len(profile_memory)\
          \ < 20:\n        return {\n            \"should_save\": False,\n       \
          \     \"profile_memory\": \"\",\n            \"reason\": \"too_short\"\n\
          \        }\n\n    if len(profile_memory) > 800:\n        profile_memory\
          \ = profile_memory[:800].rstrip()\n\n    return {\n        \"should_save\"\
          : True,\n        \"profile_memory\": profile_memory,\n        \"reason\"\
          : reason\n    }"
        code_language: python3
        outputs:
          profile_memory:
            children: null
            type: string
          reason:
            children: null
            type: string
          should_save:
            children: null
            type: boolean
        selected: false
        title: profile parse
        type: code
        variables:
        - value_selector:
          - '1780040399983'
          - text
          value_type: string
          variable: profile_check_text
      height: 53
      id: '1780038042537'
      position:
        x: 6296
        y: 280
      positionAbsolute:
        x: 6296
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 77fb0f42-5ba7-4750-8f27-fa2be27fd0d1
          role: system
          text: "你是长期心理画像质检与改写模块。\n\n你会看到三类信息：\n\n1. 旧的长期画像\n2. 本次咨询对话记录\n3. 上一个节点生成的画像草稿\n\
            \n你的任务不是重新做心理分析，而是检查画像草稿是否适合保存。\n如果画像草稿里有诊断、人格判断、心理学标签、理论化解释，不要直接丢弃，而是根据本次对话记录改写成用户明确表达过的中性事实。\n\
            \n判断优先级：\n本次咨询对话记录 > 旧的长期画像 > 画像草稿\n\n只允许保留：\n- 用户明确说过的事实\n- 用户反复提到的现实压力\n\
            - 用户自己的表达方式\n- 用户对咨询方式的偏好\n- 用户试过但觉得有效/无效的方法\n- 下次可以接续的具体点\n\n必须删除或改写：\n\
            - 诊断\n- 人格判断\n- 心理学标签\n- 理论化解释\n- 没有对话依据的推测\n- 模型思考过程\n- HTML / Markdown\
            \ / 代码块\n\n如果草稿内容基本可修正，就 should_save = true。\n只有当草稿主要是模型思考过程、HTML污染、空内容、严重不可读时，才\
            \ should_save = false。\n\n禁止把“用户主动结束”“用户追问任务”“用户质疑问题”解释成不满、防御、逃避、缺乏耐心。\n\
            除非用户明确说“不满/不舒服/不想继续”，否则只能中性记录行为。\n\n只输出 JSON，不要输出其他文字：\n\n{\n  \"should_save\"\
            : true,\n  \"profile_memory\": \"改写后的长期画像正文\",\n  \"reason\": \"ok\"\n\
            }\n\n旧的长期画像：\n{{#1779716715273.profile_memory#}}\n\n本次咨询对话记录：\n{{#17798742810070.transcript_text#}}\n\
            \n画像草稿：\n{{#1779868007113.text#}}"
        selected: false
        title: Profile Quality Check
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1780040399983'
      position:
        x: 5954
        y: 247.5
      positionAbsolute:
        x: 5954
        y: 247.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b2013c30-3b77-4654-b59c-1df2b78cc053
            value: true
            varType: boolean
            variable_selector:
            - '1780038042537'
            - should_save
          - comparison_operator: not empty
            id: 776ef17b-28d0-450f-81a3-e0a609d064b9
            value: ''
            varType: string
            variable_selector:
            - '1780038042537'
            - profile_memory
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否保存用户长期画像
        type: if-else
      height: 191
      id: '1780041151933'
      position:
        x: 6570.857142857143
        y: 177.3571428571429
      positionAbsolute:
        x: 6570.857142857143
        y: 177.3571428571429
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-171
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\"\n}"
          type: json
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Finalize Session
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session/finalize
        variables: []
      height: 155
      id: '1780051156476'
      position:
        x: 6256
        y: 414.5
      positionAbsolute:
        x: 6256
        y: 414.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0547584a-7ca7-445a-a062-594069503489
          role: system
          text: '你是一位经验丰富的心理咨询师。


            本次正式咨询已经结束，并且本次总结、长期画像和咨询计划已经保存过。

            你现在不能继续展开新的咨询内容，也不要再次总结整场咨询。


            最重要规则：

            必须优先回应用户当前输入。

            用户当前输入的优先级高于历史对话。

            不要被历史对话里的任务、总结或示例带偏。


            如果用户当前输入类似：

            “还能聊吗”

            “不能聊了吗”

            “啊，不能聊了吗”

            “还可以继续吗”

            “现在不能说了吗”


            你要温和说明：这次正式咨询已经结束，今天先不继续展开新的内容。

            不要重复收尾任务。

            不要说“刚才给了两个方向”。

            不要重新生成计划。


            可以回复：

            “这次正式咨询已经结束了，所以今天先不继续展开新的内容。你刚才这种‘还想继续聊’的感觉可以留到下次一开始说，我们下次就从这里接。”


            如果用户明确是在澄清收尾任务，例如：

            “那我到底做哪个？”

            “是数5下还是回想？”

            “刚才不是说另一个吗？”

            “任务是什么？”


            如果用户需要澄清任务，必须以本次对话中最后一次正式收尾回复里的任务为准。

            不要使用示例里的固定任务。

            不要临时改任务。。”


            如果用户开启新话题：

            简短接住，但提醒留到下次正式咨询继续。

            不要展开分析。


            回复 1-3 句话。

            不要输出 Markdown。

            不要输出 JSON。

            不要再次布置新任务。

            不要再次总结整场咨询。


            用户当前输入：

            {{#sys.query#}}


            本次咨询对话：

            {{#17798742810070.transcript_text#}}


            请只根据用户当前输入，输出结束后的简短回应。'
        selected: false
        title: POST SESSION RESPONSE
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1780061016312'
      position:
        x: 4275.644498401773
        y: 74.94660453773176
      positionAbsolute:
        x: 4275.644498401773
        y: 74.94660453773176
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1779349355740.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1780061016312.text#}}\"\n}"
          type: json
        desc: ''
        headers: 'X-Backend-Token: {{#env.BACKEND_SHARED_TOKEN#}}'
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息（end）
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '17800612389130'
      position:
        x: 4596.304576753908
        y: -12.278584432125484
      positionAbsolute:
        x: 4596.304576753908
        y: -12.278584432125484
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1780061016312.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: 直接回复 2 (1)
        type: answer
        variables: []
      height: 103
      id: '17800612687800'
      position:
        x: 5038.087254664006
        y: -6.217669081343786
      positionAbsolute:
        x: 5038.087254664006
        y: -6.217669081343786
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -4723.817330840911
      y: 460.66892320771706
      zoom: 0.8324449890999773
  rag_pipeline_variables: []
