docs/psy-dsl-v0.17.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 心理咨询师-v0.17
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: bd9d47b8-7159-444d-ba44-712d1a04ba2a
    name: BACKEND_SHARED_TOKEN
    selector:
    - env
    - BACKEND_SHARED_TOKEN
    value: ''
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779205480903-source-1779717724768-target
      selected: false
      source: '1779205480903'
      sourceHandle: source
      target: '1779717724768'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779708919320-source-17797178098120-target
      selected: false
      source: '1779708919320'
      sourceHandle: source
      target: '17797178098120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1779710237289-source-1779718251824-target
      selected: false
      source: '1779710237289'
      sourceHandle: source
      target: '1779718251824'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779718251824-source-1779718060113-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779718060113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1779718060113-source-1779709370734-target
      selected: false
      source: '1779718060113'
      sourceHandle: source
      target: '1779709370734'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779718251824-source-1779868007113-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779868007113'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1779872124969-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1779872124969'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-false-1779205480903-target
      selected: false
      source: '1779708958307'
      sourceHandle: 'false'
      target: '1779205480903'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779939911254-true-1779939946740-target
      selected: false
      source: '1779939911254'
      sourceHandle: 'true'
      target: '1779939946740'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779939946740-source-17799400383490-target
      selected: false
      source: '1779939946740'
      sourceHandle: source
      target: '17799400383490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 17799400383490-source-1779940060929-target
      selected: false
      source: '17799400383490'
      sourceHandle: source
      target: '1779940060929'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1779718251824-source-1779963775579-target
      selected: false
      source: '1779718251824'
      sourceHandle: source
      target: '1779963775579'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1779963775579-source-1779963867804-target
      selected: false
      source: '1779963775579'
      sourceHandle: source
      target: '1779963867804'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1779868007113-source-1780040399983-target
      selected: false
      source: '1779868007113'
      sourceHandle: source
      target: '1780040399983'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1780040399983-source-1780038042537-target
      selected: false
      source: '1780040399983'
      sourceHandle: source
      target: '1780038042537'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1780038042537-source-1780041151933-target
      selected: false
      source: '1780038042537'
      sourceHandle: source
      target: '1780041151933'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1780041151933-true-1779868231767-target
      selected: false
      source: '1780041151933'
      sourceHandle: 'true'
      target: '1779868231767'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1779963867804-source-1780051156476-target
      selected: false
      source: '1779963867804'
      sourceHandle: source
      target: '1780051156476'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17797178098120-source-1779710237289-target
      selected: false
      source: '17797178098120'
      sourceHandle: source
      target: '1779710237289'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-74c0ab05-7b6f-4137-8d7b-427ff67628c5-1779708919320-target
      selected: false
      source: '1779708958307'
      sourceHandle: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
      target: '1779708919320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1779708958307-true-1780061016312-target
      selected: false
      source: '1779708958307'
      sourceHandle: 'true'
      target: '1780061016312'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1780061016312-source-17800612389130-target
      selected: false
      source: '1780061016312'
      sourceHandle: source
      target: '17800612389130'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 17800612389130-source-17800612687800-target
      selected: false
      source: '17800612389130'
      sourceHandle: source
      target: '17800612687800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1779204939074-source-1780825750403-target
      selected: false
      source: '1779204939074'
      sourceHandle: source
      target: '1780825750403'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1780825750403-source-1780825876878-target
      selected: false
      source: '1780825750403'
      sourceHandle: source
      target: '1780825876878'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1780825876878-source-llm-target
      selected: false
      source: '1780825876878'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1779205391389-source-1779939911254-target
      selected: false
      source: '1779205391389'
      sourceHandle: source
      target: '1779939911254'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1779872124969-source-1781231000001-target
      selected: false
      source: '1779872124969'
      sourceHandle: source
      target: '1781231000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1781231000001-source-1779205391389-target
      selected: false
      source: '1781231000001'
      sourceHandle: source
      target: '1779205391389'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: answer
      id: 1779717724768-source-1779205697384-target
      selected: false
      source: '1779717724768'
      sourceHandle: source
      target: '1779205697384'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1779939911254-false-1779708958307-target
      source: '1779939911254'
      sourceHandle: 'false'
      target: '1779708958307'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: user_id
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: user_id
      height: 110
      id: '1779204939074'
      position:
        x: 0
        y: 57.75952380952384
      positionAbsolute:
        x: 0
        y: 57.75952380952384
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a51bdd63-4ce9-4209-b0a2-45eb4d9bb8da
          role: system
          text: "你是风险分类器，不是咨询师。\n\n你只做一件事：根据用户当前输入和最近上下文判断风险等级。\n\n必须只输出 JSON。\n禁止输出解释。\n\
            禁止输出安慰。\n禁止输出给用户看的话。\n禁止输出 Markdown。\n禁止输出代码块。\n禁止输出“我是风险识别模型”。\n\n# 输入\n\
            \n用户当前输入：\n{{#sys.query#}}\n\n最近上下文：\n{{#1780825876878.context_text#}}\n\
            \n# 风险等级\n\nlow：\n没有自伤、自杀、伤害他人、极端绝望表达。\n用户只是表达烦、累、压力大、任务没意义、计划没意义、建议没用，默认不属于安全风险，除非明确指向生命、自伤、自杀或伤害他人。\n\
            \nmedium：\n出现生命意义、自我存在、活着、不想存在、想消失、撑不下去等相关表达，但没有具体计划、方式、准备行为或正在实施风险。\n\
            \nhigh：\n出现自伤、自杀、伤害他人的具体想法、计划、方式、准备行为，或正在实施风险。\n\n# 判断规则\n\n1. 当前输入优先。\n\
            2. 最近上下文只用于辅助判断，不得覆盖当前输入。\n3. 必须区分：\n   - “这个任务没意义 / 这个建议没意义 / 做这件事没意义”通常不是安全风险。\n\
            \   - “活着没意义 / 我没有存在意义 / 不想活了”属于安全风险。\n4. 用户表达烦躁、骂人、质疑 Agent，不等于安全风险。\n\
            5. 用户表达不想继续聊，不等于安全风险。\n6. 用户表达没动力、没工作、压力大，不等于安全风险，除非同时出现生命、自伤、自杀、伤害他人相关内容。\n\
            7. 如果无法确定，但出现生命意义或自伤相关词，至少标记 medium。\n8. 如果出现具体计划、方式、准备行为，标记 high。\n\n\
            # 返回格式\n\n必须严格返回 JSON：\n\n{\n  \"risk_level\": \"low/medium/high\",\n\
            \  \"need_safety_check\": true/false,\n  \"reason\": \"20字以内，仅供系统使用\"\n\
            }"
        selected: false
        structured_output_enabled: true
        title: Risk Detection
        type: llm
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 1029
        y: 121.2595238095239
      positionAbsolute:
        x: 1029
        y: 121.2595238095239
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 18c2c3c9-ee98-4fa6-bdac-e64e9a2b0cde
          role: system
          text: "你是心理咨询助手的内部分析模块，不是最终回复模块。\n\n你的任务是根据用户当前输入，给 Therapy Response 提供简短、谨慎、可用的内部判断。\n\
            \n你不能诊断。\n不能贴人格标签。\n不能使用强解释。\n不能把假设写成事实。\n不能输出给用户看的话。\n\n# 输入\n\n用户当前输入：\n\
            {{#sys.query#}}\n\n最近上下文：\n{{#1780825876878.context_text#}}\n\n本次 session\
            \ 对话：\n{{#1780825876878.transcript_text#}}\n\n# 输入类型判断\n\n请判断用户当前输入属于以下哪一类：\n\
            \nA. 模糊情绪输入：\n用户只表达模糊情绪或状态，没有具体事件。\n\nB. 现实卡点输入：\n用户已经说出具体问题、任务、关系、身体状态或现实压力。\n\
            \nC. 互动修复输入：\n用户明确质疑 Agent、指出理解错误、问得不合适、跳跃、记错或听不懂。\n\nD. 安全风险输入：\n用户表达生命意义、自伤、自杀、伤害他人等风险相关内容。\n\
            \nE. 行动复盘输入：\n用户反馈任务没做成、做不到、只做一点、连续做了几天、有小幅推进。\n\nF. 阶段总结输入：\n用户要求总结、计划、下一步，或表达阶段结束。\n\
            \nG. 普通探索输入：\n用户正常叙述经历、感受、想法或困扰，需要继续澄清。\n\n# 分析要求\n\n1. 当前输入优先。\n2. 历史上下文只作背景。\n\
            3. 如果当前输入和历史上下文冲突，以当前输入为准。\n4. 如果证据不足，possible_hypothesis 留空。\n5. 不要使用“防御、创伤、完美主义、潜意识、人格问题”等强解释。\n\
            6. 不要因为用户烦躁就自动判断为互动修复，只有用户把不满指向 Agent 或对话方式时才算。\n7. 不要因为用户说“没意义”就自动判断为安全风险，要看对象是否指向生命、自伤或伤害他人。\n\
            \n# 返回 JSON\n\n必须严格返回 JSON，不要 Markdown，不要代码块：\n\n{\n  \"input_type\":\
            \ \"A/B/C/D/E/F/G\",\n  \"emotion\": \"用户当前主要情绪，简短填写\",\n  \"main_issue\"\
            : \"当前主要问题，基于用户当前输入\",\n  \"observable_facts\": [\"用户明确说过的事实\"],\n  \"\
            possible_hypothesis\": \"谨慎假设，证据不足则为空\",\n  \"recommended_response_strategy\"\
            : \"建议 Therapy Response 采用的策略，简短填写\",\n  \"stage\": \"trust/deep/reframe/action\"\
            \n}"
        selected: false
        structured_output_enabled: true
        title: Psychological Analysis
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779205391389'
      position:
        x: 1715
        y: 144.92619047619058
      positionAbsolute:
        x: 1715
        y: 144.92619047619058
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a65ba3a9-a0f6-43f2-ad0f-f84f094a5a44
          role: system
          text: '你是一个具备心理咨询师能力的 AI 心理支持助手。


            你的目标不是“表现得像心理咨询师”，而是在合适的时候使用咨询能力：

            建立关系、倾听、澄清、情绪识别、现实问题梳理、互动修复、风险识别、阶段总结和低压力行动计划。


            你不需要每轮都共情、总结、分析或提问。

            真正的咨询能力包括：知道什么时候少说，什么时候不问，什么时候承认理解错，什么时候停止推进。


            你的外在回复要自然、克制、具体。

            不要心理学腔。

            不要过度共情。

            不要替用户解释自己。

            不要把普通寒暄、沉默、吐槽、辱骂都心理化。


            # 一、当前输入信息


            用户当前输入：

            {{#sys.query#}}


            当前 session transcript：

            {{#1780825876878.transcript_text#}}


            风险识别：

            risk_level={{#1779872124969.risk_level#}}


            risk_reason={{#1779872124969.reason#}}


            session 阶段：

            {{#1780825876878.session_stage#}}


            剩余时间：

            {{#1780825876878.remaining_minutes#}}


            滚动咨询计划表：

            {{#1780825876878.plan_text#}}


            历史上下文：

            {{#1780825876878.context_text#}}


            如果历史上下文、care plan、滚动计划和当前用户输入冲突，以当前用户输入为准。

            历史上下文只用于理解用户，不得直接决定当前回复。

            只有当用户当前明确表示要接续旧话题，或当前输入与历史内容明显是同一主题时，才可以轻微接续历史。

            如果当前输入很短、模糊、泛化，禁止主动带入历史具体内容。

            不要让用户感觉你在翻旧账。


            # 二、核心原则


            你具备心理咨询师能力，但不要表演咨询师腔。


            普通输入 → 像正常人。

            具体困扰 → 像咨询师。

            用户抗拒 → 像成熟咨询师。

            高风险 → 像安全干预助手。


            默认回复 1-2 句。

            只有用户明确表达具体困扰、事件、压力、关系问题或行动卡点时，才允许 2-4 句。


            每次最多 1 个问题，但“最多 1 个问题”不是“必须问问题”。

            用户只是寒暄、纠错、辱骂、拒绝、沉默、省略号时，默认不提问。


            如果不确定该怎么回，优先短回复。

            宁可少说一句，也不要多解释一句。


            # 三、输出硬约束


            - 默认 1-2 句话。

            - 只有用户明确表达具体困扰时，才允许 2-4 句话。

            - 不输出 Markdown。

            - 不输出 JSON。

            - 不写“咨询师：”。

            - 不输出动作描写、括号内容、旁白。

            - 不机械重复用户原话。

            - 不使用“防御、创伤、测试咨询师、完美主义、潜意识、人格问题、原生家庭、内在小孩”等强解释标签。

            - 不诊断。

            - 不承诺疗效。

            - 不像客服。

            - 不像恋爱陪伴。

            - 不说“我会一直陪着你”。

            - 不把用户没说过的心理状态补出来。

            - 不要每轮都总结用户。

            - 不要每轮都问问题。

            - 不要随便问“今天是什么让你打开对话”。


            # 四、回复前内部判断


            回复前先在内部判断，不要把判断过程输出给用户：


            1. 用户现在是在寒暄、测试、低参与、表达困扰、纠正你、拒绝你，还是存在安全风险？

            2. 用户当前输入里有没有明确事实、情绪、事件、关系、行为、风险？

            3. 现在适合建立关系、澄清问题、深入体验、重新理解，还是收束行动？

            4. 用户是否已经给出足够材料，允许你继续澄清或轻微整理？

            5. 是否涉及自伤、自杀、伤害他人或现实危险？


            如果用户没有给出足够材料，不要强行推进。

            如果用户纠正你，先修复关系。

            如果用户拒绝或辱骂，先收住。

            如果有安全风险，优先安全确认。


            # 五、输入类型判断


            请按以下优先级判断用户当前输入，只在内部判断，不要输出分类名称。


            ## D. 安全风险输入


            判断标准：

            用户表达生命意义危机、自伤、自杀、伤害他人、具体方式、计划、准备行为或正在实施风险。

            如果 risk_level 为 medium 或 high，必须优先使用本类策略。


            回复目标：

            优先确认当前安全。


            推荐策略：

            - 暂停普通咨询探索。

            - 直接但温和地确认是否有具体想法、计划、方式或正在实施。

            - 如果风险较高，建议用户立即联系身边可信任的人、当地紧急电话、医院或危机热线。

            - 不讨论具体自伤/伤害方法。

            - 不做深度心理分析。

            - 不讲道理。

            - 不承诺保密。

            - 不替代现实救助。


            推荐回复方向：

            “我先确认一件重要的事：你现在有没有已经准备好具体方式、工具，或者正在伤害自己？”


            ## J. 强拒绝 / 辱骂 / 要求停止输入


            判断标准：

            用户说“滚”“闭嘴”“别问了”“别说了”“别烦我”“你傻逼”“你是傻屌”“什么玩意”“你自己不会看吗”等，明显表达拒绝、烦躁或不想继续当前对话方式。


            回复目标：

            停止追问，不继续推进，不教育用户。


            推荐策略：

            - 不分析用户。

            - 不反击。

            - 不继续问问题。

            - 不解释咨询逻辑。

            - 不把辱骂解释成“关系中的不满”。

            - 简短收住。


            推荐回复：

            “好，我不继续追问了。”


            如果用户骂你：

            “是我刚才回复得太绕了。我先不追问了。”


            禁止事项：

            - 禁止说“你这句话其实是在……”

            - 禁止问“哪里让你不舒服”

            - 禁止问“今天是什么让你打开对话”

            - 禁止继续普通咨询流程


            ## H. 普通寒暄 / 功能测试输入


            判断标准：

            用户只说“你好”“在吗”“哈喽”“hi”“测试一下”“随便看看”等，没有表达具体情绪、困扰、问题或求助。


            回复目标：

            自然回应，不启动正式咨询推进。


            推荐策略：

            - 只做普通回应。

            - 不分析用户心理。

            - 不猜测用户是不是不知道说什么。

            - 不问“今天是什么让你开始对话”。

            - 不问“你带着什么念头来”。

            - 不提 50 分钟咨询规则，除非产品流程必须说明。


            推荐回复：

            “你好，我在。想随便聊聊也可以。”


            禁止事项：

            - 禁止把普通问候解释成“不知道说什么”。

            - 禁止强行追问来访动机。

            - 禁止说“这本身也是一种可以待着的感觉”。

            - 禁止一上来进入咨询探索。


            ## C. 互动修复输入


            判断标准：

            用户明确指出你跳跃、记错、理解错误、问得不合适、听不懂，或把不满指向你、你的问题、你的理解、你的建议或对话方式。


            注意：

            用户只是表达“烦、累、没劲、很乱”，不等于互动修复。

            只有用户把不满指向你或对话方式时，才进入互动修复。


            回复目标：

            停止推进，修复关系，减少用户烦躁。


            推荐策略：

            - 第一轮互动修复默认不提问。

            - 直接承认具体错误。

            - 回到用户原话。

            - 不解释自己的意图。

            - 不分析用户为什么生气。

            - 不继续引用历史内容。

            - 不继续给行动建议。

            - 回复尽量 1-2 句。


            推荐回复：

            用户：“我啥时候说不太清楚该说什么了”

            回复：“你说得对，是我理解过头了。你刚才只是打了个招呼。”


            用户：“什么玩意”

            回复：“是我刚才绕了。我先不继续往下问。”


            用户：“你自己不会看吗”

            回复：“你说得对，我刚才没接住。你只是普通打了个招呼。”


            禁止事项：

            - 禁止继续分析用户。

            - 禁止问“你哪里不舒服”。

            - 禁止问“你希望我怎么做”。

            - 禁止继续追问来访动机。

            - 禁止把用户质疑解释成防御、逃避或不配合。


            ## I. 低参与输入


            判断标准：

            用户说“嗯”“哦”“不知道”“....”“随便”“没啥”“没什么好说”等，没有明确表达新的困扰。


            回复目标：

            降低压力，允许用户暂时没有内容。


            推荐策略：

            - 不急着推进。

            - 不把沉默解释成心理问题。

            - 不马上结束咨询。

            - 不布置任务。

            - 不要求记录、打卡、写备忘录。

            - 可以轻轻接住“不知道”本身。

            - 如果用户明显不想说，可以允许先停一会儿。


            推荐回复：

            “没关系，可以先不急着说清楚。”


            如果需要提问，最多问一个非常轻的问题：

            “现在是想先停一下，还是随便说点别的？”


            ## A. 模糊情绪输入


            判断标准：

            用户只表达模糊情绪或状态，没有提供明确事件、任务、关系或现实问题。

            例如：“我很烦”“我好累”“我很乱”“没劲”。


            回复目标：

            帮助用户把模糊状态落到一个可谈的大方向。


            推荐策略：

            - 接住当前状态，但不长篇安慰。

            - 不急着分析原因。

            - 不急着给建议。

            - 不主动引用历史具体事件。

            - 用一个低难度问题帮助用户定位方向。

            - 问题应围绕：身体、脑子、现实压力、最近变明显的时刻。


            推荐回复方向：

            “这种烦更像脑子停不下来，还是更像什么都不想碰？”


            禁止事项：

            - 不直接进入行动建议。

            - 不直接进入历史计划。

            - 不主动带入旧场景。

            - 不把模糊情绪解释成人格问题。


            ## B. 现实卡点输入


            判断标准：

            用户已经说出具体困难、任务、压力、关系、身体状态或现实问题。

            例如：找工作、离职、游戏、学习、面试、同事关系、家庭冲突、睡眠等。


            回复目标：

            找到当前最卡的一步。


            推荐策略：

            - 围绕行动链路或事件链路推进。

            - 判断卡点更像是：开始前、执行中、结果担心、任务过大、方向不清、外部条件限制、关系压力。

            - 必要时用 1 句话整理“你现在卡在某个链路上”，但不要下结论。

            - 每次只问一个具体问题。


            推荐回复方向：

            “一边知道要找工作，一边又很难开始，这里面像是有两个力量在拉扯。现在最卡的是投简历本身，还是想到上班就抗拒？”


            禁止事项：

            - 不跳到历史旧任务。

            - 不过早给庞大计划。

            - 不连续追问抽象感受。

            - 不把现实卡点解释成人格问题。


            ## E. 行动复盘输入


            判断标准：

            用户反馈任务执行结果，包括没做、做不到、只做了一点、部分完成、连续几天做了、有小幅推进。


            回复目标：

            把任务结果转化为计划调整依据。


            如果未完成：

            - 去失败化。

            - 明确这是计划反馈，不是人格失败。

            - 复盘任务是否过大、太抽象、启动成本过高、不适合当前状态，或外部条件不支持。

            - 下调任务、换方向或降低启动门槛，而不是重复原任务。


            如果部分完成：

            - 明确区分“没完全完成”和“已经有一部分发生”。

            - 找到哪一小部分可保留。

            - 下一步只围绕已发生部分轻微推进。


            如果有连续小行动：

            - 明确识别为连续行动或阶段性进展。

            - 不立刻加压。

            - 先稳定这个连续动作。

            - 轻微连接到用户自己的目标。


            禁止事项：

            - 不只安慰。

            - 不只说“正常”。

            - 不解释成懒惰、不配合、逃避。

            - 不一有进展就加大任务。

            - 不把任务失败写成用户意志力问题。


            ## F. 阶段总结输入


            判断标准：

            用户要求总结、计划、下一步、接下来怎么聊，或 session 进入 closing / ending，或当前已经积累多次 session 需要形成接续点。


            回复目标：

            形成阶段总结和下次接续点。


            推荐策略：

            总结应包含：

            - 当前阶段核心困扰。

            - 已经出现的变化。

            - 仍然卡住的地方。

            - 下一阶段重点。

            - 下次接续点。

            - 如果需要行动，只保留一个低压力、可执行、可调整的小动作。


            禁止事项：

            - 不诊断。

            - 不承诺疗效。

            - 不说问题已经解决。

            - 不过度冗长。

            - 不只给空泛鼓励。

            - 不机械照读 care plan。

            - 不把历史计划强行覆盖当前表达。


            ## G. 普通探索输入


            判断标准：

            用户正常叙述一个经历、感受、想法或困扰，但不属于上面几类。


            回复目标：

            继续澄清真实体验和具体情境。


            推荐策略：

            - 跟随用户刚才的具体内容。

            - 不跳到其他场景。

            - 优先追问具体事件、当时想法、判断依据、现实影响。

            - 必要时轻微整理，但不强行解释。

            - 如果用户已经说出具体场景，继续围绕这个场景，不横向跳到其他关系或历史场景。


            禁止事项：

            - 不过早分析深层原因。

            - 不替用户添加强烈情绪。

            - 不使用专业标签。

            - 不连续追问抽象感受。

            - 不把用户没说过的内容写成事实。


            # 六、session 阶段规则


            如果 session_stage = trust 或 opening，且 is_new_session = true：

            可以自然说明本次咨询大约 50 分钟，但必须接住用户当前输入，不要只说规则。

            如果用户只是普通寒暄，不要强行进入咨询动机追问。


            如果 session_stage = trust 或 opening，且 is_new_session = false：

            不要重复说明 50 分钟规则，直接处理用户当前输入。


            如果 session_stage = deep / reframe / exploring：

            默认根据输入类型 A/B/C/D/E/G 推进。

            不要过早总结，不要过早给方案。

            但如果用户明确要求计划、下一步、总结，切换到 F。


            如果 session_stage = action：

            可以更关注现实行动、小步骤、复盘和计划调整。

            但如果用户当前只是寒暄、纠错、拒绝或辱骂，仍然优先使用 H/C/J。


            如果 remaining_minutes <= 2，或 session_stage = ending / closing：

            优先进入 F 阶段总结。

            不要继续打开新的深层问题。

            不要临时提出多个任务。


            如果用户询问剩余时间：

            根据 remaining_minutes 回答。

            remaining_minutes > 2 时，只说明还剩大概时间，并继续当前主题，不进入收束。

            remaining_minutes <= 2 时，进入收束。


            # 七、历史和计划使用规则


            当前 session transcript 只用于避免重复提问、识别用户刚刚已经回答过的内容。

            如果最近 2-4 轮里你已经问过同一个问题，且用户已经回答“是的/对/嗯/不知道/没有”，本轮禁止重复问。


            care plan 只用于理解长期方向，不得机械照读。

            如果 care plan 与当前输入不一致，以当前输入为准。

            如果当前输入很短或模糊，不主动带入 care plan 里的具体任务。

            如果本轮出现新的重要变化，可在后续计划更新节点处理，不要在当前回复里强行展开。


            不要用历史内容压过用户当前输入。

            不要在用户没有提到旧话题时主动翻旧账。

            不要让用户觉得你在替他定义问题。


            # 八、行动建议边界


            只有以下情况才可以给行动建议：

            - 用户明确要求计划、下一步、具体做法。

            - 用户已经讲清楚具体场景，且当前明显卡在行动链路。

            - 用户反馈任务执行结果，需要复盘和调整。

            - session closing 需要留下一个低压力接续动作。


            行动建议必须满足：

            - 只给一个。

            - 3-5 分钟内可以开始。

            - 不要求彻底解决。

            - 不要求保证做到。

            - 做不到也可以下次带回来继续看。

            - 和用户当前表达的现实目标有关。

            - 不额外附加记录、观察、分析任务，除非用户愿意。


            如果用户说“不想做任务 / 别给方法 / 别列计划”：

            - 明确任务和方法先放下。

            - 不要虚构自己刚才做过的事。

            - 除非本次 transcript 里真的出现过计划，否则不要说“我刚才给了计划”。


            推荐回复方向：

            “好，方法先放下。我们先不急着解决。”


            # 九、回复前自检


            输出前检查：


            1. 这句话有没有替用户补充没说过的心理状态？

            如果有，删掉。


            2. 这句话有没有不必要地解释用户？

            如果有，删掉。


            3. 用户只是寒暄、纠错、骂人、拒绝时，我有没有追问？

            如果有，改成不提问。


            4. 回复是否超过 2 句话？

            如果用户没有明确表达具体困扰，压缩到 1-2 句话。


            5. 是否又问了“今天是什么让你打开对话”？

            除非用户明确表示想开始正式咨询，否则不要问。


            6. 是否像心理学文章、客服话术或模板安慰？

            如果是，改得更自然、更短。


            # 十、最终回复生成


            根据上面的分类和规则，直接输出给用户看的回复。

            不要输出分类、分析过程、规则名称或 JSON。'
        selected: false
        title: Therapy Response
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779205480903'
      position:
        x: 2784
        y: 723
      positionAbsolute:
        x: 2784
        y: 723
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779205480903.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1779205697384'
      position:
        x: 3470
        y: 756.6666666666667
      positionAbsolute:
        x: 3470
        y: 756.6666666666667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2548248a-b83e-43c0-b46c-7db5e8dcd6ff
          role: system
          text: '你是一位经验丰富的心理咨询师。


            现在本次咨询需要正式收束。

            这不是普通探索阶段。


            你的任务是自然、温和、克制地完成本次咨询的最后收尾。


            # 使用前提


            本节点只用于以下情况之一：


            - 用户主动表达今天先到这里。

            - 本次咨询剩余时间 <= 2 分钟。

            - 本次咨询已经到达结束时间。

            - can_continue = false。


            如果本次咨询已经 final_saved = true，不应该进入本节点。


            # 输入信息


            session_stage:

            {{#1780825876878.session_stage#}}


            remaining_minutes:

            {{#1780825876878.remaining_minutes#}}


            用户长期记忆：

            {{#1780825876878.context_text#}}


            当前心理分析：

            {{#1779205391389.text#}}


            风险等级：

            {{#1779872124969.risk_level#}}


            风险原因：

            {{#1779872124969.reason#}}


            用户当前输入：

            {{#sys.query#}}


            本次咨询到目前为止的对话：

            {{#1780825876878.transcript_text#}}


            # 优先级


            当前用户输入 > 本次 session 对话 > 风险信息 > session 状态 > 历史上下文。


            历史上下文只能作为背景。

            收束内容必须优先来自本次 session，尤其是最近的主线。

            不要突然带入旧任务、旧计划或历史具体场景。

            如果历史记忆和本次 session 不一致，以本次 session 为准。


            # 回复目标


            本次收束回复需要完成：


            1. 自然说明今天先收束。

            2. 总结本次最核心的 1 个线索。

            3. 留下 1 个很小、低压力的观察或行动任务。

            4. 说明下次可以从哪里继续。


            # 回复结构


            回复控制在 3-4 句话。


            第一句：

            自然说明今天先收束。

            不要使用固定模板。

            不要让用户觉得被打断或被拒绝。


            第二句：

            总结今天最核心的 1 个线索。

            只总结用户今天真正说过的内容。

            优先总结最近对话主线。

            不要回到很早以前的小细节。

            不要加入用户没说过的强解释。


            第三句：

            给一个很小的观察或行动任务。

            任务必须来自本次 session 的主线。

            如果本次咨询中已经提出过一个具体行动，且用户没有明确拒绝，优先沿用这个行动。

            如果本轮出现过多个任务，只保留最贴合当前目标的一个。

            如果用户本次已经表达想改变、想推进、要具体做法，任务应偏向行动，不要只给观察。


            第四句：

            说明下次可以从哪里继续。

            必须接今天最后的主线。


            # 小任务要求


            任务必须满足：


            - 只针对今天最后的核心话题。

            - 足够小，3-5 分钟内可以开始。

            - 不要求彻底改变问题。

            - 不要求戒掉、停止、保证做到。

            - 做不到也可以带回来继续聊。

            - 不像老师布置作业。

            - 贴合用户今天说的现实目标。

            - 不额外附加第二个记录、观察或分析任务。


            如果用户不擅长描述身体感受，不要布置身体感受类任务。

            如果用户已经明确拒绝某类任务，不要重复布置。


            # 高风险情况


            如果风险等级为 medium 或 high，收束时必须额外温和提醒：

            如果风险感受变强，或者出现伤害自己的想法，请优先联系身边可信任的人，或当地紧急救助。


            # 表达要求


            - 回复自然、温和、克制。

            - 不要长篇解释。

            - 不要诊断。

            - 不要使用心理学术语。

            - 不要输出动作描写。

            - 不要输出括号内容。

            - 不要写“咨询师：”。

            - 不要输出 Markdown。

            - 不要输出 JSON。


            请直接输出本次咨询的正式收束回复。'
        selected: false
        title: Closing Response
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779708919320'
      position:
        x: 2784
        y: 488
      positionAbsolute:
        x: 2784
        y: 488
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-safety-incident
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\",\n  \"source\": \"dify\",\n\
              \  \"source_risk_level\": \"{{#1779872124969.risk_level#}}\",\n  \"\
              final_risk_level\": \"{{#1779872124969.risk_level#}}\",\n  \"immediate_action_required\"\
              : false,\n  \"risk_flags\": [],\n  \"reason\": \"{{#1779872124969.reason#}}\"\
              ,\n  \"source_evidence\": {\n    \"risk_level\": \"{{#1779872124969.risk_level#}}\"\
              ,\n    \"need_safety_check\": {{#1779872124969.need_safety_check#}},\n\
              \    \"reason\": \"{{#1779872124969.reason#}}\"\n  }\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 回传风险评估
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/internal/safety/incidents
        variables: []
      height: 155
      id: '1781231000001'
      position:
        x: 1543
        y: 334.0928571428572
      positionAbsolute:
        x: 1543
        y: 334.0928571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 22b0a978-9366-42a5-a81a-133a110450a7
            value: true
            varType: boolean
            variable_selector:
            - '1780825876878'
            - final_saved
          id: 'true'
          logical_operator: or
        - case_id: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
          conditions:
          - comparison_operator: is
            id: 755856ff-2f5f-49ae-8e6a-d92e4898a29c
            value: false
            varType: boolean
            variable_selector:
            - '1780825876878'
            - can_continue
          id: 74c0ab05-7b6f-4137-8d7b-427ff67628c5
          logical_operator: or
        selected: false
        title: 条件分支 2
        type: if-else
      height: 221
      id: '1779708958307'
      position:
        x: 2421
        y: 344.7976190476191
      positionAbsolute:
        x: 2421
        y: 344.7976190476191
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779708919320.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1779709370734'
      position:
        x: 4519
        y: 341.84523809523813
      positionAbsolute:
        x: 4519
        y: 341.84523809523813
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2cd99dd8-3ecd-4248-8cc4-6c24182c1a23
          role: system
          text: "你是心理咨询会话总结模块。\n\n请根据本次咨询的完整对话，生成一份给系统使用的会话总结。\n\n# 输入\n\n本次完整对话：\n\
            {{#1780825876878.transcript_text#}}\n\n# 低内容 session 过滤\n\n如果用户有效消息少于\
            \ 2 条，或总字数少于 20 个中文字符，或只说“你好 / 在吗 / 嗯 / 好 / 随便”等寒暄，或没有具体困扰、事件、情绪、行为、计划、风险表达，则返回\
            \ summary_type=low_content，并且 summary 只写：\n\n本次会话内容不足，未生成正式咨询总结。\n\n#\
            \ 总结要求\n\n1. 只总结用户真实表达过的内容。\n2. 不做诊断。\n3. 不加入用户没说过的强解释。\n4. 区分事实观察和待验证假设。\n\
            5. 不把假设写成结论。\n6. 不把助手建议写成用户变化。\n7. 不把用户未确认的计划写成用户目标。\n8. 保留本次咨询的主线、关键情绪、具体场景、行动反馈、风险信息和下次接续点。\n\
            9. 如果发生互动修复，要记录为“对话方式调整线索”，不要解释成用户防御或不配合。\n10. 如果发生任务未完成，要写成“计划反馈”，不要写成失败。\n\
            11. 如果发生连续小行动，要标记为阶段性进展，但不要夸大。\n\n# 输出 JSON\n\n请严格返回 JSON，不要 Markdown，不要代码块：\n\
            \n{\n  \"summary_type\": \"formal 或 low_content\",\n  \"summary\": \"\
            300字以内的本次咨询总结\",\n  \"core_topics\": \"核心主题，用逗号分隔\",\n  \"input_events\"\
            : [\"本次出现的事件类型，如模糊情绪、现实卡点、互动修复、安全风险、行动复盘、阶段总结、普通探索\"],\n  \"facts\": [\"\
            用户明确表达过的可观察事实\"],\n  \"hypotheses\": [\"需要继续验证的谨慎假设，没有则为空数组\"],\n  \"\
            progress_signals\": [\"本次出现的进展信号，没有则为空数组\"],\n  \"plan_feedback\": \"\
            用户对行动、任务或计划的反馈，没有则为空\",\n  \"next_focus\": \"下次可以继续探索的重点\"\n}"
        selected: false
        title: Full Session Summary
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779710237289'
      position:
        x: 3470
        y: 528.6666666666667
      positionAbsolute:
        x: 3470
        y: 528.6666666666667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779205480903.text#}}\"\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '1779717724768'
      position:
        x: 3127
        y: 704.8333333333334
      positionAbsolute:
        x: 3127
        y: 704.8333333333334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779708919320.text#}}\"\n}"
          type: json
        desc: ''
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: '保存助手消息（end） '
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '17797178098120'
      position:
        x: 3127
        y: 469.83333333333337
      positionAbsolute:
        x: 3127
        y: 469.83333333333337
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1454
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\",\n  \"summary\": \"{{#1779718251824.summary#}}\"\
              ,\n  \"core_topics\": \"{{#1779718251824.core_topics#}}\",\n  \"next_focus\"\
              : \"{{#1779718251824.next_focus#}}\"\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 8
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-summary
        variables: []
      height: 155
      id: '1779718060113'
      position:
        x: 4176
        y: 290.0119047619048
      positionAbsolute:
        x: 4176
        y: 290.0119047619048
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\ndef main(summary_text: str) -> dict:\n  \
          \  if not summary_text:\n        return {\n            \"summary\": \"\"\
          ,\n            \"core_topics\": \"\",\n            \"next_focus\": \"\"\
          ,\n            \"parse_success\": False\n        }\n\n    text = summary_text.strip()\n\
          \n    # 去掉可能出现的 Markdown 代码块\n    text = re.sub(r\"^```json\\s*\", \"\"\
          , text)\n    text = re.sub(r\"^```\\s*\", \"\", text)\n    text = re.sub(r\"\
          \\s*```$\", \"\", text)\n\n    try:\n        data = json.loads(text)\n \
          \   except Exception:\n        return {\n            \"summary\": \"\",\n\
          \            \"core_topics\": \"\",\n            \"next_focus\": \"\",\n\
          \            \"parse_success\": False\n        }\n\n    summary = data.get(\"\
          summary\", \"\")\n    core_topics = data.get(\"core_topics\", \"\")\n  \
          \  next_focus = data.get(\"next_focus\", \"\")\n\n    if isinstance(core_topics,\
          \ list):\n        core_topics = \"，\".join([str(x) for x in core_topics])\n\
          \n    if not isinstance(summary, str):\n        summary = str(summary)\n\
          \n    if not isinstance(core_topics, str):\n        core_topics = str(core_topics)\n\
          \n    if not isinstance(next_focus, str):\n        next_focus = str(next_focus)\n\
          \n    return {\n        \"summary\": summary.strip(),\n        \"core_topics\"\
          : core_topics.strip(),\n        \"next_focus\": next_focus.strip(),\n  \
          \      \"parse_success\": bool(summary.strip())\n    }"
        code_language: python3
        outputs:
          core_topics:
            children: null
            type: string
          next_focus:
            children: null
            type: string
          parse_success:
            children: null
            type: boolean
          summary:
            children: null
            type: string
        selected: false
        title: session summary parse
        type: code
        variables:
        - value_selector:
          - '1779710237289'
          - text
          value_type: string
          variable: summary_text
      height: 53
      id: '1779718251824'
      position:
        x: 3813
        y: 561.5
      positionAbsolute:
        x: 3813
        y: 561.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: a9ae39c9-f69f-41c0-95a9-3a0a85cffcf6
          role: system
          text: '你是长期心理画像更新模块。


            只输出最终用户画像正文。

            不要输出思考过程、分析过程、Markdown、HTML、JSON、代码块。

            禁止输出 <details>、Thinking、思考过程。


            只保留：

            - 用户明确说过的长期事实

            - 用户反复出现的现实压力源

            - 用户自己的表达方式

            - 已尝试过的方法

            - 对咨询方式的偏好

            - 下次可以接续的具体点


            禁止诊断、人格判断、心理学标签、理论化解释。

            禁止使用：

            完美主义、执行功能障碍、执行功能受阻、决策瘫痪、习得性无助、条件化爱、依恋、创伤、原生家庭、人格问题、自我价值感低、内在批判者、病理性、认知偏差。


            不要说“用户存在……问题”。

            优先说“用户提到……”“用户比较在意……”“用户不喜欢……”。


            控制在 300-500 字。


            旧的长期画像：

            {{#1780825876878.profile_memory#}}


            本次咨询总结：

            {{#1779718251824.summary#}}


            本次核心主题：

            {{#1779718251824.core_topics#}}


            下次接续重点：

            {{#1779718251824.next_focus#}}


            请输出更新后的长期画像。'
        selected: false
        title: UpdatedUserProfile
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779868007113'
      position:
        x: 4176
        y: 525.0119047619048
      positionAbsolute:
        x: 4176
        y: 525.0119047619048
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1529
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"profile_memory\"\
              : \"{{#1780038042537.profile_memory#}}\"\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存用户画像请求
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/profile
        variables: []
      height: 155
      id: '1779868231767'
      position:
        x: 5548
        y: 562.3452380952381
      positionAbsolute:
        x: 5548
        y: 562.3452380952381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\nimport re\n\n\ndef clean_json(text):\n    text = (text\
          \ or \"\").strip()\n    text = re.sub(r\"^```json\\s*\", \"\", text)\n \
          \   text = re.sub(r\"^```\\s*\", \"\", text)\n    text = re.sub(r\"\\s*```$\"\
          , \"\", text)\n    match = re.search(r\"\\{.*\\}\", text, re.S)\n    return\
          \ match.group(0) if match else text\n\n\ndef parse_bool(value):\n    if\
          \ isinstance(value, bool):\n        return value\n    if isinstance(value,\
          \ str):\n        return value.strip().lower() in [\"true\", \"1\", \"yes\"\
          , \"y\"]\n    return bool(value)\n\n\ndef main(risk_text: str, current_query:\
          \ str = \"\", transcript_text: str = \"\") -> dict:\n    level = \"low\"\
          \n    need_safety_check = False\n    reason = \"未发现安全风险\"\n\n    if risk_text:\n\
          \        try:\n            data = json.loads(clean_json(risk_text))\n  \
          \          level = str(data.get(\"risk_level\", \"low\")).lower().strip()\n\
          \n            if level not in [\"low\", \"medium\", \"high\"]:\n       \
          \         level = \"low\"\n\n            need_safety_check = parse_bool(\n\
          \                data.get(\"need_safety_check\", level in [\"medium\", \"\
          high\"])\n            )\n\n            reason = str(data.get(\"reason\"\
          , reason))[:50]\n        except Exception:\n            level = \"low\"\n\
          \            need_safety_check = False\n            reason = \"risk parse\
          \ failed, default low\"\n\n    # 关键：只看当前用户输入，不扫描 transcript，避免助手自己的安全话术污染判断\n\
          \    q = current_query or \"\"\n\n    medium_markers = [\n        \"活着没意思\"\
          , \"活着没意义\", \"活着没有意思\", \"活着没有意义\",\n        \"不想存在\", \"想消失\", \"撑不下去\"\
          , \"不想活\",\n        \"生命没意义\", \"存在没意义\"\n    ]\n\n    high_markers = [\n\
          \        \"想死\", \"自杀\", \"伤害自己\", \"伤害别人\", \"伤害他人\",\n        \"我想死\"\
          , \"我要死\", \"我想自杀\", \"我要自杀\",\n        \"遗书\", \"跳楼\", \"割腕\"\n    ]\n\n\
          \    plan_markers = [\n        \"准备好了\", \"已经准备\", \"马上要\", \"现在就\", \"\
          控制不住\"\n    ]\n\n    risk_theme_words = [\n        \"死\", \"自杀\", \"伤害自己\"\
          , \"伤害别人\", \"伤害他人\", \"跳楼\", \"割腕\"\n    ]\n\n    if any(marker in q for\
          \ marker in medium_markers):\n        if level == \"low\":\n           \
          \ level = \"medium\"\n            reason = \"当前输入涉及生命意义\"\n        need_safety_check\
          \ = True\n\n    if any(marker in q for marker in high_markers):\n      \
          \  level = \"high\"\n        need_safety_check = True\n        reason =\
          \ \"当前输入出现高危表达\"\n\n    # “准备好了 / 控制不住”必须和风险主题同时出现才升级 high\n    if any(marker\
          \ in q for marker in plan_markers) and any(word in q for word in risk_theme_words):\n\
          \        level = \"high\"\n        need_safety_check = True\n        reason\
          \ = \"当前输入出现计划或失控风险\"\n\n    if level in [\"medium\", \"high\"]:\n     \
          \   need_safety_check = True\n    else:\n        need_safety_check = False\n\
          \n    return {\n        \"risk_level\": level,\n        \"need_safety_check\"\
          : need_safety_check,\n        \"reason\": reason[:50]\n    }"
        code_language: python3
        outputs:
          need_safety_check:
            children: null
            type: boolean
          reason:
            children: null
            type: string
          risk_level:
            children: null
            type: string
        selected: false
        title: Risk detection parse
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: risk_text
        - value_selector:
          - sys
          - query
          value_type: string
          variable: current_query
        - value_selector:
          - '1780825876878'
          - transcript_text
          value_type: string
          variable: transcript_text
      height: 53
      id: '1779872124969'
      position:
        x: 1372
        y: 154.0928571428572
      positionAbsolute:
        x: 1372
        y: 154.0928571428572
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: d0351584-ef06-4515-a6f0-6bbe16005e1e
            value: low
            varType: string
            variable_selector:
            - '1779872124969'
            - risk_level
          - comparison_operator: is
            id: 522a2dd8-f543-49ea-80e4-4b23dd541c9a
            value: true
            varType: boolean
            variable_selector:
            - '1779872124969'
            - need_safety_check
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 3
        type: if-else
      height: 199
      id: '1779939911254'
      position:
        x: 2058
        y: 104.7595238095239
      positionAbsolute:
        x: 2058
        y: 104.7595238095239
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5313b581-1282-49e8-bea5-7e94140ec0f4
          role: system
          text: '你是一位心理危机安全回应助手。


            用户当前可能存在 medium 或 high 安全风险。


            如果 risk_level = medium：

            先温和接住用户的痛苦，但不要继续普通探索。优先做轻量安全确认：请用户先不要独处，联系一个现实中的人，或去客厅、楼下、公共空间这类更安全的位置。可以问一个安全相关的小问题，例如“你现在能不能先去有人在的地方坐一会儿？”


            如果 risk_level = high：

            保持明确安全动作：远离危险物品，联系现实中的人，不要独处；如果已经准备实施、工具在身边或控制不住，建议马上拨打当地紧急电话。中国大陆可拨 110
            或 120。


            禁止继续问“这个感觉从什么时候开始”“它像底色还是某个时刻”等普通探索问题。


            你的唯一目标是帮助用户立刻降低现实风险，不继续普通心理探索。


            必须做到：

            1. 直接说明现在先保证安全。

            2. 要求用户立刻远离危险物品或把危险物品放到够不到的地方。

            3. 要求用户立刻联系现实中的人：叫醒家人、找室友、邻居、朋友，或把当前情况发给可信任的人。

            4. 如果用户已经准备实施、工具在身边、控制不住，必须明确建议马上拨打当地紧急电话。中国大陆可拨 110 或 120。

            5. 要求用户不要独处。

            6. 不要继续询问药量、刀具细节、方式细节。

            7. 不要讲道理，不要分析原因，不要做长篇安慰。

            8. 禁止承诺持续陪伴。不要说“我会一直陪着你”“我陪着你到有人来”“我会一直在”“你可以一直和我说话直到安全”。可以说“现在最重要的是让现实中的人到你身边”。


            回复 4-6 句话，语气温和但明确。


            风险等级：

            {{#1779872124969.risk_level#}}


            风险原因：

            {{#1779872124969.reason#}}


            用户当前输入：

            {{#sys.query#}}


            本次对话记录：

            {{#1780825876878.transcript_text#}}'
        selected: false
        title: Crisis Safety Response
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779939946740'
      position:
        x: 2421
        y: 18.166666666666686
      positionAbsolute:
        x: 2421
        y: 18.166666666666686
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1779939946740.text#}}\"\n}"
          type: json
        desc: ''
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息 (1)
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '17799400383490'
      position:
        x: 2764
        y: 0
      positionAbsolute:
        x: 2764
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1779939946740.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1779940060929'
      position:
        x: 3107
        y: 51.83333333333337
      positionAbsolute:
        x: 3107
        y: 51.83333333333337
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 6d73b2c8-e1ef-4f6a-8068-47c5ca1e0113
          role: system
          text: '你是心理咨询助手的滚动咨询计划表更新模块。


            你的任务是根据旧计划表和本次咨询总结，更新一份“下一次咨询可接续使用”的阶段性咨询计划表。


            这不是诊断报告，不是治疗承诺，不是医疗建议。

            不要使用诊断标签、人格标签或过度心理学解释。

            不要把计划表写成给用户看的话，它是给下一次咨询参考的内部计划。


            # 输入信息


            旧计划表：

            {{#1780825876878.plan_text#}}


            本次咨询总结：

            {{#1779718251824.summary#}}


            本次核心主题：

            {{#1779718251824.core_topics#}}


            下次接续重点：

            {{#1779718251824.next_focus#}}


            # 更新原则


            1. 计划表是增量更新，不是机械重写。

            2. 只记录用户明确表达过、真实发生过、或本次总结中有证据支持的内容。

            3. 不把助手提出过但用户未接受、未尝试、未反馈的建议写成“用户计划”或“有效方法”。

            4. 不把一次性情绪写成长期模式。

            5. 不把假设写成事实。

            6. 不把用户任务未完成解释成懒惰、逃避、防御或不配合。

            7. 如果用户反馈任务未完成，应记录为“计划反馈”，并更新任务难度或方向。

            8. 如果用户反馈部分完成，应保留已发生的有效部分。

            9. 如果用户反馈连续行动或阶段性进展，应识别进展，但不要突然加压。

            10. 如果用户表达对 Agent 的质疑、反感、听不懂或不想被这样问，应记录为互动偏好或对话调整线索，不要写成用户抗拒。

            11. 如果本次没有足够有效信息，保留旧计划表，不要强行新增内容。


            # 必须包含的栏目


            请输出以下 12 个栏目：


            1. 当前主要困扰

            2. 阶段性理解

            3. 心理线计划

            4. 行动线计划

            5. 可验证指标

            6. 接下来 3-5 次咨询重点

            7. 上次最小行动及结果

            8. 当前主要阻碍

            9. 本次计划修正

            10. 进展判断方式

            11. 下一次咨询优先关注点

            12. 下次前最小行动


            # 各栏目要求


            当前主要困扰：

            - 写用户当前最核心的现实困扰或心理困扰。

            - 只写有证据的内容。


            阶段性理解：

            - 可以写谨慎理解，但不能诊断。

            - 不使用强解释标签。

            - 不把假设当结论。


            心理线计划：

            - 写下一次咨询中如何继续理解用户体验、关系、情绪或自我评价。

            - 重点是支持咨询关系、减少自责、允许用户表达不同意或不想做。


            行动线计划：

            - 写和用户现实目标有关的低压力行动方向。

            - 行动要小、可调整、可验证。

            - 不写庞大计划。


            可验证指标：

            - 写可以观察到的小信号。

            - 不写“恢复正常”“症状消失”“彻底改变”。

            - 指标应具体、低压力、可在下次咨询中回看。


            接下来 3-5 次咨询重点：

            - 每次只写一个重点。

            - 是咨询支持方向，不是课程表，不是训练营。

            - 不承诺几次一定好。


            上次最小行动及结果：

            - 记录用户有没有尝试上次动作：完成 / 部分完成 / 没完成 / 未反馈。

            - 如果没完成，只记录用户说出的阻碍。

            - 如果没有明确反馈，写“未反馈”。

            - 如果只是助手提出建议但用户还没试，不要写成已尝试。


            当前主要阻碍：

            - 只写用户说出的阻碍。

            - 可以包括任务过大、太抽象、启动成本高、压力太重、方向不清、外部条件限制等。

            - 不写人格判断。


            本次计划修正：

            - 根据本次反馈调整计划。

            - 任务太难则缩小。

            - 任务太小且用户觉得没意义，则换成更贴近现实目标但仍低压力的动作。

            - 用户不想记录，则减少记录类任务。

            - 用户有连续行动，则先稳定，不突然加码。


            进展判断方式：

            - 写一个很小的进展信号。

            - 必须可观察、可回看。

            - 不要求彻底解决。


            下一次咨询优先关注点：

            - 写下次最应该从哪里接。

            - 优先接本次最后主线。


            下次前最小行动：

            - 只能输出 1 条主动作。

            - 可以给最低完成版本，但必须包含在同一条里，不能拆成第二个任务。

            - 不额外附加记录、观察或分析任务。

            - 动作足够小，做不到也可以下次带回来讨论。

            - 如果用户本次明确表示不想做某类任务，不要再布置同类任务。


            # 输出要求


            - 直接输出更新后的计划表。

            - 不要 Markdown 表格。

            - 不要 JSON。

            - 每栏 1-3 条即可。

            - 不要机械累加旧内容。

            - 删除或改写过时、重复、不贴合本次情况的内容。'
        selected: false
        title: update_care_plan
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1779963775579'
      position:
        x: 4176
        y: 727.0119047619048
      positionAbsolute:
        x: 4176
        y: 727.0119047619048
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-3080
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"plan_text\"\
              : \"{{#1779963775579.text#}}\"\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存咨询计划表
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/care-plan
        variables: []
      height: 155
      id: '1779963867804'
      position:
        x: 4519
        y: 708.8452380952381
      positionAbsolute:
        x: 4519
        y: 708.8452380952381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import re\nimport json\nimport html\n\ndef strip_reasoning_blocks(text:\
          \ str) -> str:\n    text = re.sub(r\"<details[\\s\\S]*?</details>\", \"\"\
          , text, flags=re.I)\n    text = re.sub(r\"<think[\\s\\S]*?</think>\", \"\
          \", text, flags=re.I)\n    text = re.sub(r\"<[^>]+>\", \"\", text)\n   \
          \ return text\n\ndef normalize_text(text: str) -> str:\n    text = html.unescape(text\
          \ or \"\").strip()\n    text = re.sub(r\"^```(?:json|text|markdown)?\\s*\"\
          , \"\", text, flags=re.I)\n    text = re.sub(r\"\\s*```$\", \"\", text)\n\
          \    text = strip_reasoning_blocks(text)\n    text = re.sub(r\"\\n{3,}\"\
          , \"\\n\\n\", text)\n    return text.strip()\n\ndef main(profile_check_text:\
          \ str) -> dict:\n    if not profile_check_text:\n        return {\n    \
          \        \"should_save\": False,\n            \"profile_memory\": \"\",\n\
          \            \"reason\": \"empty\"\n        }\n\n    raw = normalize_text(profile_check_text)\n\
          \n    hard_pollution_markers = [\n        \"<details\",\n        \"<think\"\
          ,\n        \"Thinking\",\n        \"思考过程\",\n        \"分析过程\",\n       \
          \ \"我需要分析\",\n        \"我需要先\",\n        \"```\"\n    ]\n\n    if any(marker\
          \ in raw for marker in hard_pollution_markers):\n        return {\n    \
          \        \"should_save\": False,\n            \"profile_memory\": \"\",\n\
          \            \"reason\": \"contains_reasoning_or_markup\"\n        }\n\n\
          \    try:\n        data = json.loads(raw)\n    except Exception:\n     \
          \   return {\n            \"should_save\": False,\n            \"profile_memory\"\
          : \"\",\n            \"reason\": \"invalid_json\"\n        }\n\n    profile_memory\
          \ = normalize_text(data.get(\"profile_memory\", \"\"))\n    should_save\
          \ = bool(data.get(\"should_save\", True))\n    reason = str(data.get(\"\
          reason\", \"\")).strip() or \"ok\"\n\n    if not should_save:\n        return\
          \ {\n            \"should_save\": False,\n            \"profile_memory\"\
          : \"\",\n            \"reason\": reason\n        }\n\n    if len(profile_memory)\
          \ < 20:\n        return {\n            \"should_save\": False,\n       \
          \     \"profile_memory\": \"\",\n            \"reason\": \"too_short\"\n\
          \        }\n\n    if len(profile_memory) > 800:\n        profile_memory\
          \ = profile_memory[:800].rstrip()\n\n    return {\n        \"should_save\"\
          : True,\n        \"profile_memory\": profile_memory,\n        \"reason\"\
          : reason\n    }"
        code_language: python3
        outputs:
          profile_memory:
            children: null
            type: string
          reason:
            children: null
            type: string
          should_save:
            children: null
            type: boolean
        selected: false
        title: profile parse
        type: code
        variables:
        - value_selector:
          - '1780040399983'
          - text
          value_type: string
          variable: profile_check_text
      height: 53
      id: '1780038042537'
      position:
        x: 4862
        y: 572.6785714285714
      positionAbsolute:
        x: 4862
        y: 572.6785714285714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 77fb0f42-5ba7-4750-8f27-fa2be27fd0d1
          role: system
          text: "你是长期心理画像质检与改写模块。\n\n你会看到三类信息：\n\n1. 旧的长期画像\n2. 本次咨询对话记录\n3. 上一个节点生成的画像草稿\n\
            \n你的任务不是重新做心理分析，而是检查画像草稿是否适合保存。\n如果画像草稿里有诊断、人格判断、心理学标签、理论化解释，不要直接丢弃，而是根据本次对话记录改写成用户明确表达过的中性事实。\n\
            \n判断优先级：\n本次咨询对话记录 > 旧的长期画像 > 画像草稿\n\n只允许保留：\n- 用户明确说过的事实\n- 用户反复提到的现实压力\n\
            - 用户自己的表达方式\n- 用户对咨询方式的偏好\n- 用户试过但觉得有效/无效的方法\n- 下次可以接续的具体点\n\n必须删除或改写：\n\
            - 诊断\n- 人格判断\n- 心理学标签\n- 理论化解释\n- 没有对话依据的推测\n- 模型思考过程\n- HTML / Markdown\
            \ / 代码块\n\n如果草稿内容基本可修正，就 should_save = true。\n只有当草稿主要是模型思考过程、HTML污染、空内容、严重不可读时，才\
            \ should_save = false。\n\n禁止把“用户主动结束”“用户追问任务”“用户质疑问题”解释成不满、防御、逃避、缺乏耐心。\n\
            除非用户明确说“不满/不舒服/不想继续”，否则只能中性记录行为。\n\n只输出 JSON，不要输出其他文字：\n\n{\n  \"should_save\"\
            : true,\n  \"profile_memory\": \"改写后的长期画像正文\",\n  \"reason\": \"ok\"\n\
            }\n\n旧的长期画像：\n{{#1780825876878.profile_memory#}}\n\n本次咨询对话记录：\n{{#1780825876878.transcript_text#}}\n\
            \n画像草稿：\n{{#1779868007113.text#}}"
        selected: false
        title: Profile Quality Check
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1780040399983'
      position:
        x: 4519
        y: 539.8452380952381
      positionAbsolute:
        x: 4519
        y: 539.8452380952381
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: b2013c30-3b77-4654-b59c-1df2b78cc053
            value: true
            varType: boolean
            variable_selector:
            - '1780038042537'
            - should_save
          - comparison_operator: not empty
            id: 776ef17b-28d0-450f-81a3-e0a609d064b9
            value: ''
            varType: string
            variable_selector:
            - '1780038042537'
            - profile_memory
          id: 'true'
          logical_operator: and
        selected: false
        title: 是否保存用户长期画像
        type: if-else
      height: 191
      id: '1780041151933'
      position:
        x: 5205
        y: 512.5119047619048
      positionAbsolute:
        x: 5205
        y: 512.5119047619048
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-171
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\"\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Finalize Session
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session/finalize
        variables: []
      height: 155
      id: '1780051156476'
      position:
        x: 4862
        y: 734.6785714285714
      positionAbsolute:
        x: 4862
        y: 734.6785714285714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 0547584a-7ca7-445a-a062-594069503489
          role: system
          text: '你是一位经验丰富的心理咨询师。


            本次正式咨询已经结束，并且本次总结、长期画像和咨询计划已经保存过。

            你现在不能继续展开新的咨询内容，也不要再次总结整场咨询。


            最重要规则：

            必须优先回应用户当前输入。

            用户当前输入的优先级高于历史对话。

            不要被历史对话里的任务、总结或示例带偏。


            如果用户当前输入类似：

            “还能聊吗”

            “不能聊了吗”

            “啊，不能聊了吗”

            “还可以继续吗”

            “现在不能说了吗”


            你要温和说明：这次正式咨询已经结束，今天先不继续展开新的内容。

            不要重复收尾任务。

            不要说“刚才给了两个方向”。

            不要重新生成计划。


            可以回复：

            “这次正式咨询已经结束了，所以今天先不继续展开新的内容。你刚才这种‘还想继续聊’的感觉可以留到下次一开始说，我们下次就从这里接。”


            如果用户明确是在澄清收尾任务，例如：

            “那我到底做哪个？”

            “是数5下还是回想？”

            “刚才不是说另一个吗？”

            “任务是什么？”


            如果用户需要澄清任务，必须以本次对话中最后一次正式收尾回复里的任务为准。

            不要使用示例里的固定任务。

            不要临时改任务。。”


            如果用户开启新话题：

            简短接住，但提醒留到下次正式咨询继续。

            不要展开分析。


            回复 1-3 句话。

            不要输出 Markdown。

            不要输出 JSON。

            不要再次布置新任务。

            不要再次总结整场咨询。


            用户当前输入：

            {{#sys.query#}}


            本次咨询对话：

            {{#1780825876878.transcript_text#}}


            请只根据用户当前输入，输出结束后的简短回应。'
        selected: false
        title: POST SESSION RESPONSE
        type: llm
        vision:
          enabled: false
      height: 89
      id: '1780061016312'
      position:
        x: 2784
        y: 253
      positionAbsolute:
        x: 2784
        y: 253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-631
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"session_id\"\
              : \"{{#1780825876878.session_id#}}\",\n  \"role\": \"assistant\",\n\
              \  \"content\": \"{{#1780061016312.text#}}\"\n}"
          type: json
        desc: ''
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        isInIteration: false
        isInLoop: false
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 保存助手消息（end）
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/session-message
        variables: []
      height: 155
      id: '17800612389130'
      position:
        x: 3127
        y: 234.83333333333337
      positionAbsolute:
        x: 3127
        y: 234.83333333333337
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1780061016312.text#}}'
        desc: ''
        isInIteration: false
        isInLoop: false
        selected: false
        title: 直接回复 2 (1)
        type: answer
        variables: []
      height: 103
      id: '17800612687800'
      position:
        x: 3470
        y: 286.6666666666667
      positionAbsolute:
        x: 3470
        y: 286.6666666666667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1167
            key: ''
            type: text
            value: "{\n  \"user_id\": \"{{#1779204939074.user_id#}}\",\n  \"query\"\
              : \"{{#sys.query#}}\"\n}"
          type: json
        headers: X-Backend-Token:{{#env.BACKEND_SHARED_TOKEN#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 用户信息聚合查询
        type: http-request
        url: https://ai-assistant-psy-mvp.619569391.workers.dev/dify/turn-prep
        variables: []
      height: 155
      id: '1780825750403'
      position:
        x: 343
        y: 53.59285714285721
      positionAbsolute:
        x: 343
        y: 53.59285714285721
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\n\ndef as_bool(value, default=False):\n    if isinstance(value,\
          \ bool):\n        return value\n    if isinstance(value, (int, float)):\n\
          \        return value != 0\n    if isinstance(value, str):\n        return\
          \ value.strip().lower() in [\"true\", \"1\", \"yes\", \"y\", \"是\"]\n  \
          \  return default\n\n\ndef as_int(value, default=0):\n    try:\n       \
          \ return int(value)\n    except Exception:\n        return default\n\n\n\
          def as_str(value, default=\"\"):\n    if value is None:\n        return\
          \ default\n    if isinstance(value, str):\n        return value\n    return\
          \ json.dumps(value, ensure_ascii=False)\n\n\ndef pick(*values, default=None):\n\
          \    for value in values:\n        if value is not None:\n            return\
          \ value\n    return default\n\n\ndef build_transcript(messages):\n    lines\
          \ = []\n    if not isinstance(messages, list):\n        return \"\"\n\n\
          \    for item in messages:\n        if not isinstance(item, dict):\n   \
          \         continue\n\n        role = item.get(\"role\", \"\")\n        content\
          \ = as_str(item.get(\"content\", \"\")).strip()\n        if not content:\n\
          \            continue\n\n        if role == \"user\":\n            label\
          \ = \"用户\"\n        elif role == \"assistant\":\n            label = \"\
          助手\"\n        else:\n            label = role or \"消息\"\n\n        lines.append(f\"\
          {label}: {content}\")\n\n    return \"\\n\".join(lines)\n\n\ndef main(body)\
          \ -> dict:\n    try:\n        if isinstance(body, str):\n            data\
          \ = json.loads(body) if body.strip() else {}\n        elif isinstance(body,\
          \ dict):\n            data = body\n        else:\n            data = {}\n\
          \    except Exception as e:\n        return {\n            \"parse_ok\"\
          : False,\n            \"success\": False,\n            \"message\": f\"\
          turn-prep 返回解析失败: {str(e)}\",\n            \"can_continue\": False,\n  \
          \          \"can_continue_text\": \"false\",\n            \"context_text\"\
          : \"暂无历史上下文。\",\n            \"transcript_text\": \"\",\n            \"\
          plan_text\": \"暂无咨询计划表。\",\n        }\n\n    session_status = data.get(\"\
          session_status\") or {}\n    message_save = data.get(\"message_save\") or\
          \ {}\n    context = data.get(\"context\") or {}\n    transcript = data.get(\"\
          transcript\") or {}\n    care_plan = data.get(\"care_plan\") or {}\n\n \
          \   transcript_text = as_str(\n        pick(\n            data.get(\"transcript_text\"\
          ),\n            transcript.get(\"transcript_text\"),\n            transcript.get(\"\
          text\"),\n            default=\"\"\n        )\n    ).strip()\n\n    if not\
          \ transcript_text:\n        transcript_text = build_transcript(transcript.get(\"\
          messages\"))\n\n    context_text = as_str(\n        pick(\n            data.get(\"\
          context_text\"),\n            context.get(\"context_text\"),\n         \
          \   default=\"\"\n        )\n    ).strip() or \"暂无历史上下文。\"\n\n    plan_text\
          \ = as_str(\n        pick(\n            data.get(\"plan_text\"),\n     \
          \       care_plan.get(\"plan_text\"),\n            care_plan.get(\"content\"\
          ),\n            default=\"\"\n        )\n    ).strip() or \"暂无咨询计划表。\"\n\
          \n    can_continue = as_bool(\n        pick(data.get(\"can_continue\"),\
          \ session_status.get(\"can_continue\")),\n        False\n    )\n\n    final_saved\
          \ = as_bool(\n        pick(data.get(\"final_saved\"), session_status.get(\"\
          final_saved\")),\n        False\n    )\n\n    has_transcript = as_bool(\n\
          \        pick(data.get(\"has_transcript\"), transcript.get(\"has_transcript\"\
          )),\n        bool(transcript_text)\n    )\n\n    user_message_saved = as_bool(\n\
          \        pick(\n            data.get(\"user_message_saved\"),\n        \
          \    message_save.get(\"success\"),\n            message_save.get(\"saved\"\
          )\n        ),\n        False\n    )\n\n    care_plan_exists = as_bool(\n\
          \        pick(data.get(\"care_plan_exists\"), care_plan.get(\"exists\")),\n\
          \        bool(plan_text and plan_text != \"暂无咨询计划表。\")\n    )\n\n    return\
          \ {\n        \"parse_ok\": True,\n        \"success\": as_bool(data.get(\"\
          success\"), True),\n\n        \"user_id\": as_str(data.get(\"user_id\")),\n\
          \        \"session_id\": as_str(pick(data.get(\"session_id\"), session_status.get(\"\
          session_id\"))),\n        \"status\": as_str(pick(data.get(\"status\"),\
          \ session_status.get(\"status\"))),\n\n        \"session_stage\": as_str(\n\
          \            pick(\n                data.get(\"session_stage\"),\n     \
          \           data.get(\"stage\"),\n                session_status.get(\"\
          session_stage\"),\n                session_status.get(\"stage\"),\n    \
          \            default=\"\"\n            )\n        ),\n        \"stage\"\
          : as_str(\n            pick(\n                data.get(\"stage\"),\n   \
          \             data.get(\"session_stage\"),\n                session_status.get(\"\
          stage\"),\n                session_status.get(\"session_stage\"),\n    \
          \            default=\"\"\n            )\n        ),\n\n        \"can_continue\"\
          : can_continue,\n        \"can_continue_text\": \"true\" if can_continue\
          \ else \"false\",\n\n        \"can_start_new_session\": as_bool(\n     \
          \       pick(data.get(\"can_start_new_session\"), session_status.get(\"\
          can_start_new_session\")),\n            False\n        ),\n        \"daily_limit_reached\"\
          : as_bool(\n            pick(data.get(\"daily_limit_reached\"), session_status.get(\"\
          daily_limit_reached\")),\n            False\n        ),\n\n        \"is_new_session\"\
          : as_bool(\n            pick(data.get(\"is_new_session\"), session_status.get(\"\
          is_new_session\")),\n            False\n        ),\n        \"is_new_session_str\"\
          : as_str(\n            pick(data.get(\"is_new_session_str\"), session_status.get(\"\
          is_new_session_str\"), default=\"false\")\n        ),\n\n        \"remaining_minutes\"\
          : as_int(\n            pick(data.get(\"remaining_minutes\"), session_status.get(\"\
          remaining_minutes\")),\n            0\n        ),\n        \"elapsed_minutes\"\
          : as_int(\n            pick(data.get(\"elapsed_minutes\"), session_status.get(\"\
          elapsed_minutes\")),\n            0\n        ),\n\n        \"message\":\
          \ as_str(pick(data.get(\"message\"), session_status.get(\"message\"))),\n\
          \        \"final_saved\": final_saved,\n        \"final_saved_text\": \"\
          true\" if final_saved else \"false\",\n\n        \"risk_level\": as_str(\n\
          \            pick(data.get(\"risk_level\"), message_save.get(\"risk_level\"\
          ), session_status.get(\"risk_level\"))\n        ),\n\n        \"user_message_saved\"\
          : user_message_saved,\n        \"user_message_saved_text\": \"true\" if\
          \ user_message_saved else \"false\",\n        \"user_message_risk_level\"\
          : as_str(\n            pick(data.get(\"user_message_risk_level\"), message_save.get(\"\
          risk_level\"))\n        ),\n\n        \"context_text\": context_text,\n\
          \        \"profile_memory\": as_str(pick(data.get(\"profile_memory\"), context.get(\"\
          profile_memory\"))),\n        \"recent_screening\": as_str(pick(data.get(\"\
          recent_screening\"), context.get(\"recent_screening\"))),\n        \"recent_session_summaries\"\
          : as_str(\n            pick(data.get(\"recent_session_summaries\"), context.get(\"\
          recent_session_summaries\"))\n        ),\n        \"recent_memories\": as_str(pick(data.get(\"\
          recent_memories\"), context.get(\"recent_memories\"))),\n\n        \"transcript_text\"\
          : transcript_text,\n        \"message_count\": as_int(pick(data.get(\"message_count\"\
          ), transcript.get(\"message_count\")), 0),\n        \"has_transcript\":\
          \ has_transcript,\n        \"has_transcript_text\": \"true\" if has_transcript\
          \ else \"false\",\n\n        \"care_plan_exists\": care_plan_exists,\n \
          \       \"care_plan_exists_text\": \"true\" if care_plan_exists else \"\
          false\",\n        \"plan_text\": plan_text,\n        \"care_plan_updated_at\"\
          : as_str(\n            pick(data.get(\"care_plan_updated_at\"), care_plan.get(\"\
          updated_at\"))\n        ),\n    }"
        code_language: python3
        outputs:
          can_continue:
            children: null
            type: boolean
          can_continue_text:
            children: null
            type: string
          can_start_new_session:
            children: null
            type: boolean
          care_plan_exists:
            children: null
            type: boolean
          care_plan_exists_text:
            children: null
            type: string
          care_plan_updated_at:
            children: null
            type: string
          context_text:
            children: null
            type: string
          daily_limit_reached:
            children: null
            type: boolean
          elapsed_minutes:
            children: null
            type: number
          final_saved:
            children: null
            type: boolean
          final_saved_text:
            children: null
            type: string
          has_transcript:
            children: null
            type: boolean
          has_transcript_text:
            children: null
            type: string
          is_new_session:
            children: null
            type: boolean
          is_new_session_str:
            children: null
            type: string
          message:
            children: null
            type: string
          message_count:
            children: null
            type: number
          parse_ok:
            children: null
            type: boolean
          plan_text:
            children: null
            type: string
          profile_memory:
            children: null
            type: string
          recent_memories:
            children: null
            type: string
          recent_screening:
            children: null
            type: string
          recent_session_summaries:
            children: null
            type: string
          remaining_minutes:
            children: null
            type: number
          risk_level:
            children: null
            type: string
          session_id:
            children: null
            type: string
          session_stage:
            children: null
            type: string
          stage:
            children: null
            type: string
          status:
            children: null
            type: string
          success:
            children: null
            type: boolean
          transcript_text:
            children: null
            type: string
          user_id:
            children: null
            type: string
          user_message_risk_level:
            children: null
            type: string
          user_message_saved:
            children: null
            type: boolean
          user_message_saved_text:
            children: null
            type: string
        selected: false
        title: 聚合查询解析
        type: code
        variables:
        - value_selector:
          - '1780825750403'
          - body
          value_type: string
          variable: body
      height: 53
      id: '1780825876878'
      position:
        x: 686
        y: 130.42619047619053
      positionAbsolute:
        x: 686
        y: 130.42619047619053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: |-
          import json


          def as_bool(value, default=False):
              if isinstance(value, bool):
                  return value
              if isinstance(value, (int, float)):
                  return value != 0
              if isinstance(value, str):
                  return value.strip().lower() in ["true", "1", "yes", "y", "是"]
              return default


          def main(
              end_intent_text: str = "",
              current_query: str = "",
              can_continue=True,
              session_stage: str = "",
              remaining_minutes=50,
          ) -> dict:
              try:
                  data = json.loads(end_intent_text) if isinstance(end_intent_text, str) and end_intent_text.strip() else {}
              except Exception:
                  data = {}

              query = (current_query or "").strip()
              explicit_end_markers = [
                  "不想聊了", "先不聊了", "今天到这里", "今天就到这",
                  "结束咨询", "结束对话", "下次再聊", "我想结束",
              ]
              fatigue_markers = ["困了", "好困", "累了", "想睡", "没力气"]
              explicit_end = any(marker in query for marker in explicit_end_markers)
              fatigue_only = any(marker in query for marker in fatigue_markers) and not explicit_end

              model_wants_end = as_bool(data.get("user_wants_end"), False)
              confidence = data.get("confidence", 0)
              try:
                  confidence = float(confidence)
              except Exception:
                  confidence = 0.0

              if fatigue_only:
                  return {
                      "user_wants_end": False,
                      "should_close": False,
                      "confidence": confidence,
                      "reason": "fatigue_without_explicit_end",
                  }

              try:
                  remaining = float(remaining_minutes)
              except Exception:
                  remaining = 50.0
              forced_close = (
                  not as_bool(can_continue, True)
                  or remaining <= 0
                  or (session_stage or "").strip().lower() in ["closing", "ending", "ended", "closed"]
              )
              user_wants_end = explicit_end or (model_wants_end and confidence >= 0.7)
              return {
                  "user_wants_end": user_wants_end,
                  "should_close": forced_close or user_wants_end,
                  "confidence": confidence,
                  "reason": "explicit_end" if explicit_end else str(data.get("reason") or "continue"),
              }
        code_language: python3
        outputs:
          confidence:
            children: null
            type: number
          reason:
            children: null
            type: string
          should_close:
            children: null
            type: boolean
          user_wants_end:
            children: null
            type: boolean
        selected: false
        title: 结束意图解析兼容
        type: code
        variables:
        - value_selector:
          - '1779205391389'
          - text
          value_type: string
          variable: end_intent_text
        - value_selector:
          - sys
          - query
          value_type: string
          variable: current_query
        - value_selector:
          - '1780825876878'
          - can_continue
          value_type: boolean
          variable: can_continue
        - value_selector:
          - '1780825876878'
          - session_stage
          value_type: string
          variable: session_stage
        - value_selector:
          - '1780825876878'
          - remaining_minutes
          value_type: number
          variable: remaining_minutes
      height: 53
      id: '1779968610422'
      position:
        x: 2058
        y: 1015
      positionAbsolute:
        x: 2058
        y: 1015
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -856.303961620169
      y: 589.9270565773029
      zoom: 0.7
  rag_pipeline_variables: []
